#
# Content managers configuration
# ------------------------------
#

# Default content manager id
shotoku.id.default = default

# All ids that will be available for use
shotoku.ids = default

# Definitions of content managers
shotoku.default.implementation = org.jboss.shotoku.svn.SvnContentManager
shotoku.default.url = 
shotoku.default.username = 
shotoku.default.password =
shotoku.default.localpath =
shotoku.default.fullupdate = 1
# Should externals be checked out during an update of the WC.
shotoku.default.externals = true

# shotoku.file.implementation = org.jboss.shotoku.files.FileContentManager
# shotoku.file.localpath =

# shotoku.jcr.implementation = org.jboss.shotoku.jcr.JcrContentManager
# shotoku.jcr.connector = org.jboss.shotoku.jcr.JackrabbitJcrConnector
# shotoku.jcr.configfile =
# shotoku.jcr.username =
# shotoku.jcr.password =
# shotoku.jcr.localpath =

#
# General configuration
# ---------------------
#

# Embedded/ application server mode
shotoku.embedded = false

# Size of a byte array that is allocated when transferring files to/from
# the client
shotoku.transfer.buffer.size = 1024

#
# Feeds configuration
# -------------------
#

# Content manager and directory in which feeds.properties is placed in shotoku
shotoku.internal.feeds.configcmid =
shotoku.internal.feeds.configdir =

# Interval between feed updates, in milliseconds
shotoku.internal.feeds.service.interval = 600000
shotoku.internal.feeds.service.conn_timeout = 5000
shotoku.internal.feeds.service.read_timeout = 3000

#
# Tags configuration
# ------------------
#

# Should synchronization of tags be done
shotoku.internal.tags.synchronization = 1

# Content manager and base directory with which synchronization of Shotoku tags
# will be done
shotoku.internal.tags.cmid =
shotoku.internal.tags.cmdir =

# Interval between tag synchronization updates, in milliseconds
shotoku.internal.tags.service.interval = 600000


#
# Tests configuration
# -------------------
#

# Content manager and base directory in which tests will be done
shotoku.internal.tests.id = default
shotoku.internal.tests.dir = shotoku-test

#
# SVN content manager service configuration
# -----------------------------------------

# Interval between working copy updates, in milliseconds
shotoku.internal.svn.service.interval = 5000

# A debugging property which, when set to 0, will cause repositories not to be
# updated for the first time when being registered.
shotoku.internal.svn.service.firstupdate = 1
