<p>$msgs.format("jsf.email.passwordreset.DearName", $toName)</p>

<p>$msgs.get("jsf.email.passwordreset.FollowLinkToResetPassword")</p>

<p>$msgs.get("jsf.email.passwordreset.IgnoreIfNotRequested")</p>

<p>
  <a
    href="$serverPath/account/password_reset/$activationKey">
    $serverPath/account/password_reset/$activationKey
  </a>
</p>
