.toolbar {
  padding-top: 1.429rem;
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
}

span.languageCode {
  font-size: 0.9rem;
  color: #aaa;
}

#btnLanguageAdd {
  margin-left: 0.8rem;
}

.toolbar .sortItems {
  padding-bottom: 0.62rem;
  padding-right: 0;
}

.toolbar .showItems {
  padding-bottom: 0.62rem;
  padding-right: 0;
  width: auto;
}

.toolbar .pageCount {
  padding-bottom: 1rem;
  padding-left: 0;
}

.searchBox {
  width: 50%;
  flex-grow: 1;
}

.showItems {
  display: inline-flex;
  flex-grow: 0;
}

.showItems .form-control {
  margin-left: 0.2rem;
}

.sortItems {
  margin-left: 0.62rem;
}

.showItems span {
  margin-top: 0.31rem;
  margin-left: 0.62rem;
}

.showItems {
  display: inline-flex;
}

.showItems .form-control {
  margin-left: 0.2rem;
}

.glossaryHeader .Select-menu-outer {
  top: 0 !important;
  position: relative;
}

.toolbar .pageCount {
  padding-bottom: 0.62rem;
  padding-left: 0;
}

.searchBox svg {
  vertical-align: text-bottom;
}

@media (min-width: 992px) {

  .showItems {
    clear: none !important;
  }

}

