@import "../../styles/variables.less";

:root {
  --LanguagesLangCode-fontSize: 0.9rem;
}

.toolbar {
  padding-top: @spacing-hr;
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
}

span.languageCode {
  font-size: var(--LanguagesLangCode-fontSize);
  color: #aaa;
}

#btnLanguageAdd {
  margin-left: @spacing-large-vertical;
}

.toolbar .sortItems {
  padding-bottom: @spacing-large-horizontal;
  padding-right: 0;
}

.toolbar .showItems {
  padding-bottom: @spacing-large-horizontal;
  padding-right: 0;
  width: auto;
}

.toolbar .pageCount {
  padding-bottom: @spacing-base;
  padding-left: 0;
}

.searchBox {
  width: 50%;
  flex-grow: 1;
}

.showItems {
  display: inline-flex;
  flex-grow: 0;
}

.showItems .form-control {
  margin-left: @spacing-label-large;
}

.sortItems {
  margin-left: @spacing-large-horizontal;
}

.showItems span {
  margin-top: @spacing-small-horizontal;
  margin-left: @spacing-large-horizontal;
}

.showItems {
  display: inline-flex;
}

.showItems .form-control {
  margin-left: @spacing-label-large;
}

.glossaryHeader .Select-menu-outer {
  top: 0 !important;
  position: relative;
}

.toolbar .pageCount {
  padding-bottom: @spacing-large-horizontal;
  padding-left: 0;
}

.searchBox svg {
  vertical-align: text-bottom;
}

.reactList {
  height: auto;
}

.reactAutoSuggest-container {
  position: relative;
}

.reactAutoSuggest-input {
  border: 0;
  width: 100%;
}

.reactAutoSuggest-input:focus {
  outline: 0;
}

.reactAutoSuggest-container--open .reactAutoSuggest-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.reactAutoSuggest-suggestionsContainer {
  display: none;
}

.reactAutoSuggest-container--open .reactAutoSuggest-suggestionsContainer {
  display: block;
  position: absolute;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: @border-radius-base;
  border-bottom-right-radius: @border-radius-base;
  z-index: 2;
}

.reactAutoSuggest-suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reactAutoSuggest-suggestion {
  cursor: pointer;
  padding: 0.4em 0.5rem;
}

.reactAutoSuggest-suggestion--highlighted {
  background-color: @color-neutral;
}

input.react-autosuggest__input {
  padding: 0;
  border: none;
}

input.react-autosuggest__input:focus  {
  outline: 0;
}

.noSuggestions {
  margin-top: @spacing-large-horizontal;
  padding-left: @spacing-base;
}

@media (min-width: @screen-md-min) {
  .showItems {
    clear: none !important;
  }
}
