
/* Shorten with an ellipsis when overflowing */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Editor-suggestionsBody .TransUnit--suggestion .TransUnit-text--tight {
    padding-top: 0 !important;
    font-size:1em;
}

.TransUnit--suggestion .TransUnit-text--tight {
    padding-top:40px !important;
    font-size:1.2em;
}
/* Based on bootstrap styles. */

:root {
    --brand-secondary: #03A6D7;
    --brand-primary:   #546677;
    --brand-info:      #00A5D9;
    --brand-success:   #62c876;

    --border-radius-base:       4px;
    --border-radius-small:      3px;

    --padding-base-vertical:    8px;
    --padding-small-horizontal: 10px;
    --padding-large-vertical:   14px;
}

.panel-group {
    margin-bottom: 1.429em;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: var(--border-radius-base);
}

.panel-group .panel + .panel {
    margin-top: 0.357em;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid #ddd;
}

.panel-group .panel-footer {
    border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #ddd;
}

.panel {
    margin-bottom: 1.429em;
    border: 1px solid transparent;
    border-radius: var(--border-radius-base);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background-color: #fcfcfc;
}

.panel-body {
    padding: var(--padding-large-vertical);
    color: var(--brand-primary);
    font-size: 1em;
}

.panel-body h3 {
    margin-top:0;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    font-size: 1.143em;
    padding-bottom:0
}

.panel.panel-side {
    padding: var(--padding-base-vertical);
    border: solid 1px #ddd !important;
    background-color: #fff !important;
}

.panel-heading {
    padding: var(--padding-small-horizontal);
    border-bottom: 1px solid transparent;
    border-top-left-radius: var(--border-radius-small);
    border-top-right-radius: var(--border-radius-small);
    font-size: 1.1em !important;
    font-weight: 600;
    color: var(--brand-secondary);
    background-color: #fff;
}

.panel-info > .panel-heading {
    border-bottom: solid 1px var(--brand-info);
    color:#fff;
    background-color: var(--brand-info);
}

.panel-title > .small,
.panel-title > .small > a,
.panel-title > a,
.panel-title > small,
.panel-title > small > a {
    color: inherit;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    overflow: hidden;
    height: 0;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}

.Z\(modal\) {
    z-index: 1000 !important;
}

.label-primary {
    background-color: #337ab7;
}

.label-success {
    background-color: var(--brand-success);
}

.label-info {
    background-color: var(--brand-info);
}

.source-heading {
    padding-left: 1.1em;
    top: inherit;
    line-height: 3em;
    font-weight: 600;
}

.target-heading {
    padding-left: 1.9em;
    top: inherit;
    line-height: 3em;
    font-weight: 600;
}

.label {
    font-size: 70%;
    font-weight: 600;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: super;
    white-space: nowrap;
    color: #fff;
    border-radius: 0.25em;
}

.TransUnit-details {
    white-space:normal;
    word-break: break-all;
    line-height:1em;
}

.TransUnit-details .u-listInline {
    display:inline-flex;
    width:100%;
}

li.TransUnit-label-suggestions {
    margin-bottom: 0.375rem;
}

span.TransUnit-details-inner {
    padding-left:0.375em;
    font-weight:bold;
}
