.Resizer {
  background: rgba(255, 255, 255, 0);
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer.horizontal {
  width: 100%;
  height: 10px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
}


.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

/*
  This is needed to fix flicker screen in chrome for
  css3 transform
*/
.Pane {
  display: block!important;
}

/* Old resizer component from Angular

.Resizer {
  position: absolute;
  z-index: 1000;
}

.Resizer--vertical {
  cursor: ew-resize;
  width: 12px;
  top: 0;
  bottom: 0;
}

.Resizer--horizontal {
  height: 12px;
  left: 0;
  right: 0;
  cursor: ns-resize;
}

*/
