<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>tagsTestServlet</servlet-name>
		<servlet-class>org.jboss.shotoku.tags.test.TagsTestServlet</servlet-class>
	</servlet>
   
	<servlet-mapping>
		<servlet-name>tagsTestServlet</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>
</web-app>
