
*~
*.patch
# Include patches used for the publick package
!/zanata-war/etc/public-package/patches/**/*.patch

*.sedbak
zanatasearchindex/
test-output/
hs_err_pid*.log
localDB.log
localDB.properties

/.pc/
/.ant-targets-build.xml
/.pages.xml.spdia
temp-testng-customsuite.xml
*_qc.properties

# eclipse and maven stuff
.classpath
.metadata/
.settings/
.project
bin/
/target/
/*/target/
/*/*/target/
*.orig
.pages.xml.spdia
# eclipse scrapbook page:
*.jpage

*.pdf

# idea
*.idea/
*.iml

# kde related
*.directory

#gwt related
.gwt-log
*.gwt-tmp
/zanata-war/src/main/webapp/WEB-INF/deploy/
/zanata-war/src/main/webapp/webtrans/

# vim
*.swp


# binary files
*.class
*.cli
*.exe
*.jar
*.war
*.zip

# temp files
*.log
*.temp
*.tmp
/tmp*
*.bak

# Gradle files
.gradle/
