# Make this rpm compatible with older RHEL versions
%global _source_filedigest_algorithm 1
%global _binary_filedigest_algorithm 1
%global _binary_payload w9.gzdio
%global _source_payload w9.gzdio

%define  _webappsdir %{_datadir}/webapps

Name: zanata
Version: $version
Release: $release
#if $epoch
Epoch: $epoch
#end if
License: LGPL
Summary: Zanata translation tool
Group: Development/Libraries/Java
URL: http://www.zanata.org/

#set $i = 0
#for $artifact in $all_artifacts
Source$i: $artifact
#set $i += 1
#end for

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root-%(%{__id_u} -n)
BuildArch: noarch

%description
Artifacts for zanata

%prep

%build

%install
rm -rf %{buildroot}
/usr/bin/install -d %{buildroot}%{_webappsdir}
/usr/bin/install -d %{buildroot}%{_webappsdir}/%{name}
mkdir -p %{buildroot}/var/lib/zanata/index

#set $i = 0
#for $artifact in $all_artifacts
  #if $artifact.endswith('.war')
mkdir %{buildroot}%{_webappsdir}/%{name}/$artifact
unzip -d %{buildroot}%{_webappsdir}/%{name}/$artifact %{SOURCE$i} 
  #elif $artifact.endswith('.ear')
mkdir %{buildroot}%{_webappsdir}/%{name}/$artifact
unzip -d %{buildroot}%{_webappsdir}/%{name}/$artifact %{SOURCE$i}
  #else
/usr/bin/install -m 644 %{SOURCE$i} %{buildroot}%{_webappsdir}/%{name}
  #end if
  #set $i += 1
#end for
cd %{buildroot}%{_webappsdir}/%{name}
ln -s zanata-war-*.war zanata.war
cd -

%clean
rm -rf %{buildroot}

%files
%dir %{_webappsdir}
%dir %{_webappsdir}/%{name}
%{_webappsdir}/%{name}/*
/var/lib/zanata/index

%changelog
* Fri Nov 25 2011 Graeme Gillies<ggillies@redhat.com> - 1.4.3-alpha-2
- Initial version
