/** Add css rules here for your application. */
body {
	background-color: #f8f9fa;
}

/*
Removes some of the styling on the page-level splitters
*/
.PageSplitLayoutPanel>div>div.gwt-SplitLayoutPanel-HDragger {
	background: none;
}

.PageSplitLayoutPanel>div>div.gwt-SplitLayoutPanel-VDragger {
	background: none;
}

.CenterDiv {
	margin-right: auto;
	margin-left: auto;
	width: auto;
}

#DocumentListView,#TransFilterView,#WorkspaceUsersView {
	padding-bottom: 5px;
	width: 100%;
}

.DocumentListViewMainPanel { //
	width: 100%;
	width: 205px;
}

#WestNavigationView {
	padding-left: 3px;
	padding-right: 3px;
	height: 100%;
	width: 220px;
	overflow: hidden;
}

.LeftContentNavBar {
	
}

.LeftContentNavBar .gwt-CaptionPanel {
	margin-bottom: 3px;
}

.gwt-CollapsiblePanel { //
	width: 220px;
}

.gwt-HeadingPanel .topLeftInner,.gwt-HeadingPanel .topRightInner {
	height: 40px;
	width: 5px;
	background-color: d0e4f6;
}

.gwt-HeadingPanel .topCenterInner {
	height: 40px;
	background-color: d0e4f6;
}

.gwt-HeadingPanelTitle {
	font-size: 15px;
	color: grey;
}

.FilterTree {
	width: 100%;
}

.gwt-FilterBox {
	font-size: 12px;
	width: 100%;
}

.gwt-FilterBox-Vacant {
	font-style: italic;
	color: grey;
}

.gwt-FilterBox-Occupied {
	font-style: plain;
	color: black;
}

.gwt-CaptionPanel-Heading {
	font-weight: bold;
	width: 100%;
	background-color: d0e4f6;
	padding-bottom: 5px;
}

.gwt-TreeItem-selected .gwt-Label {
	background-color: #C3D9FF;;
}

.gwt-TreeItem-selected {
	background-color: #C3D9FF;;
}

.gwt-CaptionPanel-Collapse {
	background-color: #d5e9fa;
	border: 1px solid #c8dbec;
	padding: 1px;
	margin: 0px;
	font-family: monospace;
}

.gwt-CaptionPanel tr.middle td.middleCenter {
	width: 100%;
}

.gwt-ProgressBar-shell {
	border: 2px solid #faf9f7;
	background-color: #AAAAAA;
	height: 14pt;
	width: 100%;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
	background-color: #67A7E3;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-text {
	padding: 0px;
	margin: 0px;
	color: white;
}

.WebTransEditor-Outer tr.middle td.middleCenter {
	height: 100%;
	width: 100%;
}

.WebTransEditor-Outer tr.middle td.middleCenter div.middleCenterInner {
	height: 100%;
	width: 100%;
}

.WebTransEditor {
	height: 100%;
	width: 100%;
}

.WebTransEditorMenu {
	background-color: #D0E4F6;
	width: 100%;
	height: 25px;
}

.WebTransEditorMenu-left {
	left: 0px;
	display: inline;
}

.float-right-div {
	float: right;
}

.FilterView {
	padding-top: 2px;
	padding-bottom: 2px;
}

.WebTransEditorMenu-right {
	right: 0px;
	display: inline;
}

.TableEditor tr td {
	vertical-align: top;
}

.TableEditor tr.FuzzyStateDecoration td.TableEditorCell-Source {
	background: url(tu_bg_fuzzy_left.png) repeat-y left;
	border-right: 3px solid #cccccc;
	border-left: 3px solid #cccccc;
	/* need to verify if #cccccc works for all borders first
	border-right: 3px solid #f7dec3;
	border-left: 3px solid #f7dec3;
	*/
}

.TableEditor tr.NewStateDecoration td.TableEditorCell-Source {
	background: url(tu_bg_new_left.png) repeat-y left;
	border-right: 3px solid #cccccc;
	border-left: 3px solid #cccccc;
	/* need to verify if #cccccc works for all borders first
	border-right: 3px solid #c3e0f7;
	border-left: 3px solid #c3e0f7;	
	*/
}

.TableEditor tr.ApprovedStateDecoration td.TableEditorCell-Source {
	background: url(tu_bg_approved_left.png) repeat-y left;
	border-right: 3px solid #cccccc;
	border-left: 3px solid #cccccc;
	/* need to verify if #cccccc works for all borders first
	border-right: 3px solid #a8eab1;
	border-left: 3px solid #a8eab1;
	*/
}

.TableEditor tr.ErrorStateDecoration td.TableEditorCell-Source {
	background: url(tu_bg_error_left.png) repeat-y left;
	border-right: 3px solid #cccccc;
	border-left: 3px solid #cccccc;
	/* need to verify if #cccccc works for all borders first
    border-right: 3px solid #f7c3c3;
    border-left: 3px solid #f7c3c3;
    */
}

.TableEditor tr.FuzzyStateDecoration td.TableEditorCell-Target {
	background: url(tu_bg_fuzzy_right.png) repeat-y right;
	border-right: 3px solid #cccccc;
	border-left: 3px solid #cccccc;
	/* need to verify if #cccccc works for all borders first
	border-right: 3px solid #f7dec3;
	border-left: 3px solid #f7dec3;
    */
}

.TableEditor tr.NewStateDecoration td.TableEditorCell-Target {
	background: url(tu_bg_new_right.png) repeat-y right;
	border-right: 3px solid #cccccc;
	border-left: 3px solid #cccccc;
	/* need to verify if #cccccc works for all borders first
	border-right: 3px solid #c3e0f7;
	border-left: 3px solid #c3e0f7;
	*/
}

.TableEditor tr.ApprovedStateDecoration td.TableEditorCell-Target {
	background: url(tu_bg_approved_right.png) repeat-y right;
	border-right: 3px solid #cccccc;
	border-left: 3px solid #cccccc;
	/* need to verify if #cccccc works for all borders first
	border-right: 3px solid #a8eab1;
	border-left: 3px solid #a8eab1;
	*/
}

.TableEditor tr.ErrorStateDecoration td.TableEditorCell-Target {
	background: url(tu_bg_error_right.png) repeat-y right;
	border-right: 3px solid #cccccc;
	border-left: 3px solid #cccccc;
	/* need to verify if #cccccc works for all borders first
    border-right: 3px solid #f7c3c3;
    border-left: 3px solid #f7c3c3;
    */
}

td.TableEditorCell {
	border-top: 1px solid #e0e0e0;
}

td.TableEditorCell-Source {
	
}

td.TableEditorCell-Middle {
	
}

td.TableEditorCell-Target {
	
}

tr.TableEditorRow.highlighted td.TableEditorCell {
	background-color: #f1f2f6;
}

tr.TableEditorRow.highlighted td.TableEditorCell-Source {
	
}

tr.TableEditorRow.highlighted td.TableEditorCell-Middle {
	
}

tr.TableEditorRow.highlighted td.TableEditorCell-Target {
	cursor: hand;
}

tr.TableEditorRow.even-row {
	background-color: #ffffff;
}

tr.TableEditorRow.odd-row {
	background-color: #ffffff;
}

tr.TableEditorRow.content-filter {
	
}

tr.TableEditorRow.content-filter-match {
	
}

tr.TableEditorRow.content-filter-nomatch {
	filter: alpha(opacity =   25);
	-moz-opacity: 0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;
}

tr.TableEditorRow.selected td {
	
}

.TableEditorContent,.TableEditorContent-Edit {
	font-size: 14px;
	font-family: sans-serif;
	padding: 3px;
	margin: 2px;
	width: 99%;
}

.TableEditorContent-Empty {
	font-size: 12px;
	font-family: sans-serif;
	font-style: italic;
	padding: 3px;
	margin: 2px;
	opacity: 0.5;
	width: 99%;
}

.Severity-Error {
	background-color: #ffcccc;
}

.Severity-Info {
	background-color: #eeeeff;
}

.Severity-Warning {
	background-color: #ffffcc;
}

.TransMemoryTableColumnHeader {
	color: Blue;
	font-style: normal;
	font-weight: bold
}

.DocumentListTable {
	width: 100%;
	font-size:16px;
}

.DocumentListTable td {
    font-size:16px;
    cursor:pointer;
    width:16.6%;
}

.transUnitCountGraphTooltipPanel {
	background-color: #F7F488;
	color: black;
	text-align: center;
	border: 1px solid black;
	height: 60px;
}

.transUnitCountGraphTooltipTable {
	text-align: center;
	font-size: 12px
}

.transUnitCountGraphTooltipTable TD {
	border: 1px dotted black;
}