// ant-default-vars.less
// Available theme variables can be found in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #546677;
@info-color: #03A6D7;
@success-color: #62c876;
@processing-color: #20718A;
@error-color: #ff3b3d;
@highlight-color: @info-color;
@warning-color: #ffa800;
@normal-color: #d9d9d9;
@neutral-color: #BDD4DC;
@muted-color: #A2B3BE;

@layout-body-background: #fff;

@btn-primary-bg: @primary-color;

// antd component overrides - tachyons not used because these apply globally to
// the antd components

.teaserHeader .ant-layout {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.ant-tag {
  vertical-align: middle;
}

.ant-card {
  color: @primary-color;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding-top: 0;
  padding-bottom: 0;
}

.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
  padding-right: 12px;
}

.ant-input-search {
  height: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.checkbox, .checkbox svg {
  vertical-align: sub;
}

.list-group-item {
  position: relative;
  display: block;
  margin-bottom: 0;
  padding: 0.62rem 1rem;
  border: 1px solid @neutral-color;
  background-color: @layout-body-background;
}
// Utility classes not included in Tachiyons
//  https://github.com/tachyons-css/tachyons/blob/master/css/tachyons.css

// Most utility classes required for basic layouts and styling are found here:
// http://tachyons.io/#style
// Detailed documentation:  http://tachyons.io/docs

.txt-primary {
  color: @primary-color;
}

.txt-warn {
  color: @warning-color;
}

.txt-newblue {
  color: @processing-color;
}

.txt-error {
  color: @error-color;
}

.txt-success {
  color: @success-color;
}

.txt-info {
  color: @info-color;
}

.txt-muted {
  color: @muted-color;
}

.txt-neutral {
  color: @neutral-color;
}

.bg-primary {
  background-color: @primary-color;
}

.bg-warn {
  background-color: @warning-color;
}

.bg-error {
  background-color: @error-color;
}

.bg-success {
  background-color: @success-color;
}

.bg-info {
  background-color: @info-color;
}

.bg-muted {
  background-color: #A2B3BE;
}

.bg-neutral {
  background-color: #BDD4DC;
}

.d-inh {
  display: inherit;
}
