@import "~antd/dist/antd.less";
@import "./ant-theme-vars.less";

// antd component overrides - tachyons not used because these apply globally to
// the antd components

input {
  line-height: 2.25rem !important;
  padding-left: 0.375rem;
}
.teaserHeader .ant-layout {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.ant-btn {
  color: @primary-color;
  background-color: #fff;
  border-color: @neutral-color;
}

.ant-input-search > .ant-input-suffix > .ant-input-search-button {
  background-color: @info-color;
  color: #fff;
}

button.ant-btn.btn-link {
  border: 0;
  color: @highlight-color;
  background: transparent !important;
  font-weight: 500;
}

button.ant-btn.btn-link:hover, button.ant-btn.btn-link:focus {
  color: @primary-color;
}

table {
  width: 100% !important;
}

.ant-btn .btn-sm {
  padding: 0 15px !important;
}

.sortable-helper {
  z-index: 10000 !important;
}

.transSwitch.ant-switch {
 background-color: @unsure-color;
}

.transSwitch.ant-switch.ant-switch-checked {
  background-color: @success-color !important;
  font-size: inherit;
}

.transSwitch.ant-switch .ant-switch-inner {
  font-size: 14px;
}

.ant-checkbox-wrapper {
  color: @primary-color !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: @primary-color;
}

// needed for new-zanata overrides on button styling
// without !important these styles are overrides by antd in /node_modules
.ant-btn.ant-btn-primary {
  background-color: @primary-color !important;
  color: @normal-color !important;
  border: @primary-color !important;
}

.ant-btn.ant-btn-primary:hover, .ant-btn.ant-btn-primary:focus {
  background-color: @info-color !important;
  color: @normal-color !important;
  border: @info-color !important;
}

.ant-btn.btn-danger {
  color: #ff3b3d !important;
  background-color: #f5f5f5 !important;
  border-color: #d9d9d9;
}

.ant-btn:hover, .ant-btn:focus {
  color: @info-color !important;
  background-color: #fff !important;
  border-color: @info-color !important;
}

.teaser-inner div a.text-muted-bold {
  vertical-align: sub;
}

.ant-tag {
  vertical-align: middle;
}

.ant-card {
  color: @primary-color;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding-top: 0;
  padding-bottom: 0;
}

.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
  padding-right: 12px;
}

.ant-input-search {
  height: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.checkbox, .checkbox svg {
  vertical-align: sub;
}

.list-group-item {
  position: relative;
  display: block;
  margin-bottom: 0;
  padding: 0.62rem 1rem;
  border: 1px solid @neutral-color;
  background-color: @layout-body-background;
}

// Override new-zanata ul styles
.ant-select-dropdown-menu {
  margin: initial !important;
  padding: initial !important;
}

// Override new-zanata modal namespace styles
.ant-modal-close {
  border: none !important;
  background-color: initial !important;
  padding: initial !important;
}

.ant-form-inline .ant-form-item > .ant-form-item-control-wrapper {
  vertical-align: inherit;
  width: inherit;
}

.ant-form-inline .ant-form-item {
  display: flex;
}

.ant-modal-title {
  color: @info-color !important;
}

.ant-form-item-label label {
  color: @primary-color;
}

input.react-autosuggest__input {
  background-color: transparent;
  border-bottom: solid 1px @neutral-color;
}

.ant-input.textInput, input.ant-input, .textInput {
  border: solid 1px @neutral-color;
}

.ant-input.textInput:focus, .ant-input.textInput:hover, input.ant-input:hover,
input.ant-input:focus, .textInput:focus, .textInput:hover {
  border: 2px solid @info-color;
}

.ant-form-inline .ant-form-item > .ant-form-item-control-wrapper {
  vertical-align: inherit;
  width: inherit;
}

.ant-form-inline .ant-form-item {
  display: flex;
}

.btn-xs {
  font-size: 0.857rem;
  line-height: @line-height-button;
  padding: @spacing-small-vertical @spacing-small-horizontal;
  border-radius: @border-radius-small;
}

.ant-btn.button.close {
  font-weight: 700;
  line-height: 1;
  top: 0;
  right: 1rem;
  position: absolute;
  border: none !important;
  color: #f00;
  z-index: 1;
  padding: @spacing-rq !important;
  outline: none;
  box-shadow: none;
}
.ant-btn.button.close:focus, .ant-btn.button.close:hover,
.ant-btn.button.close:active:focus {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.5;
  color: #000;
  filter: alpha(opacity=50);
  box-shadow: none;
  outline: none;
  background-color: #fff;
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
span.icons {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
span.svg {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.n2, .n2 svg {
  width: 0.694rem;
  height: 0.694rem;
}
.n1, .n1 svg {
  width: 0.833rem;
  height: 0.833rem;
}
.s0, .s0 svg {
  width: 1rem;
  height: 1rem;
}
.s1, .s1 svg {
  width: 1.2rem;
  height: 1.2rem;
}
.s2, .s2 svg {
  width: 1.44rem;
  height: 1.44rem;
  vertical-align: middle;
}
.s3, .s3 svg {
  width: 1.728rem;
  height: 1.728rem;
}
.s4, .s4 svg {
  width: 2.074rem;
  height: 2.074rem;
}
.s5, .s5 svg {
  width: 2.488rem;
  height: 2.488rem;
}
.s6, .s6 svg {
  width: 2.986rem;
  height: 2.986rem;
}
.s7, .s7 svg {
  width: 3.583rem;
  height: 3.583rem;
}
.s8, .s8 svg {
  width: 4.3rem;
  height: 4.3rem;
}
.s9, .s9 svg {
  width: 5.16rem;
  height: 5.16rem;
}
.s10, .s10 svg {
  width: 6.192rem;
  height: 6.192rem;
}

/* Flex */
.u-flexColumn {
  flex-direction: column;
  -webkit-flex-direction: column;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}
.u-flexRowReverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}
.u-flexRow {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.u-flexRowCenter {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: stretch;
  -webkit-align-items: stretch;
  /* Safari 7.0+ */
}
.u-flexCenter {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}
.u-textMutedLeft {
  color: @color-muted;
  margin-left: @spacing-rq;
}
.flexTab {
  overflow: hidden;
  padding: 1rem;
}
.flexChart-container {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  justify-items: center;
  margin-bottom: @spacing-base-and-a-half;
  min-height: 6rem;
}
.inputFlex {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
/* Text inputs */
input.textInput {
  border-radius: 4px;
}
.textInput .placeholder {
  color: hsl(195, 32%, 80%);
}
input.textInput::placeholder, textarea.textInput::placeholder {
  color: hsl(195, 32%, 80%);
}
.textState.textInput {
  align-items: center;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  background-color: #fff;
  height: auto;
  width: 100%;
}
.textState.text {
  align-items: center;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  border: solid 2px transparent;
  cursor: text;
  height: auto;
  padding: 0.375rem 0.75rem;
  width: 100%;
  margin-left: 0.75rem;
  vertical-align: middle;
}

.table {
  max-width: 100%;
  margin-bottom: 1.5rem;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  line-height: 1rem;
  padding: 0.5rem;
  border-top: 1px solid @neutral-color;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid @neutral-color;
}
