@import "./variables.less";

@media (max-width: 29.375rem) {
  #nav {
    width: 100%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    z-index: 1000;
  }
  .nav-bar {
    order: 1;
    width: 100%;
    height: 3.5rem;
  }
  .nav-link {
    display: none;
  }
  .nav-link.small {
    display: inline-flex;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    padding: @spacing-rh;
  }
}
@media (min-width: 29.376rem) {
  #nav {
    height: 100vh;
    top: 0;
    overflow: hidden;
  }
  .nav-bar {
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    order: 0;
    width: 4.5rem;
  }
  .nav-link {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    padding-top: @spacing-rq;
    padding-bottom: @spacing-rq;
  }
}

