.Button--concurrent {
  color: #03A6D7;
  text-shadow: none;
}

.Button--concurrent .n1 {
  vertical-align: middle;
}

/* React bootstrap styling */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.alert-danger, .alert-info, .alert-success, .alert-warning {
  color: #fff;
  padding-left: 0.321rem;
}

.alert-danger {
  background-color: #ff3b3d;
}

.alert-link a {
  color: #fff;
  text-decoration: underline;
}

.alert-danger .s2 svg {
  vertical-align: middle;
  padding-right: 0.5rem;

}

.alert-danger strong {
  font-weight: 600;
}

/* Editable text fields */

.editable {
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  vertical-align: middle;
}

.editable:hover {
  border: solid 2px;
  border-color: rgb(189, 212, 220);
  opacity: 1;
}

.editable .placeholder {
  color: red;
}

.editable.row {
  padding: 0.75rem;
}
