.Button--concurrent {
  color: #03A6D7;
  text-shadow: none;
}

.Button--concurrent .n1 {
  vertical-align: middle;
}

/* React bootstrap styling */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.alert-danger, .alert-info, .alert-success, .alert-warning {
  color: #fff;
  padding-left: 0.321rem;
}

.alert-danger {
  background-color: #ff3b3d;
}

.alert-link a {
  color: #fff;
  text-decoration: underline;
}

.alert-danger .s2 svg {
  vertical-align: middle;
  padding-right: 0.5rem;

}

.alert-danger strong {
  font-weight: 600;
}

.revisionBox textarea {
  border: solid 1px #639cad;
  border-radius: .25rem;
  width: 100%;
}


.label {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  display: inline;
  padding: 0.1rem 0.2rem 0.1rem;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  color: #fff;
  border-radius: 0.25rem;
  margin-left: 0.38rem;
  margin-right: 0.38rem;
}

.label-default {
  background-color: #546677;
}
