/* Buttons */
.genericButton {
	height: 36px;
	line-height: 36px;
	border: 1px solid #999;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 0 20px 0;
	-webkit-box-shadow: inset 0 1px 1px white, 0 1px 2px rgba(0, 0, 0, 0.31);
	box-shadow: inset 0 1px 1px white, 0 1px 2px rgba(0, 0, 0, 0.31);
	background: #CCC;
	background: -moz-linear-gradient(top, #EEE 0%, #CCC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEE),
		color-stop(100%, #CCC) );
	background: -webkit-linear-gradient(top, #EEE 0%, #CCC 100%);
	background: -o-linear-gradient(top, #EEE 0%, #CCC 100%);
	background: -ms-linear-gradient(top, #EEE 0%, #CCC 100%);
	background: linear-gradient(top, #EEE 0%, #CCC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#eeeeee',
		endColorstr='#cccccc', GradientType=0 );
	/* Text (previously on the a tag) */
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 1px white;
}

.genericButton:hover {
	background: #CCC;
	background: -moz-linear-gradient(top, white 0%, #DDD 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white),
		color-stop(100%, #DDD) );
	background: -webkit-linear-gradient(top, white 0%, #DDD 100%);
	background: -o-linear-gradient(top, white 0%, #DDD 100%);
	background: -ms-linear-gradient(top, white 0%, #DDD 100%);
	background: linear-gradient(top, white 0%, #DDD 100%);
	filter: progid:DXImageTransform.Microsoft.
}

.genericButton:active {
	-webkit-box-shadow: inset 0 1px 1px white, 0 1px 2px rgba(0, 0, 0, 0.31);
	box-shadow: inset 0 1px 1px white, 0 1px 2px rgba(0, 0, 0, 0.31);
	background: #CCC;
	background: -moz-linear-gradient(top, #DDD 0%, white 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DDD),
		color-stop(100%, white) );
	background: -webkit-linear-gradient(top, #DDD 0%, white 100%);
	background: -o-linear-gradient(top, #DDD 0%, white 100%);
	background: -ms-linear-gradient(top, #DDD 0%, white 100%);
	background: linear-gradient(top, #DDD 0%, white 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#dddddd',
		endColorstr='#ffffff', GradientType=0 );
}

.greenBtn {
	border-color: #1D692D;
	-webkit-box-shadow: inset 0 1px 1px #94DDA6, 0 1px 2px
		rgba(0, 0, 0, 0.61);
	-moz-box-shadow: inset 0 1px 1px #94dda6, 0 1px 2px rgba(0, 0, 0, 0.61);
	box-shadow: inset 0 1px 1px #94DDA6, 0 1px 2px rgba(0, 0, 0, 0.61);
	background: #5DBB73;
	background: -moz-linear-gradient(top, #5DBB73 0%, #2D9047 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5DBB73),
		color-stop(100%, #2D9047) );
	background: -webkit-linear-gradient(top, #5DBB73 0%, #2D9047 100%);
	background: -o-linear-gradient(top, #5DBB73 0%, #2D9047 100%);
	background: -ms-linear-gradient(top, #5DBB73 0%, #2D9047 100%);
	background: linear-gradient(top, #5DBB73 0%, #2D9047 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#5dbb73',
		endColorstr='#2d9047', GradientType=0 );
	/* Text (previously on an a tag) */
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	color: white;
	text-shadow: 0 1px 2px #114A1E, 0 1px 0 #114A1E;
}

.greenBtn:hover {
	text-shadow: 0 1px 2px #114A1E, 0 1px 0 #114A1E;
	border-color: #1D692D;
	-webkit-box-shadow: inset 0 1px 1px #94DDA6, 0 1px 2px
		rgba(0, 0, 0, 0.61);
	-moz-box-shadow: inset 0 1px 1px #94dda6, 0 1px 2px rgba(0, 0, 0, 0.61);
	box-shadow: inset 0 1px 1px #94DDA6, 0 1px 2px rgba(0, 0, 0, 0.61);
	background: #68CE80;
	background: -moz-linear-gradient(top, #68CE80 0%, #3CAE5A 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #68CE80),
		color-stop(100%, #3CAE5A) );
	background: -webkit-linear-gradient(top, #68CE80 0%, #3CAE5A 100%);
	background: -o-linear-gradient(top, #68CE80 0%, #3CAE5A 100%);
	background: -ms-linear-gradient(top, #68CE80 0%, #3CAE5A 100%);
	background: linear-gradient(top, #68CE80 0%, #3CAE5A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#68ce80',
		endColorstr='#3cae5a', GradientType=0 );
}

.greenBtn:active {
	background: #5DBB73;
	background: -moz-linear-gradient(top, #2D9047 0%, #5DBB73 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2D9047),
		color-stop(100%, #5DBB73) );
	background: -webkit-linear-gradient(top, #2D9047 0%, #5DBB73 100%);
	background: -o-linear-gradient(top, #2D9047 0%, #5DBB73 100%);
	background: -ms-linear-gradient(top, #2D9047 0%, #5DBB73 100%);
	background: linear-gradient(top, #2D9047 0%, #5DBB73 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#2d9047',
		endColorstr='#5dbb73', GradientType=0 );
}

.redBtn {
	border-color: #7D180A;
	-webkit-box-shadow: inset 0 1px 1px #FB926A, 0 1px 2px
		rgba(0, 0, 0, 0.61);
	-moz-box-shadow: inset 0 1px 1px #FB926A, 0 1px 2px rgba(0, 0, 0, 0.61);
	box-shadow: inset 0 1px 1px #FB926A, 0 1px 2px rgba(0, 0, 0, 0.61);
	background: #C54224;
	background: -moz-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EF6638),
		color-stop(100%, #B62918) );
	background: -webkit-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: -o-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: -ms-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: linear-gradient(top, #EF6638 0%, #B62918 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#ef6638',
		endColorstr='#b62918', GradientType=0 );
	/* Text (previously on an a tag) */
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	color: white;
	text-shadow: 0 1px 2px #114A1E, 0 1px 0 #114A1E;
}

.redBtn:hover {
	border-color: #7D180A;
	-webkit-box-shadow: inset 0 1px 1px #FB926A, 0 1px 2px
		rgba(0, 0, 0, 0.61);
	box-shadow: inset 0 1px 1px #FB926A, 0 1px 2px rgba(0, 0, 0, 0.61);
	background: #ED754E;
	background: -moz-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ED754E),
		color-stop(100%, #C93E23) );
	background: -webkit-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: -o-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: -ms-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: linear-gradient(top, #ED754E 0%, #C93E23 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#ed754e',
		endColorstr='#c93e23', GradientType=0 );
}

.redBtn:active {
	background: #ED754E;
	background: -moz-linear-gradient(top, #C93E23 0%, #ED754E 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C93E23),
		color-stop(100%, #ED754E) );
	background: -webkit-linear-gradient(top, #C93E23 0%, #ED754E 100%);
	background: -o-linear-gradient(top, #C93E23 0%, #ED754E 100%);
	background: -ms-linear-gradient(top, #C93E23 0%, #ED754E 100%);
	background: linear-gradient(top, #C93E23 0%, #ED754E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#c93e23',
		endColorstr='#ed754e', GradientType=0 );
}

.blueBtn {
	border-color: #4770B0;
	-webkit-box-shadow: inset 0 1px 1px #658ECE, 0 1px 2px
		rgba(0, 0, 0, 0.61);
	-moz-box-shadow: inset 0 1px 1px #658ECE, 0 1px 2px rgba(0, 0, 0, 0.61);
	box-shadow: inset 0 1px 1px #658ECE, 0 1px 2px rgba(0, 0, 0, 0.61);
	background: #153E7E;
	background: -moz-linear-gradient(top, #4770B0 0%, #153E7E 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4770B0),
		color-stop(100%, #153E7E) );
	background: -webkit-linear-gradient(top, #4770B0 0%, #153E7E 100%);
	background: -o-linear-gradient(top, #4770B0 0%, #153E7E 100%);
	background: -ms-linear-gradient(top, #4770B0 0%, #153E7E 100%);
	background: linear-gradient(top, #4770B0 0%, #153E7E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#4770b0',
		endColorstr='#153e7e', GradientType=0 );
	/* Text (previously on an a tag) */
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	color: white;
	text-shadow: 0 1px 2px #000242, 0 1px 0 #000242;
}

.blueBtn:hover {
	border-color: #4770B0;
	-webkit-box-shadow: inset 0 1px 1px #658ECE, 0 1px 2px
		rgba(0, 0, 0, 0.61);
	box-shadow: inset 0 1px 1px #658ECE, 0 1px 2px rgba(0, 0, 0, 0.61);
	background: #153E7E;
	background: -moz-linear-gradient(top, #3D66A6 0%, #3D66A6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3D66A6),
		color-stop(100%, #3D66A6) );
	background: -webkit-linear-gradient(top, #3D66A6 0%, #3D66A6 100%);
	background: -o-linear-gradient(top, #3D66A6 0%, #3D66A6 100%);
	background: -ms-linear-gradient(top, #3D66A6 0%, #3D66A6 100%);
	background: linear-gradient(top, #3D66A6 0%, #3D66A6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#3d66a6',
		endColorstr='#3d66a6', GradientType=0 );
}

.blueBtn:active {
	background: #153E7E;
	background: -moz-linear-gradient(top, #153E7E 0%, #4770B0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #153E7E),
		color-stop(100%, #4770B0) );
	background: -webkit-linear-gradient(top, #153E7E 0%, #4770B0 100%);
	background: -o-linear-gradient(top, #153E7E 0%, #4770B0 100%);
	background: -ms-linear-gradient(top, #153E7E 0%, #4770B0 100%);
	background: linear-gradient(top, #153E7E 0%, #4770B0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#153e7e',
		endColorstr='#4770b0', GradientType=0 );
}

/* Button sizes */
.smallBtn {
	line-height: 20px !important;
	height: 20px;
	font-size: 12px;
	margin-bottom: 10px;
}

.largeBtn {
	line-height: 36px !important;
	height: 36px;
	font-size: 20px;
	margin-bottom: 18px;
}

.rich-table { 
	width: 100%;
	empty-cells: show;
	border:0;
	background-color:#EEEEEE;
}

.rich-table tbody tr:hover {
	background-color: #FFFFFF;
}

table {
	margin: 0px;
}

.rich-table-thead { /*border-bottom: solid 1px silver;*/
	
}

.rich-table-subheader th:first-child {
	border-top-left-radius: 5px;
}

.rich-table-subheader th:last-child {
	border-top-right-radius: 5px;
	border-right:0;
}

.rich-table-subheadercell { 
	padding: 15px 8px 15px 8px;
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	font-family: Arial, Verdana, sans-serif;
	white-space: nowrap;
	background-color:#461446;
}

th {
	font-weight: bold;
	text-align: center;
}

th,td {
	border: none;
	padding: 0px;
}

.rich-table-cell {
	padding: 10px;
	font-size: 12px;
	color: #595959;
	font-family: Arial, Verdana, sans-serif;
	border-left:0;
	border-right:0;
}
/* End of richfaces table styles */

.rich-stglpanel-header {
	background-image: none;
	padding: 4px;
	font-size:12px;
	border-radius: 3px;
	border-style: solid;
	background-color: #5F5F5F;
	border-color: #5F5F5F;
	color: white;
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
}

.rich-stglpanel-body {
	background:#FFFFFF;
} 

.rich-stglpanel-body .noBorderTable {
	background:#FFFFFF;
	box-shadow:none;
}

.rich-stglpanel-body .noBorderTable tr:hover {
	background-color:inherit;
}

.rich-mpnl-header
{
	background:#461446;
	border-color:#461446;
		
}

/* Copy of Richfaces Panel styles*/
.rich-panel {
	border-radius: 3px;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	background-color: #EEE;
	border-color: #EEEEEE;
}

.rich-panel .rich-panel-header {
	background-image: none;
	padding: 4px;
	font-size:12px;
}

.rich-panel-header {
	border-radius: 3px;
	text-align: center;
	border-style: solid;
	border-color: #461446;
	background-color: #461446;
	font-size: 11px;
	color: white;
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
}

.rich-panel-body {
	border: 1px solid;
	border-color: #EEEEEE;
}

.rich-panel-body {
	padding: 10px;
}

.rich-panel-body {
	font-size: 11px;
	color: black;
	font-family: Arial, Verdana, sans-serif;
}
/* End of Richfaces Panel styles */

.rich-dtascroller-table { 
	border:none;
}

.rich-datascr-button-dsbld {
	color: silver;
}

.rich-datascr-button {
	border-radius: 5px;
	border-color: silver;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	border: 1px solid #999;
	border-radius: 4px;
	background: #CCC;
}

.rich-datascr-button:hover {
	background: #e2e2e2;
}

.rich-datascr-button:active {
	background: #CCC;
	background: -moz-linear-gradient(top, #DDD 0%, white 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DDD),
		color-stop(100%, white) );
	background: -webkit-linear-gradient(top, #DDD 0%, white 100%);
	background: -o-linear-gradient(top, #DDD 0%, white 100%);
	background: -ms-linear-gradient(top, #DDD 0%, white 100%);
	background: linear-gradient(top, #DDD 0%, white 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#dddddd',
		endColorstr='#ffffff', GradientType=0 );
}

.rich-datascr-button-dsbld {
	cursor: default;
}

.rich-datascr-button-dsbld:hover {
    cursor: default;
    background: #CCC;
}

.rich-datascr-button {
	border-width: 1px;
	border-style: solid;
	width: 23px;
	cursor: pointer;
	text-align: center;
}

.rich-datascr-act { 
	color: #5F5F5F;
    border: 0px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	padding: 3px;
}

.rich-datascr-inact {
	cursor: pointer;
	text-align: center;
    border: 0px;
	border-radius: 5px;
	color: #5F5F5F;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
}

.rich-datascr-inact:hover {
	/*box-shadow: 0 0 5px grey inset;*/
}
/* End Richfaces Data scroller styles */