/* -------------------- Generic Base CSS ------------------------------ */
body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	font: 12px helvetica, arial, Tahoma, Geneva, sans-serif;
}

select
{
	height:24px;
}

select,input,button,textarea,button {
	font: 99% arial, helvetica, clean, sans-serif;
}

a,a:link,a:visited {
	text-decoration: none;
}

a:hover {
	color: #990000;
}

h1,h2,h3,h4,h5,h6 {
	margin: 10px 0;
	padding: 0;
	font-weight: bold;
}

h1 {
	font-size: 138.5%;
}

h2 {
	font-size: 123.1%;
}

h3 {
	font-size: 108%;
}

th,td {
	border: none;
	padding: 0px;
}

th {
	font-weight: bold;
	text-align: center;
}

html {
	background-color: transparent;
}


fieldset,img {
	border: 0;
}

table {
	margin: 0px;
}

input,textarea {
	border-radius: 3px;
	border: 1px solid #C5C5C5;
	padding: 5px;
	color: #222222;
	font-weight: bold;
	font-size:14px;
}

input[type="text"], input[type="password"]
{
	width:210px;
	font-size:12px;
}

button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"],input[type="button"]
{
	color: #626262;
	padding: 2px;
	margin-left: 2px;
	margin-right: 2px;
}
	
	
button,input[type="reset"],input[type="submit"],input[type="button"] {	
	border: 1px solid #999;
	border-radius: 4px;
	cursor: pointer;
	background: #CCC;
	background: -moz-linear-gradient(top, #EEE 0%, #CCC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEE),
		color-stop(100%, #CCC) );
	background: -webkit-linear-gradient(top, #EEE 0%, #CCC 100%);
	background: -o-linear-gradient(top, #EEE 0%, #CCC 100%);
	background: -ms-linear-gradient(top, #EEE 0%, #CCC 100%);
	background: linear-gradient(top, #EEE 0%, #CCC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#eeeeee',
		endColorstr='#cccccc', GradientType=0 );
	/* Text (previously on the a tag) */
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 1px white;
	width:auto;
}

input.with_icon {
	background-position: 5px 50%;
	background-repeat: no-repeat;
	padding: 3px 3px 3px 25px;
	height:22px;
	width:280px;
	font-size:16px;
}

button:hover,input[type="reset"]:hover,input[type="submit"]:hover,input[type="button"]:hover 
{
	background: #CCC;
	background: -moz-linear-gradient(top, white 0%, #DDD 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white),
		color-stop(100%, #DDD) );
	background: -webkit-linear-gradient(top, white 0%, #DDD 100%);
	background: -o-linear-gradient(top, white 0%, #DDD 100%);
	background: -ms-linear-gradient(top, white 0%, #DDD 100%);
	background: linear-gradient(top, white 0%, #DDD 100%);
	filter: progid:DXImageTransform.Microsoft.
}

/* -------------------- End Generic Base CSS ------------------------------ */

#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top:5px;
	background-color: #ffffff;
	min-height:400px;
	min-width:960px
}

#main_body_content>h1,#main_body_content>h2 {
	margin: 5px 0 5px 0;
}

textarea.code_editor {
	font-family: Courier;
	font-size: 11px;
	font-weight: normal;
	width: 98%;
	height: 300px;
}

td.centered {
	text-align: center;
}

.leftalign {
	text-align: left;
}

.rich-tool-tip p {
	margin-top: 3px;
	margin-bottom: 3px;
}

#yui-main {
	float: left;
	width: 680px !important;
}

.bold-larger {
	font-weight: bold;
	font-size: larger;
}

.float-right {
	float: right;
}

#search_panel {
	float: right;
}

#breadcrumbs_panel
{
	height:100%;
}

.breadcrumbs-seperator
{
	padding:0 8px;
}

#breadcrumbs_div
{
	margin:5px;
	padding:3px;
}

a.breadcrumbs_home, a.breadcrumbs_home:hover
{
	font-size:13px;
	color:#000000;	
}

a.breadcrumbs_link
{
	font-size:14px;
	font-weight:bold;
	color:#0085CC;
}

a.breadcrumbs_link:hover
{
	text-decoration:underline;
}

.breadcrumbs_display
{
	font-size:14px;
	font-weight:bold;
	color:#B62918;
}


#bd {
	width: 100%;
	padding: 8px 2px;
}


#search_div {
	border:1px dotted #D9D9D9;
	height:32px;
	border-radius:3px;
	padding:2px;
	margin-bottom:2px;
}

.search-icon
{
	font-size:18px;
	position:absolute;
	margin-top:6px;
	margin-left:5px;	
}

.code {
	color: grey;
}

.configTextArea
{
	width:100%;
	padding:0;
	font-size:12px;
}

.input_help {
	padding-left: 2px;
	padding-right: 2px;
	font-size:16px;
	color:#004BA9;
}

.message {
	padding: 5px;
	list-style: none;
	color: #000000;
	margin: 5px 0 8px 0;
}

.message li {
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
	background: no-repeat left center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin-left: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.message li.infomsg {
	color:#004BA9;
	font-size:1.2em;
}

.message li.errormsg {
	color:#B62918;
	font-size:1.2em;
	font-weight:bold;
}

.message li.warnmsg {
	color:#D77D00;
	font-size:1.2em;
	font-weight:bold;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 140px;
	float: left;
	padding: 5px;
	margin-top: 5px;
	clear: left;
	font-size:12px;
}

img.login_option {
    border-width: 3px;
    border-style: none;
    cursor: pointer;
    padding: 3px;

}

img.selected_login_option {
    border-color: #FFFCC9;
    background-color: #FFFCC9;
    border-style: solid;
    border-radius: 6px;
}

.prop {
	vertical-align: middle;
}

.value {
	float: left;
	padding: 5px;
	font-size:13px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #F00000;
	font-size:13px;
}

img.errors {
	padding-left: 5px;
	padding-right: 5px;
}

.errors input,.errors textarea {
	border: 1px solid #F00000 !important;
	background-color: #FFFAFA;
}

.required {
	color: #F00000;
	padding-left: 2px;
}

.rich-panel input[type=submit],.rich-panel input[type=button],.rich-tabpanel input[type=submit],.rich-tabpanel input[type=button]
	{
	margin-bottom: 0;
}

.actionButtons {
	padding-top: 10px;
	padding-right: 10px;
	text-align: left;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

input[type="submit"].projectSearchButton
{
	border-color: #7D180A;
	background: #C54224;
	background: -moz-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EF6638), color-stop(100%, #B62918) );
	background: -webkit-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: -o-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: -ms-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: linear-gradient(top, #EF6638 0%, #B62918 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#ef6638',
		endColorstr='#b62918', GradientType=0 );
	/* Text (previously on an a tag) */
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 13px;
	vertical-align:top;
	text-align: center;
	text-decoration: none;
	color: white;
	text-shadow: 0 1px 2px #114A1E, 0 1px 0 #114A1E;
}

input[type="submit"].projectSearchButton:hover
{
	border-color: #7D180A;
	background: #ED754E;
	background: -moz-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ED754E), color-stop(100%, #C93E23) );
	background: -webkit-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: -o-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: -ms-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: linear-gradient(top, #ED754E 0%, #C93E23 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#ed754e',
		endColorstr='#c93e23', GradientType=0 );
}

div.info {
}

/* Styles from the security-stuff in seamspace*/
.checkmark {
	font-size:16px;
}

.cross {
	font-size:16px;
}

a.table_link span
{
	text-decoration:none;
	font-size:20px;
}


tr.hover-row { 
	cursor: pointer;
}

td.enabled {
	text-align: center;
}

table.fullwidth {
	width: 100%
}

td.wrapped {
    word-break: break-word;
    word-wrap: break-word;
}

a.button {
	font-size: 1em;
	font-weight: bold;
	background-color: #FFFFFF;
	border: 1px solid #A2C4F5;
	padding: 1px 8px;
	border-radius: 5px;
	color: #7092C3;
	text-align: center;
}

a.action_link span
{
	font-size:18px;
}

a.action_link {
	display: block;
	font-size: 14px;
	font-weight: bold;
	background-color: #FFFFFF;
	border: 1px solid #A2C4F5;
	padding: 6px;
	border-radius: 5px;
	color: #7092C3;
	margin-top: 4px;
	text-align: center;
	outline:none;
}

a.action_link:hover, a.button:hover {
	background-color: #FFFFFF;
    box-shadow: 0 0 5px #7092C3 inset;
}

.hightlight_button:hover {
	border:1px solid #990000;
	color:#990000;
}

input[type="text"].api_key
{
	width:250px;
}

a.table_link {
	font-size: 14px;
	padding: 4px;
	border-radius: 5px;
	color: #454545;
	text-decoration: underline;
	text-align: right;
	outline:none;
}

a.table_link:hover {
	color: #0085CC;
}

.obsolete {
	font-style: italic;
	text-decoration: line-through;
}

a.obsolete_link,a.obsolete_link:visited,a.obsolete_link:link {
	font-style: italic;
	color: #C35817;
	text-decoration: line-through;
}

.readonly {
	font-style: italic;
}

a.readonly_link,a.readonly_link:visited,a.readonly_link:link {
	font-style: italic;
	color: #C35817;
}


/* -----------------------   Left/right container CSS  -------------------------*/
.yui-b {
	width: 200px;
	float:right;
}

#yui-main .yui-b {
	position: static;
	width:auto;
	float:none;
}
/* -----------------------  End Left/right container CSS  -------------------------*/

/* -----------------------  Header CSS  -------------------------*/
#headerlogo {
	padding-top: 6px;
	float: left;
}

#banner {
	float: left;
	width: 900px;
	background: #ffffff;
	padding-bottom: 10px;
}

#header_top_right {
	box-shadow: 0 0 2px #aaa;
	-moz-box-shadow:0 0 2px #aaa;
	border: 1px solid #CCC;
	border-radius: 5px;
	margin-top: 5px;
	float: right;
	padding: 10px 20px;
}

.user_img {
	box-shadow: 0 0 2px #aaa;
	-moz-box-shadow:0 0 2px #aaa;
	border: 1px solid #CCC;
	border-radius: 5px;
	margin-top: 5px;
	margin-right: 5px;
	float: right;
}

#loading_top_right {
	position: fixed;
	right: 2px;
	top: 2px;
}

.downArrow
{
	padding-left:10px;
}

/* ----------------------- End Header CSS  -------------------------*/

/* -----------------------  Footer CSS  -------------------------*/

.footer div.footer_container
{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:0 2px;
}

.footer
{
	width: 100%;
	min-width:960px;
	background: #DDD;
	color:#777777;
	font-weight:bold;
	font-size:13px;
	padding-top:3px;
	padding-bottom:3px;
	float:left;
	margin-top:10px;
}

.footer a
{
	color:#C35817;
	font-weight:bold;
	text-decoration:none;
}

.footer a:hover
{
	color:#FBB117;
}

.footer .locale_selector_block {
	float: right;
}

.footer .copyright_block
{
	margin-bottom:5px;
}

.footer div
{
	display:inline-table;
}

.footer div.section_block
{
	padding-right:40px;
	vertical-align:top;
}

.footer div.section_block h4
{
	margin-top:10px;
	margin-bottom:0;
	color:#777;
}

.footer div.content a
{
	font-size:11px;
}

.footer div.content ul
{
	list-style-type:none;
	font-size:12px;
	padding:0;
	margin-top:5px;
}

.footer div.content ul li
{
	padding-bottom:5px;
}

/* -----------------------  End Footer CSS  -------------------------*/

/* -----------------------  Loading Frame CSS (loading.xhtml)  -------------------------*/

/* Use this class for parent containers that
 * wish to use the loading.xhtml component 
 */
.loading_parent {
	position: relative;
}

.loading_frame {
	background: #333; 
	width: 50px; 
	height:50px; 
	position: absolute; 
	top:50px; 
	left:50%; 
	display:block; 
	-webkit-border-radius:10px; 
	border-radius:10px; 
	opacity:0.6; 
	text-align: center;
}

.loading_frame .loading_image {
	margin-top:9px;
}

/* -----------------------  End Loading Frame CSS (loading.xhtml)  -------------------------*/

/* -----------------------  JSF components CSS  -------------------------*/
.rich-panel-header, .rich-table-headercell {
	border-radius: 5px;
	text-align: center;
}

.rich-panel {
	border-radius: 3px;
	margin-bottom:10px;
}

.rich-panel-body {
	border: 1px solid;
	border-color: #f4f4f4;
}

.rich-stglpanel-header {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

/* the specificity here is necessary to override the defaults */
.rich-panel .rich-panel-header,.rich-stglpanel .rich-stglpanel-header, .rich-table .rich-table-header {
	background-image: none;
	padding: 2px 3px;
}

.rich-stglpanel {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.rich-stglpanel-body {
	overflow: auto;
}

.rich-table {
	width: 100%;
}

.inline_cell_item {
	width: 100%;
	float: left;
	margin: 0px;
}

.rich-tabpanel-content{
    background:white;
}

.noBorderTable {
	border-width: 0px;
	background:none;
}

.noBorderTable .rich-table-headercell {
	border-width: 0px;
}

.noBorderTable .rich-table-cell {
	border-width: 0px;
}

/* -----------------------  End JSF components CSS  -------------------------*/



/* -----------------------  Login form CSS  -------------------------*/
input[type="text"].loginForm_input, input[type="password"].loginForm_input {
	height: 22px;
	width: 250px;
	font-size: 16px;
	font-weight: normal;
}

.loginForm_label {
	font-size: 14px;
}
/* -----------------------  End Login form CSS  -------------------------*/

/* -----------------------  Stats bar CSS  -------------------------*/
.translationStatusDiv {
	padding: 2px;
	height: 14px;
	min-width:180px;
	width:100%;
}

.statusBar_percentage {
	font-size: 11px;
	font-weight: bold;
	padding-left: 1px;
}

.statusBar_noContent {
	font-size: 12px;
	text-align: center;
	width: 142px;
	padding: 3px;
	padding-right: 6px;
	margin-right: 5px;
}

.translationStatusBar {
	float: left;
	display: block;
	height: 14px;
	margin: 0;
	padding: 0;
}

.statusBar_approved {
	background-color: #099b09;
}

.statusBar_needReview {
	background-color: #ffc000;
}

.statusBar_untranslated {
	background-color: #C6C6C6;
}
/* -----------------------  End Stats bar CSS  -------------------------*/

/* -----------------------  Customised Language list CSS  -------------------------*/
.language_list {
	font-size: 12px;
	height: 200px;
	width: 300px;
}

.language_action_buttons {
	
}

.language_action_button {
	width: 70px;
}
/* -----------------------  End Customised Language list CSS  -------------------------*/

/* -----------------------  Language Administration CSS  -------------------------*/
.disabled_lang_row {
    background-color: #FEEDEF;
}
/* -----------------------  End Language Administration CSS  -------------------------*/

/* -----------------------  Project iteration CSS  -------------------------*/

.iterations table {
	border: none;
	background:#FFFFFF;
}

.iterations table.rich-table tbody tr:hover {
	background:none;
}

.iteration_grid_col {
	border: none;
	min-width: 100px;
}

.version_link_div {
	border:1px solid #7092C3;
	border-radius: 5px;
	padding:5px;
	margin-bottom:3px;
	min-width: 100px; 
	min-height: 100px;
}

.version_link_div:hover {
	/*border:1px solid #990000;
	background-color: #F3F2F2;*/
    background-color: #FFFFFF;
    box-shadow: 0 0 3px #7092C3 inset;
}

.version_link_div .version_title {
	word-break: break-word; 
	word-wrap: break-word; 
	width: 84px;
	float:left;
}

.version_link_div span
{
	float:right;
	font-size:16px;
	color:#B62918;
}

.version_link_div .version_info {
	margin-top:30px; 
	font-size: 11px; 
}

a.version_link {
	font-size: 14px;
	font-weight: bold;
	color: #7092C3;
	text-decoration: none;
	outline:none;
}

a.version_link:hover {
	/*color: #990000;*/
}

.list_view_header {
	width: 100%;
	padding-bottom: 3px;
}

.list_view_header h2 {
	display: inline;
	margin-top: 0px;
	margin-bottom: 3px;
}

.list_view_header h2>a {
	text-decoration: none;
	float: left;
}

.list_view_header .series_name {
	font-style: italic;
	font-size: 80%;
	color: gray;
}

.menu_items {
	float: right;
	display: inline;
	text-align: right;
	margin-bottom: 6px;
}

.highlighted_datatable_row {
	background-color:#FFFFD5;
}
/* -----------------------  End project iteration CSS  -------------------------*/

/* -----------------------  Project Iteration Files CSS  -----------------------------*/

.translate_restriction_title {
    color: #B62918;
}

.translate_restriction_mssg_row {
    padding-bottom: 10px
}

input.filter_input
{
	width:120px;
}

td.actionCol
{
	width:65px;
}

select.headerInput
{
	height:auto;
}

/* -----------------------  End Project Iteration Files CSS  -----------------------------*/

/* -----------------------  Project Iteration Copy Trans CSS  -----------------------------*/

.copy_trans_options_table td {
    padding: 5px 5px 5px 5px;
}

.copy_trans_options_table td.reject_action, .reject_action {
    background-color: red;
    text-align: center;
}

.copy_trans_options_table td.approved_action, .approved_action {
    background-color: #099b09;
    text-align: center;
}

.copy_trans_options_table td.downgrade_action, .downgrade_action {
    background-color: #ffc000;
    text-align: center;
}

.copy_trans_options_table td.ignore_action, .ignore_action {
    background-color: #ffffff;
    text-align: center;
}



/* -----------------------  End Project Iteration Copy Trans CSS  -------------------------*/

/* ------------------------ Profile Page CSS ------------------------------------------*/
.inactive_tab {
    background-color: #ffffff;
}

.tab_header {
    padding:8px;
    font-weight:bold;
    background-image:none;
    width:200px;
    font-size:13px;
}

.tab_header .noBorderTable
{
	background:#FFFFFF;
	box-shadow:none;
}

/* ------------------------ End Profile Page CSS --------------------------------------*/



/* ------------------------ Glossary Page CSS -------------------------------------*/
div.glosaryFileUploadDialog
{
	padding:10px 5px;
	
}

div.glosaryFileUploadDialog label
{
	font-weight:bold;
	
}

div.glosaryFileUploadDialog select
{
	float:right;
	height:22px;
	
}

div.glosaryDeleteDialog
{
	padding:10px 5px;
}

div.glosaryFileUploadDialog label
{
	font-weight:bold;
	
}

div.glosaryDeleteWarn
{
	font-size:12px;
	font-weight:bold;
	padding:8px 0;
}

div.glosaryDeleteWarn span.warn
{
	font-size:1.0em;
	font-weight:bold;
	color:#D77D00;
}

.glossarySupportedFileLabel
{
	font-size:12px;
	font-weight:bold;
	color:#B62918;
}

/* ------------------------ End Glossary Page CSS --------------------------------------*/



/* ------------------------ Admin Page CSS -------------------------------------*/
a.admin_link {
    font-size: 1.0em;
    font-weight: bold;
    color: #7092C3;
    text-decoration: none;
    text-align: center;
    outline:none;
}

a.admin_link:hover {
    color: #990000;
}

.admin_link_div .admin_link_img {
    margin-top:8px;
}

.admin_link_div .admin_link_title {
    margin-top:15px;
}

.admin_link_div {
    border:1px solid #7092C3;
    border-radius: 5px;
    padding:5px;
    margin-bottom:3px;
    margin-left:3px;
    width: 120px;
    height: 100px;
}

.admin_link_div:hover {
    border:1px solid #990000;
    background-color: #F3F2F2;
}
/* ------------------------ End Admin Page CSS --------------------------------------*/

.iteration_inline_tribes {
	
}

.content_box {
    border-top: 1px dotted #6D6D6D;
    border-bottom: 1px dotted #6D6D6D;
    background-color: #eeeeee;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
}