#container {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top:5px;
	background-color: #ffffff;
	min-height:400px;
}

#yui-main {
	float: left;
	width: 680px !important;
}

.bold-larger {
	font-weight: bold;
	font-size: larger;
}

.float-right {
	float: right;
}

#search_panel {
	float: right;
}

#breadcrumbs_panel
{
	height:100%;
}

#breadcrumbs_panel img
{
	width:10px;
	padding:0 5px;
	vertical-align:middle;
}

#breadcrumbs_div
{
	margin:5px;
	width:100%;
	padding:3px;
}

a.breadcrumbs_link
{
	font-size:14px;
	font-weight:bold;
	color:#0085CC;
	padding:2px 0 2px 5px;
	vertical-align:middle;
}

a.breadcrumbs_link:hover
{
	text-decoration:underline;
}

.breadcrumbs_display
{
	font-size:14px;
	font-weight:bold;
	color:#B62918;
	padding:2px 0 2px 5px;
	vertical-align:middle;
}


#bd {
	width: 100%;
	padding: 8px 0;
}


#search_div {
	width:100%;
	border:1px dotted #D9D9D9;
	height:32px;
	border-radius:3px;
	padding:2px;
	margin-bottom:2px;
}

.code {
	color: grey;
}

.configTextArea
{
	width:100%;
	padding:0;
	font-size:12px;
}

.search_icon {
	background-image: url(../images/crystal_project/_16x16/actions/search.png);
}

.input_help {
	vertical-align: middle;
	padding-left: 2px;
	/* error img takes up 16px */
	padding-right: 2px;
}

.message {
	padding: 5px;
	list-style: none;
	color: #000000;
	margin: 5px 0 8px 0;
}

.message li {
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
	background: no-repeat left center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin-left: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.message li.infomsg {
	background-image: url(../images/msginfo.png);
	background-color: #fafafe;
}

.message li.errormsg {
	background-image: url(../images/msgerror.png);
	background-color: #fefafa;
}

.message li.warnmsg {
	background-image: url(../images/msgwarn.png);
	background-color: #fefefa;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 140px;
	float: left;
	padding: 5px;
	margin-top: 5px;
	clear: left;
	font-size:12px;
}

.prop {
	vertical-align: middle;
}

.value {
	float: left;
	padding: 5px;
	font-size:13px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #F00000;
	vertical-align: middle;
}

img.errors {
	padding-left: 5px;
	padding-right: 5px;
}

.errors input,.errors textarea {
	border: 1px solid #F00000 !important;
	background-color: #FFFAFA;
}

.required {
	color: #F00000;
	padding-left: 2px;
}

.rich-panel input[type=submit],.rich-panel input[type=button],.rich-tabpanel input[type=submit],.rich-tabpanel input[type=button]
	{
	margin-bottom: 0;
}

.actionButtons {
	padding-top: 10px;
	padding-right: 10px;
	text-align: left;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

input[type="submit"].projectSearchButton
{
	border-color: #7D180A;
	background: #C54224;
	background: -moz-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EF6638), color-stop(100%, #B62918) );
	background: -webkit-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: -o-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: -ms-linear-gradient(top, #EF6638 0%, #B62918 100%);
	background: linear-gradient(top, #EF6638 0%, #B62918 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#ef6638',
		endColorstr='#b62918', GradientType=0 );
	/* Text (previously on an a tag) */
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 13px;
	vertical-align:top;
	text-align: center;
	text-decoration: none;
	color: white;
	text-shadow: 0 1px 2px #114A1E, 0 1px 0 #114A1E;
}

input[type="submit"].projectSearchButton:hover
{
	border-color: #7D180A;
	background: #ED754E;
	background: -moz-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ED754E), color-stop(100%, #C93E23) );
	background: -webkit-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: -o-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: -ms-linear-gradient(top, #ED754E 0%, #C93E23 100%);
	background: linear-gradient(top, #ED754E 0%, #C93E23 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#ed754e',
		endColorstr='#c93e23', GradientType=0 );
}

div.info {
}

/* Styles from the security-stuff in seamspace*/
div.checkmark {
	background: url(../images/crystal_project/_16x16/actions/button_ok.png) top left no-repeat;
	width: 16px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
}

div.cross {
	background: url(../images/crystal_project/_16x16/actions/button_cancel.png) top left no-repeat;
	width: 16px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
}


tr.hover-row { 
	cursor: pointer;
}

td.enabled {
	text-align: center;
}

table.fullwidth {
	width: 100%
}

td.wrapped {
    word-break: break-word;
    word-wrap: break-word;
}

a.button {
	font-size: 1em;
	font-weight: bold;
	background-color: #FFFFFF;
	border: 1px solid #A2C4F5;
	padding: 1px 8px;
	border-radius: 5px;
	color: #7092C3;
	text-align: center;
}

a.action_link {
	display: block;
	font-size: 14px;
	font-weight: bold;
	background-color: #FFFFFF;
	border: 1px solid #A2C4F5;
	padding: 6px;
	border-radius: 5px;
	color: #7092C3;
	margin-top: 4px;
	text-align: center;
}

a.action_link:hover, a.button:hover {
	background-color: #FFFFFF;
	border:1px solid #990000;
	color:#990000;
}

.hightlight_button:hover {
	border:1px solid #990000;
	color:#990000;
}

input[type="text"].api_key
{
	width:250px;
}

a.table_link {
	font-size: 14px;
	padding: 4px;
	border-radius: 5px;
	color: #454545;
	text-decoration: underline;
	text-align: right;
	outline:none;
}

a.table_link:hover {
	color: #990000;
}

.obsolete {
	font-style: italic;
	text-decoration: line-through;
}

a.obsolete_link,a.obsolete_link:visited,a.obsolete_link:link {
	font-style: italic;
	color: #ACC2E1;
	text-decoration: line-through;
}

.readonly {
	font-style: italic;
}

a.readonly_link,a.readonly_link:visited,a.readonly_link:link {
	font-style: italic;
	color: #ACC2E1;
}


/* -----------------------   Left/right container CSS  -------------------------*/
.yui-b {
	padding: 5px;
	width: 200px;
	float:right;
}

#yui-main .yui-b {
	position: static;
	width:auto;
	float:none;
}
/* -----------------------  End Left/right container CSS  -------------------------*/

/* -----------------------  Header CSS  -------------------------*/
#headerlogo {
	padding-top: 6px;
	float: left;
}

#banner {
	float: left;
	width: 900px;
	background: #ffffff;
	padding-bottom: 10px;
}

#header_top_right {
	box-shadow: 0 0 2px #aaa;
	-moz-box-shadow:0 0 2px #aaa;
	border: 1px solid #CCC;
	border-radius: 5px;
	margin-top: 5px;
	float: right;
	padding: 10px 20px;
}

.user_img {
	box-shadow: 0 0 2px #aaa;
	-moz-box-shadow:0 0 2px #aaa;
	border: 1px solid #CCC;
	border-radius: 5px;
	margin-top: 5px;
	margin-right: 5px;
	float: right;
}

#loading_top_right {
	position: fixed;
	right: 2px;
	top: 2px;
}

.downArrow
{
	margin-right:9px;
	font-size:10px;
	vertical-align:top;
	line-height:20px;
	color:#C35817;
	float:right;
}

.navBar ul li:hover .downArrow
{
	color:#FBB117;
}


/* ----------------------- End Header CSS  -------------------------*/

/* -----------------------  Footer CSS  -------------------------*/

.footer div.footer_container
{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.footer
{
	width: 100%;
	background: #DDD;
	color:#777777;
	font-weight:bold;
	font-size:13px;
	padding-top:3px;
	padding-bottom:3px;
	float:left;
	margin-top:10px;
}

.footer a
{
	color:#C35817;
	font-weight:bold;
	text-decoration:none;
}

.footer a:hover
{
	color:#FBB117;
}

.footer .locale_selector_block {
	float: right;
}

.footer .copyright_block
{
	margin-bottom:5px;
}

.footer div
{
	display:inline-table;
}

.footer div.section_block
{
	padding-right:40px;
	vertical-align:top;
}

.footer div.section_block h4
{
	margin-top:10px;
	margin-bottom:5px;
	color:#777;
}

.footer div.content a
{
	font-size:11px;
}

.footer div.content ul
{
	list-style-type:none;
	font-size:12px;
	padding:0;
	margin-top:5px;
}

.footer div.content ul li
{
	padding-bottom:5px;
}

/* -----------------------  End Footer CSS  -------------------------*/

/* -----------------------  Loading Frame CSS (loading.xhtml)  -------------------------*/

/* Use this class for parent containers that
 * wish to use the loading.xhtml component 
 */
.loading_parent {
	position: relative;
}

.loading_frame {
	background: #333; 
	width: 50px; 
	height:50px; 
	position: absolute; 
	top:50px; 
	left:50%; 
	display:block; 
	-webkit-border-radius:10px; 
	border-radius:10px; 
	opacity:0.6; 
	text-align: center;
}

.loading_frame .loading_image {
	margin-top:9px;
}

/* -----------------------  End Loading Frame CSS (loading.xhtml)  -------------------------*/

/* -----------------------  JSF components CSS  -------------------------*/
.rich-panel-header, .rich-table-headercell {
	border-radius: 5px;
	text-align: center;
}

.rich-panel {
	border-radius: 3px;
	margin-bottom:10px;
}

.rich-panel-body {
	border: 1px solid;
	border-color: #f4f4f4;
}

.rich-stglpanel-header {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

/* the specificity here is necessary to override the defaults */
.rich-panel .rich-panel-header,.rich-stglpanel .rich-stglpanel-header, .rich-table .rich-table-header {
	background-image: none;
	padding: 2px 3px;
}

.rich-stglpanel {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.rich-stglpanel-body {
	overflow: auto;
}

.rich-table {
	width: 100%;
}

.inline_cell_item {
	width: 100%;
	float: left;
	margin: 0px;
}

.rich-tabpanel-content{
    background:white;
}

.noBorderTable {
	border-width: 0px;
	background:none;
}

.noBorderTable .rich-table-headercell {
	border-width: 0px;
}

.noBorderTable .rich-table-cell {
	border-width: 0px;
}

/* -----------------------  End JSF components CSS  -------------------------*/

/* -----------------------  Top menu CSS  -------------------------*/
.header {
	width: 100%;
	height: 35px;
	margin: 0;
	background: -webkit-linear-gradient(top, #F1F1F1 0%, #D3D3D3 100%);
	background: -moz-linear-gradient(top, #F1F1F1 0%, #D3D3D3 100%);
	background: -o-linear-gradient(top, #F1F1F1 0%, #D3D3D3 100%);
	background: -ms-linear-gradient(top, #F1F1F1 0%, #D3D3D3 100%);
	top:0px;
	box-shadow:1px 1px 8px #778899;
}

.logo {
	width: 200px;
}

.navBar {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
/* 	background: -webkit-linear-gradient(top, #354F71 0%, #1A2D45 100%); */
/* 	background: -moz-linear-gradient(top, #354F71 0%, #1A2D45 100%); */
/* 	background: -o-linear-gradient(top, #354F71 0%, #1A2D45 100%); */
/* 	background: -ms-linear-gradient(top, #354F71 0%, #1A2D45 100%); */
}

.navBar ul {
	display: table;
	width: 100%;
	height:100%;
	float: none;
	vertical-align: middle;
	margin: 0;
	padding: 0px;
}

.navBar ul li {
	display: table-cell;
	float: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #E5E5E5;
	box-shadow: inset 1px 0 0 #959595;
}

.navBar ul li:hover {
	background: #7E91A9;
	border-right: 1px solid #7E91A9;
}

.navBar ul li a {
	display: block;
	height: 33px;
	line-height: 33px;
	font-size: 13px;
	color: #595959;
	font-family: helvetica;
	font-weight: bold;
	text-decoration: none;
	outline: none;
	width: 160px;
	margin: 0 auto;
}

.navBar ul li:hover a {
	border-right: none;
	box-shadow: none;
	color:#FFFFFF;
}

.navBar ul li img {
	margin-right: 4px;
	vertical-align: middle;
}

#logoCol, #logoCol:hover {
	width: 750px;
	border-left: none;
	border-right: none;
	box-shadow: none;
	background: none;
}

#logoCol a {
	margin-left: 0px;
}

#logoCol a:hover {
	background: none;
}

#logoCol img {
	padding-top: 3px;
}


#translationCol {
	box-shadow: none;
}

#userCol {
	width: auto;
}

#userCol img.avatar {
	padding: 0;
	border: 1px solid grey;
	background:#FFFFFF;
}

#menuCol a.text {
	text-align: center;
	width: 30px;
	font-size: 18px;
}

#menuCol, #menuCol:hover {
	border-right: none;
}

#menuCol:hover {
	background: #7E91A9;
}

#menuCol .submenu {
    margin-left:-130px;
}

div.submenu {
	height: 0px;
	position: absolute;
	width: 160px;
	overflow: hidden;
	z-index: 999;
}

.navBar li:hover div.submenu {
	height: auto;
	position: absolute;
	-webkit-transition: ease-in-out .1s;
	-moz-transition: ease-in-out .1s;
	-o-transition: ease-in-out .1s;
	-ms-transition: ease-in-out .1s;
	transition: ease-in-out .1s;
	-webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
	box-shadow: 0px 3px 4px rgba(0, 0, 0, .3);
}

div.submenu ul {
	border: 1px solid lightgrey;
}

div.submenu ul li {
	display: block;
	width: 100%;
	float: left;
	text-align: left;
	height: auto;
	color: black;
	border-bottom: 1px solid #DDDDDD;
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
	background:#FFFFFF;
}

div.submenu ul li:last-child {
	border-bottom: none;
}

div.submenu ul li:hover {
	background: #BACDE5;
}

.navBar ul li:hover div.submenu ul li a
{
	color: #454545;
}

div.submenu ul li a {
	color: #454545;
	font-size: 12px;
	text-shadow: none;
	line-height: 28px;
	text-align: left;
	width: 160px;
	margin-left: 5px;
	margin-right: 5px;
}

div.submenu img {
	border: none;
}

/* -----------------------  End Top menu CSS  -------------------------*/

/* -----------------------  Login form CSS  -------------------------*/
input[type="text"].loginForm_input, input[type="password"].loginForm_input {
	height: 22px;
	width: 250px;
	font-size: 16px;
	font-weight: normal;
}

.loginForm_label {
	font-size: 14px;
}
/* -----------------------  End Login form CSS  -------------------------*/

/* -----------------------  Stats bar CSS  -------------------------*/
.translationStatusDiv {
	float: left;
	display: block;
	padding: 3px;
	padding-right: 6px;
	margin-right: 5px;
	width: 144px;
	height: 14px;
}

.statusBar_percentage {
	font-size: 12px;
	font-weight: bold;
	padding-left: 2px;
}

.statusBar_noContent {
	font-size: 12px;
	text-align: center;
	width: 142px;
	padding: 3px;
	padding-right: 6px;
	margin-right: 5px;
}

.translationStatusBar {
	float: left;
	display: block;
	height: 14px;
	margin: 0;
	padding: 0;
}

.statusBar_approved {
	background-color: #099b09;
}

.statusBar_needReview {
	background-color: #ffc000;
}

.statusBar_untranslated {
	background-color: #C6C6C6;
}
/* -----------------------  End Stats bar CSS  -------------------------*/

/* -----------------------  Customised Language list CSS  -------------------------*/
.language_list {
	font-size: 12px;
	height: 200px;
	width: 300px;
}

.language_action_buttons {
	
}

.language_action_button {
	width: 70px;
}
/* -----------------------  End Customised Language list CSS  -------------------------*/

/* -----------------------  Language Administration CSS  -------------------------*/
.disabled_lang_row {
    background-color: #FEEDEF;
}
/* -----------------------  End Language Administration CSS  -------------------------*/

/* -----------------------  Project iteration CSS  -------------------------*/

.iterations table {
	border: none;
	background:#FFFFFF;
}

.iterations table.rich-table tbody tr:hover {
	background:none;
}

.iteration_grid_col {
	border: none;
	min-width: 100px;
}

.version_link_div {
	border:1px solid #7092C3;
	border-radius: 5px;
	padding:5px;
	margin-bottom:3px;
	min-width: 100px; 
	min-height: 100px;
}

.version_link_div:hover {
	border:1px solid #990000;
	background-color: #F3F2F2;
}

.version_link_div .version_title {
	word-break: break-word; 
	word-wrap: break-word; 
	width: 84px;
	float:left;
}

.version_link_div img
{
	float:right;
}

.version_link_div .version_info {
	margin-top:30px; 
	font-size: 11px; 
}

a.version_link {
	font-size: 14px;
	font-weight: bold;
	color: #7092C3;
	text-decoration: none;
}

a.version_link:hover {
	color: #990000;
}

.list_view_header {
	width: 100%;
	padding-bottom: 3px;
}

.list_view_header h2 {
	display: inline;
	margin-top: 0px;
	margin-bottom: 3px;
}

.list_view_header h2>a {
	text-decoration: none;
	float: left;
}

.list_view_header .series_name {
	font-style: italic;
	font-size: 80%;
	color: gray;
}

.menu_items {
	float: right;
	display: inline;
	text-align: right;
	margin-bottom: 6px;
}

.highlighted_datatable_row {
	background-color: #ffff00;
}
/* -----------------------  End project iteration CSS  -------------------------*/

/* -----------------------  Project Iteration Copy Trans CSS  -----------------------------*/

.copy_trans_options_table td {
    padding: 5px 5px 5px 5px;
}

.copy_trans_options_table td.reject_action, .reject_action {
    background-color: red;
    text-align: center;
}

.copy_trans_options_table td.approved_action, .approved_action {
    background-color: #099b09;
    text-align: center;
}

.copy_trans_options_table td.downgrade_action, .downgrade_action {
    background-color: #ffc000;
    text-align: center;
}

.copy_trans_options_table td.ignore_action, .ignore_action {
    background-color: #ffffff;
    text-align: center;
}



/* -----------------------  End Project Iteration Copy Trans CSS  -------------------------*/

/* ------------------------ Profile Page CSS ------------------------------------------*/
.inactive_tab {
    background-color: #ffffff;
}

.tab_header {
    padding:8px;
    font-weight:bold;
    background-image:none;
    width:200px;
    font-size:13px;
}

.tab_header .noBorderTable
{
	background:#FFFFFF;
	box-shadow:none;
}

/* ------------------------ End Profile Page CSS --------------------------------------*/

/* ------------------------ Admin Page CSS -------------------------------------*/
a.admin_link {
    font-size: 1.0em;
    font-weight: bold;
    color: #7092C3;
    text-decoration: none;
    text-align: center;
}

a.admin_link:hover {
    color: #990000;
}

.admin_link_div .admin_link_img {
    margin-top:8px;
}

.admin_link_div .admin_link_title {
    margin-top:15px;
}

.admin_link_div {
    border:1px solid #7092C3;
    border-radius: 5px;
    padding:5px;
    margin-bottom:3px;
    margin-left:3px;
    width: 120px;
    height: 90px;
}

.admin_link_div:hover {
    border:1px solid #990000;
    background-color: #F3F2F2;
}
/* ------------------------ End Admin Page CSS --------------------------------------*/

.iteration_inline_tribes {
	
}