# run jboss-cli.sh --file <location of this file> to apply messaging changes

connect

# jboss cli specification for an operation request
#[/node-type=node-name (/node-type=node-name)*] : operation-name [( [parameter-name=parameter-value (,parameter-name=parameter-value)*] )]

# add messaging extension if not already exist
if (outcome == failed) of /extension=org.jboss.as.messaging:read-resource()
    /extension=org.jboss.as.messaging:add()
end-if

if (outcome == failed) of /subsystem=messaging:read-resource()
    /subsystem=messaging:add()
end-if

batch

/subsystem=ejb3:write-attribute(name="default-resource-adapter-name", value="hornetq-ra")
/subsystem=ejb3:write-attribute(name="default-mdb-instance-pool", value="mdb-strict-max-pool")

/subsystem=messaging/hornetq-server=default:add(persistence-enabled=true, security-enabled=false, journal-type=NIO, journal-min-files=2)
#/subsystem=messaging/hornetq-server=default/:write-attribute(name=persistence-enabled, value=true)
#/subsystem=messaging/hornetq-server=default/:write-attribute(name=security-enabled, value=false)
#/subsystem=messaging/hornetq-server=default/:write-attribute(name=journal-type, value=NIO)
#/subsystem=messaging/hornetq-server=default/:write-attribute(name=journal-min-files, value=2)

/subsystem=messaging/hornetq-server=default/address-setting=#:add(address-full-policy="PAGE", \
    dead-letter-address="jms.queue.DLQ", expiry-address="jms.queue.ExpiryQueue", expiry-delay=-1L, \
    last-value-queue=false, max-delivery-attempts=3, max-size-bytes=10485760L, message-counter-history-day-limit=10, \
    page-max-cache-size=5, page-size-bytes=2097152L, redelivery-delay=5000L, redistribution-delay=5000L, send-to-dla-on-no-route=false)

/subsystem=messaging/hornetq-server=default/in-vm-connector=in-vm:add(server-id=0)
/subsystem=messaging/hornetq-server=default/in-vm-acceptor=in-vm:add(server-id=0)

/subsystem=messaging/hornetq-server=default/connection-factory=InVmConnectionFactory:add(connector={"in-vm"=>undefined}, entries = ["java:/ConnectionFactory"])
/subsystem=messaging/hornetq-server=default/pooled-connection-factory=hornetq-ra:add(connector={"in-vm"=>undefined}, entries=["java:/JmsXA","java:jboss/DefaultJMSConnectionFactory"])
/subsystem=messaging/hornetq-server=default/pooled-connection-factory=hornetq-ra/:write-attribute(name=min-pool-size,value=2)
/subsystem=messaging/hornetq-server=default/pooled-connection-factory=hornetq-ra/:write-attribute(name=max-pool-size,value=10)

/subsystem=messaging/hornetq-server=default/security-setting=#:add()
/subsystem=messaging/hornetq-server=default/security-setting=#/role=guest:add(consume=true, create-durable-queue=false, create-non-durable-queue=true, delete-durable-queue=false, delete-non-durable-queue=true, manage=false, send=true)

jms-queue add --queue-address=ExpiryQueue --durable=true --entries=["java:/jms/queue/ExpiryQueue"]
jms-queue add --queue-address=DLQ --durable=true --entries=["java:/jms/queue/DLQ"]
jms-queue add --queue-address=MailsQueue --durable=true --entries=["java:/jms/queue/MailsQueue"]

# if we want to add netty as remote connector
#/subsystem=messaging/hornetq-server=default/remote-connector=netty/:add(socket-binding=messaging)
#/subsystem=messaging/hornetq-server=default/remote-connector=netty-throughput/:add(socket-binding=messaging-throughput)
#/subsystem=messaging/hornetq-server=default/remote-connector=netty-throughput/param=batch-delay/:add(value=50)
#/subsystem=messaging/hornetq-server=default/remote-connector=netty-throughput/param=direct-deliver/:add(value=false)

#/subsystem=messaging/hornetq-server=default/remote-acceptor=netty/:add(socket-binding=messaging)
#/subsystem=messaging/hornetq-server=default/remote-acceptor=netty-throughput/:add(socket-binding=messaging-throughput)
#/subsystem=messaging/hornetq-server=default/remote-acceptor=netty-throughput/param=batch-delay:add(value=50)
#/subsystem=messaging/hornetq-server=default/remote-acceptor=netty-throughput/param=direct-deliver:add(value=false)

#/socket-binding-group=standard-sockets/socket-binding=messaging:add(port="${jboss.messaging.port,env.JBOSS_MESSAGING_PORT:5445}")
#/socket-binding-group=standard-sockets/socket-binding=messaging-group:add(port=0, multicast-address="${jboss.messaging.group.address:231.7.7.7}", multicast-port="${jboss.messaging.group.port:9876}")
#/socket-binding-group=standard-sockets/socket-binding=messaging-throughput:add(port="${jboss.messaging.throughput.port,env.JBOSS_MESSAGING_THROUGHPUT_PORT:5455}")

run-batch
