# run jboss-cli.sh --file=<location of this file> to apply messaging changes

connect

# jboss cli specification for an operation request
#[/node-type=node-name (/node-type=node-name)*] : operation-name [( [parameter-name=parameter-value (,parameter-name=parameter-value)*] )]

batch

jms-queue add --queue-address=MailsQueue --durable=true --entries=["java:/jms/queue/MailsQueue"]

run-batch
