/** @define InputGroup; use strict */

:root {
  --InputGroup-rhythm: 1.5rem;
  --InputGroup-input-color: #20718A;
  --InputGroup-addon-color: color(#20718A tint(30%));
  --InputGroup-border-color: color(#20718A tint(60%));
  --InputGroup-border--focus-color: color(#20718A tint(30%));
  --InputGroup-transition: 0.2s cubic-bezier(.26, .47, .36, .94);
}

.InputGroup {
  position: relative;
  display: table;
  border-collapse: separate;
}

.InputGroup-input,
.InputGroup-addon,
.InputGroup-button {
  display: table-cell;
  transition: var(--InputGroup-transition);
}

.InputGroup-input,
.InputGroup-addon {
  background-color: transparent;
  padding: 0 calc(var(--InputGroup-rhythm) * .25);
}

.InputGroup-input {
  border: none;
  width: 100%;
  color: var(--InputGroup-input-color);
}

.InputGroup-addon {
  color: var(--InputGroup-addon-color);
  text-align: center;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.InputGroup-addon:before {
  content: ' ';
}

.InputGroup.is-focused .InputGroup-input,
.InputGroup.is-focused .InputGroup-addon {
  background-color: #fff;
}

.InputGroup--bordered .InputGroup-input,
.InputGroup--bordered .InputGroup-addon,
.InputGroup--outlined .InputGroup-input,
.InputGroup--outlined .InputGroup-addon {
  border-top: 1px solid var(--InputGroup-border-color);
  border-bottom: 1px solid var(--InputGroup-border-color);
}

.InputGroup--bordered .InputGroup-input {
  border-left: 1px solid var(--InputGroup-border-color);
  border-right: 1px solid var(--InputGroup-border-color);
}

.InputGroup--outlined .InputGroup-input:first-child,
.InputGroup--outlined .InputGroup-addon:first-child {
  border-left: 1px solid var(--InputGroup-border-color);
}

.InputGroup--outlined .InputGroup-input:last-child,
.InputGroup--outlined .InputGroup-addon:last-child {
  border-right: 1px solid var(--InputGroup-border-color);
}

.InputGroup--bordered.is-focused .InputGroup-input,
.InputGroup--bordered.is-focused .InputGroup-addon,
.InputGroup--outlined.is-focused .InputGroup-input,
.InputGroup--outlined.is-focused .InputGroup-addon {
  border-color: var(--InputGroup-border--focus-color);
}

.InputGroup--rounded .InputGroup-input:first-child,
.InputGroup--rounded .InputGroup-addon:first-child {
  border-bottom-left-radius: calc(var(--InputGroup-rhythm) * 1);
  border-top-left-radius: calc(var(--InputGroup-rhythm) * 1);
  padding-left: calc(var(--InputGroup-rhythm) * .375);
}

.InputGroup--rounded .InputGroup-input:last-child,
.InputGroup--rounded .InputGroup-addon:last-child {
  border-bottom-right-radius: calc(var(--InputGroup-rhythm) * 1);
  border-top-right-radius: calc(var(--InputGroup-rhythm) * 1);
  padding-right: calc(var(--InputGroup-rhythm) * .375);
}
