/** @define Editor; use strict */

:root {
  --Editor-rhythm: 1.5rem;
  --Editor-transition-ease: cubic-bezier(.175, .885, .320, 1.275);
  --Editor-color-status-bg: color(#416988 tint(82%));
  --Editor-color-translation-bg: #ECEFF0;
  --Editor-loader-z-index: 900;
  --Editor-panel-z-index: 200;
  --Editor-suggestions-header-z-index: 301;
  --Editor-suggestionsSearch-z-index: 300;
  --LogoLoader-transition-ease: cubic-bezier(.175, .885, .320, 1.275);
  --Editor-color-light: #90b8c5;
  --Editor-color-dark: #20718a;
  --Editor-color-bright: #1ba7d9;
  --Editor-badge-radius: 4px;
  --Editor-border-radius-small: 3px;
  --Editor-label-margin: 0.38rem;
  --Editor-alert-color: rgba(255,59,61,0.95);
  --Editor-border-radius: 0.25rem;
}

input, textarea, select, button  {
  font-size: 1rem;
}

.TransUnitItem .highlight {
  background-color: #ff6;
}

.sidebar-editor .badge {
  font-size: 0.875rem;
  display: inline-block;
  min-width: 1rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  margin-left: 0.375rem;
  border-radius: var(--Editor-badge-radius);
  background-color: var(--Editor-color-dark);
}

.gloss-tab-svg {
  vertical-align: sub;
}

/* need to keep syntax for logoLoader so this overrides correctly */

.logoLoader {
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  height: calc(1.5rem * 1.625);
  position: relative;
  width: calc(1.5rem * 1.625);
}

.logoLoader-inverted {
  color: #20718A;
}

.logoLoader-logo {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.25s var(--LogoLoader-transition-ease);
  fill: currentColor;
}

.logoLoader-svg {
  bottom: 0;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
}

.logoLoader path {
  transform-origin: 50% 50% 0;
}

.logoLoader:hover .logoLoader-z {
  animation: pop 0.3s var(--LogoLoader-transition-ease);
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.logoLoader-z {
  transform: scale(1, 1);
  transition: all 0.25s var(--LogoLoader-transition-ease);
}

.logoLoader .logoLoader-logo {
  transform-origin: 50% 50% 0;
}

.logoLoader .logoLoader-circle, .logoLoader .logoLoader-circlePulse {
  transform: scale(1, 1);
}

.logoLoader.is-loading .logoLoader-z {
  animation: pulseBegin 1s infinite linear;
}

.logoLoader.is-loading .logoLoader-circle {
  animation: pulseBegin 1s infinite linear;
  animation-delay: 0.1s;
}

.logoLoader.is-loading .logoLoader-circlePulse {
  animation: pulse 1s infinite linear;
  animation-delay: 0.1s;
}

@keyframes pulseBegin {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(.6);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%, 100%, 90% {
    transform: scale(0, 0);
    opacity: 0.1;
  }
  40% {
    transform: scale(0.05, 0.05);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(.6);
    opacity: 0;
  }
  20% {
    transform: scale(.6);
  }
  40% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  60% {
    transform: scale(1.6);
    opacity: 0.7;
  }
  100% {
    transform: scale(2);
    opacity: 0.0;
  }
}

@keyframes pop {
  to {
    transform: rotate(15deg) scale(1.1, 1.1);
  }
}

/* Shorten with an ellipsis when overflowing */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Editor {
  overflow: hidden;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
  unicode-bidi: embed;
}

.Editor-header,
.Editor-loader {
  transition: 0.2s all var(--Editor-transition-ease);
}

.Editor-header.is-minimised {
  transform: translateY(calc(var(--Editor-rhythm) * -2));
}

.Editor-header.is-minimised .Editor-mainNav {
  visibility: hidden;
}

.Editor-loader {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, calc(var(--Editor-rhythm) * .25));
  z-index: var(--Editor-loader-z-index);
}

.Editor-docsDropdown button.Link--invert div span {
  max-width: 25em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Editor-loader.is-minimised .logoLoader {
  display: none;
  visibility: hidden;
}

.TransUnit-panel .u-textMeta .loaderText span span {
  padding-left: 1em;
}

.Editor-suggestionsBody .loaderText span span {
  color: var(--Editor-color-light);
  font-weight: 600;
}

li.DocName .row {
  display: flex;
  width: 12rem;
}

li.DocName span.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Editor-loader.is-minimised {
  transform: translateX(-50%) scale(.75, .75);
}

.Editor-mainNav {
  height: calc(var(--Editor-rhythm) * 2);
}

.Editor-content {
  bottom: 0;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: calc(var(--Editor-rhythm) * 3.75);
  width: 100%;
  -webkit-overlow-scrolling: touch;
}

.Editor-content.is-maximised {
  top: calc(var(--Editor-rhythm) * 1.75);
}

/*So firefox keeps the background at 100% height when there are only a few translations*/
.Editor-translationsWrapper {
  height: 100%;
}

.Editor-translations {
  background: linear-gradient(to right, var(--Editor-color-status-bg), var(--Editor-color-status-bg));
  background-position: left center;
  background-repeat: no-repeat;
  background-size: var(--rhythm) 100%;
  min-height: 100%;
  padding: calc(var(--Editor-rhythm) * 2) 0;
}

.Editor-currentDoc {
  max-width: calc(var(--Editor-rhythm) * 3.5);
}

.Editor-currentLang {
  max-width: calc(var(--Editor-rhythm) * 3.5);
}

.Editor-suggestions {
  bottom: 0;
  box-shadow: 0 -calc(var(--Editor-rhythm) *.125) var(--Header-rhythm) rgba(0, 0, 0, .1);
  left: 0;
  overflow: hidden;
  right: 0;
  z-index: var(--Editor-panel-z-index);
  /*transform: translateY(100%);*/
}

.Editor-suggestionsHeader {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
}

.Editor-suggestionsBody {
  /* Fallback */
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: calc(var(--Editor-rhythm) * 1.5);
}

.Editor-suggestions.is-search-active .Editor-suggestionsBody {
  top: calc(var(--Editor-rhythm) * 3);
}

.Editor-suggestionsSearch {
  clear: both;
}

.TransUnitLink.form-group {
  padding-top: 0.75em;
}

.TransUnitLink.form-group .form-control {
  color: var(--Editor-color-dark);
  height: 2.25em;
  width: 90%;
}

/* Bootstrap classes */

.input-group-addon {
  color: var(--Editor-color-dark);
  vertical-align: middle;
}

.panel-group {
  margin-bottom: 1.429em;
}

.panel-group .panel {
  border-radius: var(--border-radius-base);
  margin-bottom: 0;
}

.panel-group .panel + .panel {
  margin-top: 0.357em;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 1px solid #ddd;
}

.panel-group .panel-footer {
  border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}

.panel {
  background-color: #fcfcfc;
  border: 1px solid transparent;
  border-radius: var(--border-radius-base);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  margin-bottom: 1.429em;
}

.panel-body {
  color: var(--brand-primary);
  font-size: 1em;
  padding: var(--padding-large-vertical);
}

.panel-body h3 {
  margin-top: 0;
}

.panel-title {
  color: inherit;
  font-size: 1.143em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0
}

.panel.panel-side {
  background-color: #fff !important;
  border: solid 1px #ddd !important;
  padding: var(--padding-base-vertical);
}

.panel-heading {
  background-color: #fff;
  border-bottom: 1px solid transparent;
  border-top-left-radius: var(--Editor-border-radius-small);
  border-top-right-radius: var(--Editor-border-radius-small);
  color: var(--brand-secondary);
  font-size: 1.1em !important;
  font-weight: 600;
  padding: var(--padding-small-horizontal);
}

.panel-info > .panel-heading {
  background-color: var(--brand-info);
  color: #fff;
}

.panel-title > .small,
.panel-title > .small > a,
.panel-title > a,
.panel-title > small,
.panel-title > small > a {
  color: inherit;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  height: 0;
  overflow: hidden;
  position: relative;
  transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  -webkit-transition-duration: 0.35s;
  transition-property: height, visibility;
  -o-transition-property: height, visibility;
  -webkit-transition-property: height, visibility;
  transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}

/* bugfix */
.Z\(modal\) {
  z-index: 1000 !important;
}

.modal-open {
  overflow: hidden;
}

.modal {
  bottom: 0;
  left: 0;
  outline: 0;
  overflow: hidden;
  padding: 1em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
}

.modal.fade .modal-dialog {
  transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  -webkit-transform: translate(0, -25%);
  transition: transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  margin: 1em;
  position: relative;
  width: auto;
}

.modal-content {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 12px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .4);
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  outline: 0;
  position: relative;
  -webkit-background-clip: padding-box;
}

.modal-backdrop {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1040;
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.modal-header {
  border-bottom: 0;
  padding: 15px;
}

.modal-header .close {
  margin-top: -2px;
  opacity: 0.7;
}

.modal-title {
  font-size: 1.725rem;
  font-weight: 400;
  line-height: 1.333em;
  margin: 0;
  text-align: center;
}

.modal-body {
  color: #333;
  padding: 2em;
  position: relative;
}

.modal-body .scrollable {
  overflow: auto;
  overflow-x: hidden;
}

.modal-body label {
  margin-bottom: 0;
}

.modal-body .checkbox {
  margin: 0;
}

.modal-footer {
  background: rgba(0, 0, 0, .05);
  border-top: 0;
  padding: 1em;
  right: 0;
  text-align: right;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 0.75em;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  height: 50px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
  width: 50px;
}

h4.modal-title {
  color: var(--Editor-color-bright);
  font-size: 1.728rem;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
}

.label {
  color: #fff;
  border-radius: var(--Editor-border-radius-small);
  padding: 0.21429em 0.42857em;
}

.panel-body h3 {
  font-size: 1.2em;
  font-weight: 500;
}

.TransUnit-panelFooter .ButtonGroup-item .EditorDropdown-toggle {
  margin-left: -0.5rem;
}

.listInline li {
  display: inline-flex;
}

.modal-body .list-group-item-heading {
  color: var(--Editor-color-dark);
  margin-top: 0.5em;
}

.panel-body .modal-term {
  color: var(--Editor-color-dark);
  font-size: 1.1em;
  line-height: 2em;
}

.row span.s1, .row span.s0, .row span.n1 {
  vertical-align: sub;
}

.btn-group-xs > .btn, .btn-xs {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
}

.EditorInputGroup-addon.btn-xs.advsearch {
  vertical-align: middle;
}

.icon-history svg, .icon-comment svg {
  vertical-align: sub;
}

.CommentBox {
  margin-top: 1em;
}

.CommentBox li {
  color: var(--Editor-color-dark);
}

.icon-comment svg {
  fill: var(--Editor-color-light) !important;
}

ul.listInline li.s1 {
  margin-right: 0.375em;
}

ul.Source-infoList {
  color: #333;
}

/* Icon sizes */

.n2, .n2 svg {
  height: 0.694rem;
  width: 0.694rem;
}

.n1, .n1 svg {
  height: 0.833rem;
  width: 0.833rem;
}

.s0, .s0 svg {
  height: 1rem;
  width: 1rem;
}

.s1, .s1 svg {
  height: 1.2rem;
  width: 1.2rem;
}

.s2, .s2 svg {
  height: 1.44rem;
  width: 1.44rem;
}

.s3, .s3 svg {
  height: 1.728rem;
  width: 1.728rem;
}

.s4, .s4 svg {
  height: 2.074rem;
  width: 2.074rem;
}

.s5, .s5 svg {
  height: 2.488rem;
  width: 2.488rem;
}

.s6, .s6 svg {
  height: 2.986rem;
  width: 2.986rem;
}

.s7, .s7 svg {
  height: 3.583rem;
  width: 3.583rem;
}

.s8, .s8 svg {
  height: 4.3rem;
  width: 4.3rem;
}

.s9, .s9 svg {
  height: 5.16rem;
  width: 5.16rem;
}

.s10, .s10 svg {
  height: 6.192rem;
  width: 6.192rem;
}

nav.flex.flex-wrapper {
  align-items: flex-start;
  flex-wrap: wrap;
}

.nav {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav > li {
  display: block;
  position: relative;
}

.nav > li > a {
  color: var(--Editor-color-dark);
  display: block;
  padding: 10px 15px;
  position: relative;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #eee;
  text-decoration: none;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}

.nav .nav-divider {
  background-color: #e5e5e5;
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  background-color: #bcd4dc;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  line-height: 1.42857143;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  color: #20718a;
  cursor: default;
}

ul.u-listInline li .u-textSuccess, ul.u-listInline li .u-textSecondary,
ul.u-listInline li .u-textHighlight {
  width: 120%;
}

/* bootstrap override */
:focus, button:focus {
  outline: none;
}

ul.u-listInline li .u-textSuccess {
  width: 120%;
}

ul.u-listInline li .u-textHighlight {
  width: 120%;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  background: #fff;
  display: block;
  height: 100vh;
}

.tab-pane #tab1, .tab-pane #tab2 {
  margin-top: 2.7em;
}

.nav-tabs .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}

.u-pullRight {
  float: right !important;
}

.modal-header .close {
  float: right;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flex ul.u-listHorizontal {
  z-index: 1000;
}

.ControlHeader-background {
  background-color: #fff;
}

.Header {
  z-index: var(--Editor-suggestions-header-z-index);
}

table {
  border: none;
}

button.close {
  border: 0;
  color: #f00;
  font-weight: 700;
  line-height: 1;
  outline: none;
  padding: 0.75rem;
  position: absolute;
  right: 1rem;
  top: 0rem;
  z-index: 1;
}

button.close:focus, button.close:hover, button.close:active:focus {
  background-color: #fff;
  box-shadow: none;
  color: #000;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5;
  outline: none;
  text-decoration: none;
}

/* uses bootstrap class for modal close button*/

.iconClose svg {
  color: #f00;
  height: 1rem;
  opacity: 0.7;
  text-align: center;
  width: 1rem;
}

.TransIndicator {
  vertical-align: super;
}

label span.n1 {
  vertical-align: middle !important;
}

/* Alerts */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.alert-danger, .alert-info, .alert-success, .alert-warning {
  color: #fff;
  padding-left: 0.321rem;
}

.alert-danger {
  background-color: var(--Editor-alert-color);
}

.alert-link a {
  color: #fff;
  text-decoration: underline;
}

.alert-danger .s2 svg {
  vertical-align: middle;
  padding-right: 0.5rem;

}

.alert-danger strong {
  font-weight: 600;
}

/* Labels */

.label {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  display: inline;
  padding: 0.1rem 0.2rem 0.1rem;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  color: #fff;
  border-radius: var(--Editor-border-radius);
  margin-left: var(--Editor-label-margin);
  margin-right: var(--Editor-label-margin);
}

.label-default {
  background-color: var(--Editor-color-dark);
}

/**
 * Media Queries
 */

@media (--sm-viewport) {
  .Editor-currentProject {
    max-width: calc(var(--Editor-rhythm) * 3.5);
  }
}

@media (--gtemd-viewport) {
  .Editor-translations {
    background: linear-gradient(to right, var(--Editor-color-status-bg), var(--Editor-color-status-bg)),
    linear-gradient(to right, var(--Editor-color-translation-bg), var(--Editor-color-translation-bg));
    background-position: center, right;
    background-repeat: no-repeat;
    background-size: var(--rhythm) 100%, 50% 100%;
  }
}

@media (max-width: 740px) {
  .TransUnit-heading {
    padding-left: 1.5em;
  }

  td.StringLong {
    display: table-row !important;
    max-width: 10em !important;
    padding-bottom: 0 !important;
  }

  .StringLong span {
    max-width: 9.5em !important;
  }
}

@media (min-width: 741px) {
  .TransUnit-heading {
    padding-left: 0 !important;
  }

  .ControlHeader-background {
    background-color: transparent;
  }
}

@media (max-width: 909px) {

  .icon-infoVersionMerge {
    text-align: left;
  }

  .hide-small {
    display: none;
    visibility: hidden;
  }

  .hide-mdplus {
    margin-right: 0.75em;
  }

  td.StringLong {
    display: table-row !important;
    max-width: 12em !important;
    padding-bottom: 0 !important;
  }

  .StringLong span {
    max-width: 10em !important;
  }

  .hide-md {
    display: none;
    visibility: hidden;
  }

  #SidebarEditor-tabsPane1 table tbody tr {
    display: inline-table;
    margin-bottom: 1em;
  }

  #SidebarEditor-tabsPane1.tab-pane.active table tbody tr {
    border-bottom: 1px solid rgb(99, 156, 173);
    padding-bottom: 0.375em;
    width: 100%;
  }

  #SidebarEditor-tabsPane1 td .Button--primary {
    float: none;
    margin-bottom: 1em;
  }

}

@media (min-width: 910px) {
  .hide-mdplus {
    display: none;
    margin-right: 0;
    visibility: hidden;
  }

  .icon-infoVersionMerge, th.hide-md {
    text-align: right !important;
  }

  td.StringLong {
    min-width: 6em;
    padding-bottom: 0.75em;
  }

  .StringLong span {
    max-width: 5.5em;
  }

  #SidebarEditor-tabsPane1 table tbody tr {
    display: table-row !important;
  }

  #SidebarEditor-tabsPane1 td .Button--primary {
    float: right;
  }

  #SidebarEditor-tabsPane1 table tbody tr td {
    padding-right: 0.5em;
  }
}

@media (min-width: 1100px) {
  td.StringLong {
    max-width: 10em;
  }

  .StringLong span {
    max-width: 9.5em;
  }

  li.DocName .row {
    display: flex;
    width: 20rem;
  }

  #SidebarEditor-tabsPane1 table tbody tr {
    display: table-row !important;
  }
}
