{
  // Allows use of modern JavaScript syntax and JSX
  "presets": ["react", "env", "stage-3"],

  // Extracts strings for translation.
  // Strings are output to .json files in the specified messagesDir
  "plugins": [
    ["react-intl", {
      "messagesDir": "./build/messages/",
      "enforceDescriptions": true
    }],
    // stage-2 plugins: (TODO remove them if practical)
    "transform-class-properties"
  ]
}
