ignore-scripts true

# DO NOT REMOVE - this keeps our builds predictable.
# This is present to prevent accidentally adding a package to package.json but
# not yarn.lock (by manually adding it or running `npm install --save`).
# It causes `yarn` or `yarn install` to fail. You can fix it by running
# `yarn add [package]` for each of the packages you added by hand or with npm.
--frozen-lockfile true
