ignore-scripts true

# DO NOT REMOVE - this keeps our builds predictable.
# This is present to prevent accidentally adding a package to package.json but
# not yarn.lock (by manually adding it or running `npm install --save`).
# It causes `yarn` or `yarn install` to fail. You can fix it by running
# `yarn add [package]` for each of the packages you added by hand or with npm.
# See https://github.com/yarnpkg/yarn/issues/4379#issuecomment-331971345 and
# https://github.com/yarnpkg/yarn/issues/4379#issuecomment-334948680
frozen-lockfile true
