#tmxExportModal .modal-header {
  padding-bottom: 0 !important;
}


#tmxExportModal .modal-body {
  padding-top: 0 !important;
}

#tmxExportModal {
  visibility: visible;
  opacity: inherit;
  backface-visibility: hidden;
}

.tmxExport {
  text-align: center;
}

.tmxExport p.lead {
  font-weight: 500;
}

.tmxExport p.u-textWarning {
  font-size: 0.75em;
}

table.tmxTable {
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}

table.tmxTable tbody tr td {
  border-top: 0;
}

table.tmxTable tbody tr td:last-child {
  float: right;
}

table.tmxTable tbody tr td:first-child {
  color: #03A6D7;
}

table.tmxTable .btn-sm {
  padding: 0.31rem 2.4rem;
}

.asterix {
  vertical-align: bottom;
  margin-left: 0.5em;
  color: #ffa800;
}

table.tmxTable .badge {
  background-color: #A2B3BE;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 4rem;
  font-weight: 400;
  height: 100%;
}

.tmxExport p.allWarnings {
  position: absolute;
  bottom: 80px;
  right: 30px;
}

.tmxExport p.allWarnings .btn-link {
  font-size: 0.75em;
  line-height: 1em;
  color: #ffa800;
}

.tmxExport p.allWarnings .btn-link .n1 {
  vertical-align: sub;
}

.tmxExport p.allWarnings .btn-link:focus,
.tmxExport p.allWarnings .btn-link:hover,
.tmxExport p.allWarnings .btn-link:active {
  text-decoration: none;
  opacity: 1 !important;
}

table.tmxTable .badge .n1 {
  vertical-align: middle;
}

.tmxDownload {
  margin-right: -0.9em;
}
