
extends: zanata/react

rules:
  # Specify the type of quotes that are acceptable to use in JSX attributes.
  # Standard enforces single-quotes, but we discussed this in our team and
  # decided that it makes more sense to be consistent with other markup by using
  # double-quotes for attributes.
  jsx-quotes:
    - 2              # Error to enforce compliance.
    - prefer-double  # Use double quotes unless the string contains a literal
                     # double-quote character.
