:root {
  --primary-color: #546677;
  --neutral-color: rgba(228, 238, 241,.35);
  --highlight-color: #03A6D7;
}

.ant-modal.searchReplaceModal {
  width: 95% !important;
}

.ant-modal.searchReplaceModal .icon-sub i.anticon.anticon-cross {
  vertical-align: sub;
}

.ant-modal.searchReplaceModal .ant-input {
  color: var(--primary-color) !important;
}

.ant-card.searchReplaceResultsCard, {
  background-color: var(--neutral-color);
}

.ant-modal.searchReplaceModal .highlight {
  background-color: #ff6;
}

.ant-modal.searchReplaceModal .anticon.anticon-edit.f4,
.ant-modal.searchReplaceModal h2 {
  color: var(--highlight-color);
}

.ant-modal.searchReplaceModal .docOptions .Button--invisible {
  vertical-align: text-top;
}

.ant-modal.searchReplaceModal .ant-table-thead>tr>th {
  background-color: #fff;
}

.ant-modal.searchReplaceModal table {
  margin: 0;
}

.ant-input.textInput {
  border: solid 1px var(--primary-color);
}

.ant-input.textInput:focus, .ant-input.textInput:hover {
  border: 2px solid var(--highlight-color);
}

.ant-checkbox-wrapper {
  color: var(--primary-color) !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color);
  border: solid 1px var(--primary-color);
}
