:root {
  --TM-input-border: solid 1px rgb(99, 156, 173);
  --TM-input-border-radius: 8px;
  --TM-large-spacing: 6rem;
  --TM-default-margin: 0.75rem;
  --TM-small-margin: 0.375rem;
  --TM-text-color: rgb(84, 102, 119);
  --TM-icon-vert-alignment: middle;
  --TM-dropdown-text-color: #03a6d7;
}

#RejectTranslationModal .flex {
  flex-direction: row;
  align-items: center;
}

#PriorityTitle, #CriteriaTitle {
  margin-right: var(--TM-default-margin);
}

#RejectTranslationModal .modal-body {
  color: var(--TM-text-color);
}

#RejectTranslationModal .PriorityDropdown {
  margin-left: 1.5rem;
}

#RejectTranslationModal .modal-body .EditorInputGroup--outlined {
  border: var(--TM-input-border) !important;
}

#RejectTranslationModal .modal-body .EditorDropdown {
  border-radius: var(--TM-input-border-radius);
  border: var(--TM-input-border) !important;
}

#RejectTranslationModal .Criteria {
  flex-grow: 2;
}

#RejectTranslationModal a.EditorDropdown-item span.s0 {
  vertical-align: var(--TM-icon-vert-alignment);
  margin-left: var(--TM-small-margin);
}

#RejectTranslationModal .EditorInputGroup--outlined.Commenting {
  margin-top: 2rem;
  max-width: 100%;
  min-width: 100%;
  border-radius: var(--TM-input-border-radius);
  border: var(--TM-input-border);
  padding: var(--TM-default-margin);
  min-height: var(--TM-large-spacing);
}

#RejectTranslationModal .modal-footer .Button--primary {
  margin-left: var(--TM-default-margin);
}

.PriorityDropdown .s2, .PriorityDropdown .s2 svg {
  vertical-align: sub;
}

#RejectTranslationModal .EditorDropdown-item {
  color: var(--TM-dropdown-text-color);
}

#RejectTranslationModal .EditorDropdown-item:hover {
  background-color: transparent;
  color: var(--TM-dropdown-text-color);
}

#RejectTranslationModal .Dropdown-toggle .EditorDropdown-item:hover {
  border-radius: 0.4rem;
}

#RejectTranslationModal .EditorDropdown-item span.n1 {
  margin-left: var(--TM-small-margin);
  vertical-align: var(--TM-icon-vert-alignment);
}

#RejectTranslationModal button.close {
  display: none;
  visibility: hidden;
}

.EditorRejection-input {
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: var(--TM-input-border-radius);
  border: var(--TM-input-border) !important;
  max-width: 98%;
  resize: vertical;
}

.EditorRejection-input p {
  position: relative;
  float: left;
  bottom: 15px;
  left: -5px;
}
