.containerContentView {
  max-width: 48rem;
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.scrollView {
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  overflow: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  max-width: 48rem;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.scrollView h2 {
  padding-left: 0.1875rem;
  margin-top: 0;
}

.searchView .textInput {
  background-color: '';
  border: 2px solid rgb(189, 212, 220) !important;
  border-radius: 0.375rem;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  font-size: 1.1rem;
  font-style: inherit;
  outline: 0;
  width: 80%;
  padding-left: 1.429rem;
  padding-right: 1.429rem;
  margin-left: -1.5rem;
}

.searchView .listInline {
  vertical-align: text-bottom;
}

.teaserList {
  margin-bottom: 2.25rem;
}

.teaserList .listTheme {
  margin-top: 1.5rem;
}

.teaserView {
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  margin-bottom: 0.375rem;
}

.teaserHeader {
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  display: inline-flex;
  vertical-align: sub;
  padding-bottom: 1rem;
}

.teaser-inner {
  flex-direction: column;
  -webkit-flex-direction: column;
  flex: 1;
  -webkit-box-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
}

.userTeaser-inner {
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  flex-direction: row;
  -webkit-flex-direction: row;
}

.teaserHeader-inner {
  margin-left: 0.375rem;
  color: #03A6D7;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
}

.teamTeaser {
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  margin-bottom: 0.75rem;
}

.languageTeamTeaser-id {
  margin-left: 0.75rem;
}

.languageTeamTeaser-members {
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  margin-left: auto;
  float: right;
  padding-right: 2rem;
}

.metaInfo {
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  font-size: 0.833rem;
}

.wordsTranslatedView {
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  margin-left: auto;
}

.searchView {
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  color: rgb(84, 102, 122);
  position: relative;
  width: 80%;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.searchView svg {
  vertical-align: sub;
}

#explore h1 {
  font-size: 1.2em !important;
  margin-bottom: 0;
}

@media (max-width: 29.375rem) {

  .teaser-inner {
    flex-direction: row;
    -webkit-flex-direction: row;
    flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -webkit-flex: 1;
  }

  .metaInfo {
    margin-left: auto;
  }

  .searchView span svg {
    font-size: 1.4rem;
  }

  .searchView .textInput {
    width: 60%;
  }

}

