body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	font: 12px Tahoma, Geneva, sans-serif;
}

select,input,button,textarea,button {
	font: 99% arial, helvetica, clean, sans-serif;
}

a,a:link,a:visited {
	text-decoration: none;
}

a:hover {
	color: #990000;
}

h1,h2,h3,h4,h5,h6 {
	margin: 10px 0;
	padding: 0;
	font-weight: bold;
}

h1 {
	font-size: 138.5%;
}

h2 {
	font-size: 123.1%;
}

h3 {
	font-size: 108%;
}

th,td {
	border: none;
	padding: 0px;
}

th {
	font-weight: bold;
	text-align: center;
}

html {
	background-color: transparent;
}


fieldset,img {
	border: 0;
}

table {
	margin: 0px;
}

#main_body_content>h1,#main_body_content>h2 {
	margin: 5px 0 5px 0;
}

input,textarea {
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #BBBBBB;
	padding: 3px;
	color: #222222;
	font-weight: bold;
}

button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"],input[type="button"]
	{
	color: #222222;
	padding: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

button,input[type="reset"],input[type="submit"],input[type="button"] {
	background-color: #fafafa;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

input.with_icon {
	background-position: 5px 50%;
	background-repeat: no-repeat;
	padding: 0 0 0 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	height:18px;
}

textarea.code_editor {
	font-family: Courier;
	font-size: 11px;
	font-weight: normal;
	width: 98%;
	height: 300px;
}

ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}

td.centered {
	text-align: center;
}

/* -----------------------  Browser specific  ----------------------- */

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
	display: inline-block;
}

/* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
*:first-child+html .ui-tabs-nav {
	display: inline-block;
}

/* IE 6 treats width as min-width */
/* IE 6 treats height as min-height */
#tabs .ui-tabs-nav a span {
	min-width: 64px;
	min-height: 18px;
}

/* @ Opera, use pseudo classes otherwise it confuses cursor... */
.ui-tabs-nav .ui-tabs-selected a:link,.ui-tabs-nav .ui-tabs-selected a:visited,.ui-tabs-nav .ui-tabs-disabled a:link,.ui-tabs-nav .ui-tabs-disabled a:visited
	{
	cursor: text;
}

/* @ Opera, we need to be explicit again here now... */
.ui-tabs-nav a:hover,.ui-tabs-nav a:focus,.ui-tabs-nav a:active,.ui-tabs-nav .ui-tabs-unselect a:hover,.ui-tabs-nav .ui-tabs-unselect a:focus,.ui-tabs-nav .ui-tabs-unselect a:active
	{
	cursor: pointer;
}
