/* Skin */
.ui-tabs-nav a,.ui-tabs-nav .ui-tabs-disabled a:hover,.ui-tabs-nav .ui-tabs-disabled a:focus,.ui-tabs-nav .ui-tabs-disabled a:active
	{
	background-position: 100% -100px;
}

.ui-tabs-nav .ui-tabs-selected a span,.ui-tabs-nav a:hover span,.ui-tabs-nav a:focus span,.ui-tabs-nav a:active span
	{
	text-decoration: none;
	cursor: pointer;
}

.ui-tabs-nav a span,.ui-tabs-nav .ui-tabs-disabled a:hover span,.ui-tabs-nav .ui-tabs-disabled a:focus span,.ui-tabs-nav .ui-tabs-disabled a:active span
	{
	background-position: 0 0;
}

.ui-tabs-nav .ui-tabs-selected a:link,.ui-tabs-nav .ui-tabs-selected a:visited,.ui-tabs-nav .ui-tabs-disabled a:link,.ui-tabs-nav .ui-tabs-disabled a:visited
	{ /* @ Opera, use pseudo classes otherwise it confuses cursor... */
	cursor: text;
}

.ui-tabs-nav a:hover,.ui-tabs-nav a:focus,.ui-tabs-nav a:active,.ui-tabs-nav .ui-tabs-unselect a:hover,.ui-tabs-nav .ui-tabs-unselect a:focus,.ui-tabs-nav .ui-tabs-unselect a:active
	{ /* @ Opera, we need to be explicit again here now... */
	cursor: pointer;
}

.ui-tabs-disabled {
	opacity: .4;
	filter: alpha(opacity =   40);
}

.ui-tabs-panel {
	border: 1px solid #ddd;
	padding: 0;
	/* background: #fff; */
	/* declare background color for container to avoid distorted fonts in IE while fading */
}

.ui-tabs-loading em {
	padding: 0 0 0 20px;
	background: url(../public-img/loading.gif) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
	display: inline-block;
}

*:first-child+html .ui-tabs-nav {
	/* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
	display: inline-block;
}

.tabs-right {
	float: right !important;
}

.tabs-issues-private {
	width: 962px !important;
}

/* Stylesheet from June */
.menu ul li {
	display: inline;
	list-style: none
}

.menu ul {
	margin-left: 10px;
	height: 40px;
	line-height: 40px;
}

.menu ul li a:link,.menu ul li a:visited {
	display: inline-block;
	width: 150px;
	text-align: center; /*color:#fff*/
}

.menu ul li a:hover { /* color:#FFF;*/
	text-decoration: none;
}

.menu ul li a:link.selected,.menu ul li a:visited.selected {
	background: url(../public-img/menu_active_bg.png) repeat-x left top;
	font-weight: bold
}