/* <!-- */

th, td {
    border: none;
    padding: 0px;
}

html{
	background-color: transparent;
}

body{
	margin: 0px;
}

#doc3, #doc4{
	background-color: white;
}

.yui-b{
	padding: 5px;
	float: right;
	width: 200px;
}

table{
    margin: 0px;
}

#main_body_content>h1, #main_body_content>h2 {
	margin: 5px 0 5px 0;
}

input, textarea {
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border:1px solid #BBBBBB;
	padding: 3px;
	color: #222222;
	font-weight: bold;
}
button, input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"], input[type="button"]  {
	color: #222222;
	padding:2px;
	margin-left: 2px;
	margin-right: 2px;
}

button, input[type="reset"], input[type="submit"], input[type="button"]  {
	background-color: #fafafa;
	
}
input.with_icon {
	background-position:5px 50%;
	background-repeat:no-repeat;
	padding-left: 25px;
}

.search_icon{
	background-image: url(../img/silk/zoom.png);
}

.input_help{
	vertical-align: middle;
	padding-left: 2px;
	/* error img takes up 16px */
	padding-right: 2px;
}

.input_nohelp{
	display: inline;
}
.tableControl,.actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.rich-table {
	width: 100%;
}

.columnHeader:hover {
	color: #FF6600;
}

.message {
	padding: 5px;
	list-style: none;
	color: #000000;
	margin: 5px 0 8px 0;
}

.message li {
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
	background: no-repeat left center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin-left: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	-moz-border-radius: 5px;
}

.message li.infomsg {
	background-image: url(../img/msginfo.png);
	background-color: #fafafe;
}

.message li.errormsg {
	background-image: url(../img/msgerror.png);
	background-color: #fefafa;
}

.message li.warnmsg {
	background-image: url(../img/msgwarn.png);
	background-color: #fefefa;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 130px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}

.prop{
	vertical-align: middle;
}

.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #F00000;
	vertical-align: middle;
}

img.errors {
	padding-left: 5px;
	padding-right: 5px;
}

.errors input,.errors textarea {
	border: 1px solid #F00000 !important;
	background-color: #FFFAFA;
}

.required {
	color: #F00000;
	padding-left: 2px;
}

.rich-stglpanel-body {
	overflow: auto;
}

/* the specificity here is necessary to override the defaults */
.rich-panel .rich-panel-header,.rich-stglpanel .rich-stglpanel-header {
	padding: 2px 3px;
}

.rich-panel input[type=submit],.rich-panel input[type=button],.rich-tabpanel input[type=submit],.rich-tabpanel input[type=button]
	{
	margin-bottom: 0;
}

.tableControl input[type=submit],.tableControl input[type=button],.tableControl select
	{
	margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select {
	margin-left: 2px;
	position: relative;
	top: 1px;
}

.actionButtons {
	padding-top: 10px;
	padding-right: 10px;
	text-align: left;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

div.info {
	
}

ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}

td.action {
	text-align: center;
	width: 8em;
	white-space: nowrap;
}

td.action a {
	padding-left: 1px;
	padding-right: 1px;
}

#zanata_name {
	float: left;
	text-align: left;
    padding-top: 30px;
}

#zanata_name a{
    text-align: left;
    text-shadow: 2px;
    font-family: Arial,Verdana,sans-serif;
    font-size : 40px;
    font-weight: heavy;
    color: black;
    text-decoration: none;
}

#header{
	position: relative;
    width:100%;
    height:60px; 
}

#header.fullscreen{
	margin-bottom: 20px;
}

#headerlogo {
	float: left;
}

#header_top_right {
	float: right;
	padding: 10px 20px;
	margin: 0px;
	/*
	background-color: #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	border-left: 1px solid #f4f4f4;
	color: #999999;
	-moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px; 
    */
}

#tabs_menu_wrapper {
	margin-bottom: 10px;
}

#loading_top_right {
	position: fixed;
	right: 2px;
	top: 2px;
}

#breadcrumbs {
	display: block;
	margin: 5px;
	padding: 3px;
	font-size: 77%;
	color: #cdcddf;
}

#breadcrumbs a {
	text-decoration: none;
	font-weight: bold;
	color: #cdcddf;
}

/* Footer styles */
#footer {
	width:100%; 
	line-height:20px; 
	text-align:center; 
	padding-top:10px;
}

#localeSelector {
	float: right;
	padding-top: 0px;
}

/* Styles from the security-stuff in seamspace*/
div.checkmark {
	background: url(../img/checkmark.png) top left no-repeat;
	width: 14px;
	height: 15px;
	margin-left: auto;
	margin-right: auto;
}

div.cross {
	background: url(../img/cross.png) top left no-repeat;
	width: 14px;
	height: 15px;
	margin-left: auto;
	margin-right: auto;
}

tr.odd {
	background-color: #ffffff;
}

tr.even {
	background-color: #fafaff;
}

tr.hover-row {
	/* background-color: #FFEBDA;*/
	cursor: pointer;
}

tr.active-row {
	background-color: #FFF9F9;
	cursor: inherit;
	border: 2px solid #FFCCCC;
	-moz-border-radius: 5px;
}


.tuEditMode{
	display: none;
}

.tuViewMode{
	
}

.tuSourceContent, .tuTargetContent{
	padding: 3px;
	text-align: left;
	font-family: Arial,Verdana,sans-serif;
	font-size : 13px;
	font-weight: normal;
}
.tuTargetContent .tuViewMode{
	border: 2px solid grey;
	-moz-border-radius: 5px;
}

.tuActionButtons {
	position: absolute; 
	right:17px; 
	bottom:5px;
	padding: 3px;
	border: 1px solid #dadadf;
	background-color: #fafaff;
	margin: 0px;
	width: auto;
	display: inline;
	-moz-border-radius: 3px;
}
.extdt-cell-div {
	overflow: inherit;
	white-space: inherit;
}

#iteration-status-panel {
    width:880px;
}

td.enabled {
	text-align: center;
}

td.action {
	text-align: right;
}

table.fullwidth {
	width: 100%
}

#search_panel {
	float: right;
	clear: right;
	padding-top: 20px;
	color: #999999;
	-moz-border-radius: 10px;
		
}

#projectList h3 {
	margin-bottom: 2px;
}

#projectList .no-description {
	color: #777777;
}

#projectList .description {
	color: #777777;
}

.resource-by-category-panel {
	background-color: #fafafa;
	border: 1px solid #efefef;
	padding: 4px;
	-moz-border-radius: 8px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 5px;
}

.resource-by-category-panel .header {
	display: block;
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
	width: 100%;
}

.resource-by-category-panel .header h2 {
	float: left;
	margin: 0px;
	padding: 0px;
	padding-right: 10px;
}

.resource-by-category-panel .header h2.cat-documentation {
	padding-left: 24px;
	background: transparent url("../img/cat-documentation.png") no-repeat;
}

.resource-by-category-panel .summary {
	display: block;
	font-style: italic;
	margin-top: 2px;
	margin-bottom: 4px;
	font-size: 77%;
	color: grey;
}

.resource-by-category-panel .header .status-bar {
	float: right;
	margin: 0px;
	padding: 0px;
}

.resource-by-category-panel .toolbar {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.resource-by-category-panel .toolbar .actions {
	float: left;
}

.resource-by-category-panel .toolbar .expand {
	float: right;
	font-style: italic;
	color: grey;
}

.resource-name {
	font-size: 108%;
	color: grey;
	font-style: italic;
}

.resources-panel {
	margin: 0px;
	padding: 0px;
	border: none;
}

.actions {
	float: left;
}

.resource-by-category-panel .toolbar .expand img {
	margin-bottom: -5px;
}

.resource-by-category-panel .expanded-content {
	padding: 5px;
	margin-top: 10px;
}

.translation-status {
	float: right;
	color: grey;
}

.projectList td {
	margin-top: 0px;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.projectList h3 {
	margin-top: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
}

#language-chooser {
	color: grey;
	position: absolute;
	left: 400px;
	top: 10px;
	font-size: 77%;
}

.rich-panel {
	position: relative;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
	margin-bottom: 10px;
}

.rich-panel-header {
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	text-align: center;
}

.dr-pnl {
	background-color: inherit;
	border: none;
}

.dr-pnl-b {
    font-family: inherit;
    font-size: inherit;
    background-color: white;
}

.dr-tbpnl-cntnt {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    padding: 10px;
}

.dr-tbpnl-tb{
    font-family: inherit;
    font-size: 100%;
}

.dr-tbpnl-tb-act{
    font-weight: bold;
    background-image: none;
    background-color: #fbfbfb;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
}

.dr-tbpnl-tb-inact {
    background-image: none;
    background-color: #fbfbfb;
}

.rich-panel-body {
	border: 1px solid;
	border-color: #f4f4f4;
}

.dr-pnl-h {
	background-color: #f4f4f4;
	background-image: none;
	border-color: #f4f4f4;
	color: #999999;
	font-family: inherit;
	font-size: 100%;
	font-weight: bold;
}

.dr-table{
	border: none;
}
.dr-table-cell{
	border: none; /*1px solid #f4f4f4;*/
	font-size: inherit;
	vertical-align: top;
}

.dr-table-header{
	background-color: #f4f4f4;
	background-image: none;
	border-color: #f4f4f4;
	color: #999999;
	font-family: inherit;
	font-size: 100%;
	font-weight: bold;
}

.dr-table-footer{
	background-color: #f4f4f4;
}

.datacsr-mini{
	padding:0px;
	margin:0px;
	font-size: 77%;	
}

.rich-datalist {
	list-style: square;
	margin: 6px 0 1px 0;
	padding-left: 18px;
}

.rich-list-item {
	padding-bottom: 4px;
}

.dr-dscr{
	background-color: #f4f4f4;
}

.panel-body-no-padding{
	padding: 0px;
	overflow: hidden;
}

.docrow{
	overflow: hidden;
}

.grid_col{
	width: 33%;
    border: none;
}

.grid_style{
	border: none;
}
	
.inline_cell_item{
    width: 100%;
    float: left;
    margin: 0px;
}

.inline_cell_item_top{
    background:url(../img/cell_top_bg.png) repeat-x left top #c9e9fc;
    width:100%; 
    height:32px; 
    border:solid 1px #c4e5fb; 
    border-bottom:solid 1px #d5d7d6; 
    font-weight:bold; 
    line-height:33px; 
    font-size:14px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; 
	color: #045289;
}

.inline_cell_item_top span{
	margin-left:10px;
}

.inline_cell_item_middle{
    background:url(../img/cell_middle_bg.png) repeat-x left top #fffdde;
    border:solid 1px #d5d7d6;
    width:100%;
    height:64px; 
    overflow:auto;
    overflow-x:hidden; 
    margin-top:-1px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; 
}

.inline_cell_item_bottom{
	background:url(../img/cell_bottom_bg.png) repeat-x left top #ececec;
	width:100%; 
	height:32px; 
	border:solid 1px #d5d7d6; 
	border-bottom:solid 1px #d5d7d6; 
	font-weight:bold; 
	line-height:33px; 
	margin-top:-1px; 
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px; 
}

.list_view_header{
	width: 100%;
	padding-bottom: 3px;
}
.list_view_header h2{
	display: inline;
	margin-top: 0px;
	margin-bottom: 3px;
}

.list_view_header h2>a{
	text-decoration: none;
	float: left;
}

.list_view_header .series_name{
	font-style: italic;
	font-size: 80%;
	color: gray;
}

.list_view_header .menu_items{
	float: right;
	display: inline;
	text-align: right;
}


a.action_link {
	display: block;
	font-size: 130%;
	font-weight: bold;
	background-color: #EDF0FF;
	border: 2px solid #E6E9F7;
	padding: 4px;	
	-moz-border-radius: 5px;
	color: #7092C3;
	text-decoration: none;
	margin: 1px;
	text-align: center;
}

a.project_link {
	font-size: 130%;
	font-weight: bold;
	padding: 4px;	
	-moz-border-radius: 5px;
	color: #7092C3;
	text-decoration: none;
	margin: 1px;
	text-align: right;
}

a.action_link:hover {
	background-color: #F5F8FF;
	border: 2px solid #F6F9F7;
	color: #80A2C3;
}

.iteration_inline_tribes{
	
}

.translator_color_block{
    width: 15px;
    height: 15px;
    background-color: #f2fbfb;
    border: 2px solid #e2ebeb;  
}

#TransArea{
	border: 2px solid #F4F4F4;
	-moz-border-radius: 5px;
	
}

#TransAreaHeader{
	background-color: #F4F4F4;
	padding: 2px;
}
#TransAreaContent{
	padding: 10px;
	height: 100%; 
	width: auto; 
	overflow-y:scroll;
	overflow-x:hidden;
}
#TransAreaFooter{
	position: relative;
	background-color: #F4F4F4;
	padding-top: 2px;
}

#TransAreaFooterLeft{
	position: absolute; 
	left:0px; 
	top:0px;
}
#TransAreaFooterCenter{
}

#TransAreaFooterRight{
	position: absolute; 
	right:0px; 
	top:0px;
}

.TransAreaDataScroller{
	background-color: inherit;
	clear: none;
}

#LeftAndCenterSplitter {
	/* Height is set to match window size in $().ready() below */
	min-width:	600px;
	min-height: 400px;
}
.vsplitbar {
	width: 6px;
	background: url(../img/vgrabber.gif) no-repeat center;
}
.vsplitbar.active, .vsplitbar:hover {
	background-color: #c66;
	width: 6px;
	opacity: 0.5;
	filter: alpha(opacity=50); /* IE */
}

#LeftContent{
	overflow-x: hidden;
	overflow-y: auto;
}
#RightContent{
	overflow-x: hidden;
	overflow-y: auto;
}


.translationStatusBar{
	float:left;
    display: block;
    padding: 3px;
    padding-right: 6px;
    margin-right:5px;
    font-size: 12px;
    font-weight: bold;
    width: 111px;
    height: 14px;
    text-align: right;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-image: url(../img/bar.png);
    background-repeat: no-repeat;
    
}

.language_list {
    font-size: 12px;
    height: 200px;
    width: 300px;
}
.language_action_buttons {
}
.language_action_button {
    width: 70px;
}

/* Stylesheet from June */
@charset "UTF-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea,blockquote, th, td { padding: 0;margin: 0;}   
fieldset,img {border: 0;}
.clear{ clear:both;}
.absright{ position:absolute; top:5px; right:5px;}
.icon{ background:url(../img/icon.png) no-repeat; padding-left:18px; border:none}
input[type='button']{ cursor:pointer}

body{ font-size:12px; font-family:Tahoma, Geneva, sans-serif;}
.logo{ background:url(../img/logo.png) no-repeat left top; width:187px; height:60px;}

.content{ margin:20px auto; width:98%;}
.box_content{ width:280px; float:left; margin:10px;}
.top_box_content{ background:url(../img/top_bg.png) repeat-x left top #c9e9fc;-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px; width:100%; height:32px; border:solid 1px #c4e5fb; border-bottom:solid 1px #d5d7d6; font-weight:bold; line-height:33px; font-size:14px}
.top_box_content span{ margin-left:10px;}
.middle_box_content{ background:url(../img/middle_bg.png) repeat-x left top #fffdde;border:solid 1px #d5d7d6;width:100%;height:80px; overflow:auto;overflow-x:hidden; margin-top:-1px;}
.middle_box_content ul { margin:10px;}
.middle_box_content ul li{ list-style:none; margin:5px 0;}
.bottom_box_content{ background:url(../img/bottom_bg.png) repeat-x left top #ececec;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px; width:100%; height:32px; border:solid 1px #d5d7d6; border-bottom:solid 1px #d5d7d6; font-weight:bold; line-height:33px; margin-top:-1px; text-align:right;}
.bottom_box_content a:link,.bottom_box_content a:visited{ margin-right:10px; font-weight:bold; color:#002f5e; background:url(../img/icon.png) no-repeat left top; padding-left:18px;}
.bottom_box_content a:hover{ color:#F60;}


.footer{ height:50px; line-height:20px; text-align:center; padding-top:15px;}

/* --> */
