#container {
	width: 900px;
	margin: 0 auto;
	background-color: #ffffff;
}

#localeSelector {
	float: left;
	width: 100px;
}

#yui-main {
	float: left;
	width: 680px !important;
}

.bold-larger {
	font-weight: bold;
	font-size: larger;
}

.filter-options {
	float: right;
}

#search_panel {
	float: right;
	padding-bottom: 5px;
	color: #999999;
}

#bd {
	min-height: 400px;
	width: 100%;
	padding: 10px 0;
	float: left;
	text-align: left;
}

.code {
	color: grey;
}

/* -----------------------  Header CSS  -------------------------*/
#headerlogo {
	padding-top: 6px;
	float: left;
}

#banner {
	float: left;
	width: 900px;
	background: #ffffff;
	padding-bottom: 10px;
}

#header_top_right {
	box-shadow: 0 0 2px #aaa;
	-moz-box-shadow:0 0 2px #aaa;
	border: 1px solid #CCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 5px;
	float: right;
	padding: 10px 20px;
}
/* ----------------------- End Header CSS  -------------------------*/

/* -----------------------  Footer CSS  -------------------------*/
#ft {
	background: url('../public-img/footer_background.png') 0 0 repeat-x;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
}

#footer {
	width: 100%;
	line-height: 20px;
	text-align: center;
	padding-top: 10px;
}

#footer-text {
	float: left;
	margin-left: 100px;
	width: 700px;
}
/* -----------------------  End Footer CSS  -------------------------*/

/* -----------------------  JSF components CSS  -------------------------*/
.rich-panel-header {
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
}

.rich-panel {
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom:10px;
}

.rich-panel-body {
	border: 1px solid;
	border-color: #f4f4f4;
}

.rich-stglpanel-header {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

/* the specificity here is necessary to override the defaults */
.rich-panel .rich-panel-header,.rich-stglpanel .rich-stglpanel-header {
	background-image: none;
	padding: 2px 3px;
}

.rich-stglpanel {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.rich-stglpanel-body {
	overflow: auto;
}

.rich-table {
	width: 100%;
}

.inline_cell_item {
	width: 100%;
	float: left;
	margin: 0px;
}

.noBorderTable .rich-table {
	border-width: 0px;
}

.noBorderTable .rich-table-headercell {
	border-width: 0px;
}

.noBorderTable .rich-table-cell {
	border-width: 0px;
}

/* -----------------------  End JSF components CSS  -------------------------*/

/* -----------------------  Top menu CSS  -------------------------*/
/* Caution! Ensure accessibility in print and other media types... */
@media projection , screen {
	/* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
	.ui-tabs-hide {
		display: none;
	}
}

/* Hide useless elements in print layouts... */
@media print {
	.ui-tabs-nav {
		display: none;
	}
}

#tabs-menu {
	background: url('../public-img/bar_background.png') 0 0 repeat-x;
	border: 1px solid #EAEAEA;
	border-bottom-color: #CACACA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	float: left;
	width: 900px;
	height: 40px;
}

#tabs .ui-tabs-nav {
	margin: 0 10px;
	padding:0;
}

#tabs .ui-tabs-nav li {
	line-height: 40px;
	list-style: none;
	float: left;
	min-width: 84px; /* be nice to Opera */
}

#tabs .ui-tabs-nav li a {
	color: #000000;
	white-space: nowrap; /* required in IE 6 */
	height:40px;
	font-weight:bold;
	padding: 0 20px;
}

#tabs .ui-tabs-nav li.ui-tabs-selected {
	border-top: 1px solid #C1BFBF;
	border-left: 1px solid #C1BFBF;
}

#tabs .ui-tabs-nav li.ui-tabs-selected a {
	background-color: #d3d3d3;
	color: black;
	margin-top: 0;
	height:40px;
	display:block;
}

#tabs img {
	margin-right: 5px;
	vertical-align: middle;
}

#tabs .ui-tabs-nav a,.ui-tabs-nav a span {
	display: block;
	width:auto;
	cursor:pointer;
	outline: 0 none;
}

.ui-tabs-nav-issues {
	position: relative;
}

.ui-tabs-nav-issues ul {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	display: none;
	border: 1px solid #ddd;
	margin:0;
	padding-left:0px;
}

.ui-tabs-nav-issues:hover ul {
	display: block;
	position: absolute;
}

.ui-tabs-nav-issues ul li a {
	background: #eeeeee !important;
	padding: 0 !important;
	text-align: left !important;
	border-bottom: 1px solid #ddd;
	height: 12px !important;
	font-weight: normal !important;
	padding: 8px 10px !important;
	line-height: 1.2em;
	margin:0px;
}

.ui-tabs-loading em {
	padding: 0 0 0 20px;
	background: url(../public-img/loading.gif) no-repeat 0 50%;
}

.ui-tabs-nav-issues ul li a:hover {
	background-color: #dddddd !important;
}

.ui-tabs-nav-issues ul li {
	width: 250px;
}
/* -----------------------  End Top menu CSS  -------------------------*/

/* -----------------------  Login form CSS  -------------------------*/
.loginForm_input {
	height: 22px;
	width: 200px;
	font-size: 14px;
	font-weight: normal;
}

.loginForm_label {
	font-size: 14px;
}
/* -----------------------  End Login form CSS  -------------------------*/

/* -----------------------  Stats bar CSS  -------------------------*/
.translationStatusDiv {
	float: left;
	display: block;
	padding: 3px;
	padding-right: 6px;
	margin-right: 5px;
	width: 144px;
	height: 14px;
}

.statusBar_percentage {
	font-size: 12px;
	font-weight: bold;
	padding-left: 2px;
}

.statusBar_noContent {
	font-size: 12px;
	text-align: center;
	width: 142px;
	padding: 3px;
	padding-right: 6px;
	margin-right: 5px;
}

.translationStatusBar {
	float: left;
	display: block;
	height: 14px;
	margin: 0;
	padding: 0;
}

.statusBar_approved {
	background-color: #099b09;
}

.statusBar_needReview {
	background-color: #ffc000;
}

.statusBar_untranslated {
	background-color: #e5e5e5;
}
/* -----------------------  End Stats bar CSS  -------------------------*/

/* -----------------------  Customised Language list CSS  -------------------------*/
.language_list {
	font-size: 12px;
	height: 200px;
	width: 300px;
}

.language_action_buttons {
	
}

.language_action_button {
	width: 70px;
}
/* -----------------------  End Customised Language list CSS  -------------------------*/

/* -----------------------  Inline project iteration CSS  -------------------------*/
.list_view_header {
	width: 100%;
	padding-bottom: 3px;
}

.list_view_header h2 {
	display: inline;
	margin-top: 0px;
	margin-bottom: 3px;
}

.list_view_header h2>a {
	text-decoration: none;
	float: left;
}

.list_view_header .series_name {
	font-style: italic;
	font-size: 80%;
	color: gray;
}

.list_view_header .menu_items {
	float: right;
	display: inline;
	text-align: right;
	margin-bottom: 6px;
}
/* -----------------------  End Inline project iteration CSS  -------------------------*/