#bd {
	min-height: 400px;
	width: 100%;
	padding: 10px 0;
	float: left;
	text-align: left;
}

.rich-panel-header {
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
}

.rich-panel {
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom:10px;
}

.rich-panel-body {
	border: 1px solid;
	border-color: #f4f4f4;
}

.rich-stglpanel-header {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

/* the specificity here is necessary to override the defaults */
.rich-panel .rich-panel-header,.rich-stglpanel .rich-stglpanel-header {
	background-image: none;
	padding: 2px 3px;
}

.rich-stglpanel {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.rich-stglpanel-body {
	overflow: auto;
}

#header_top_right {
	box-shadow: 0 0 2px #aaa;
	-moz-box-shadow:0 0 2px #aaa;
	border: 1px solid #CCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 5px;
	float: right;
	padding: 10px 20px;
}

/* Caution! Ensure accessibility in print and other media types... */
@media projection , screen {
	/* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
	.ui-tabs-hide {
		display: none;
	}
}

/* Hide useless elements in print layouts... */
@media print {
	.ui-tabs-nav {
		display: none;
	}
}

/* Top menu Tab */
#tabs-menu {
	background: url('../public-img/bar_background.png') 0 0 repeat-x;
	border: 1px solid #EAEAEA;
	border-bottom-color: #CACACA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	float: left;
	width: 900px;
	height: 40px;
}

#tabs .ui-tabs-nav {
	margin: 0 10px;
}

#tabs .ui-tabs-nav li {
	line-height: 40px;
	list-style: none;
	float: left;
	min-width: 84px; /* be nice to Opera */
}

#tabs .ui-tabs-nav li a {
	color: #000000;
	padding: 0 20px 0 20px;
	margin: 1px 0 0;
	font-weight: bold;
	white-space: nowrap; /* required in IE 6 */
	height:40px;
}

#tabs .ui-tabs-nav li.ui-tabs-selected {
	border-top: 1px solid #C1BFBF;
	border-left: 1px solid #C1BFBF;
}

#tabs .ui-tabs-nav li.ui-tabs-selected a {
	background-color: #d3d3d3;
	color: black;
	margin-top: 0;
	height:40px;
	display:block;
}

#tabs img {
	margin-right: 5px;
	vertical-align: middle;
}

#tabs .ui-tabs-nav a span {
	min-width: 64px; /* IE 6 treats width as min-width */
	min-height: 18px; /* IE 6 treats height as min-height */
}

#tabs .ui-tabs-nav a,.ui-tabs-nav a span {
	display: block;
	height:auto;
	width:auto;
}

/* Issues tab dropdown */
.ui-tabs-nav-issues {
	position: relative;
}

.ui-tabs-nav-issues ul {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	display: none;
	border: 1px solid #ddd;
}

.ui-tabs-nav-issues:hover ul {
	display: block;
	position: absolute;
}

.ui-tabs-nav-issues ul li a {
	background: #eeeeee !important;
	padding: 0 !important;
	text-align: left !important;
	border-bottom: 1px solid #ddd;
	height: 12px !important;
	font-weight: normal !important;
	padding: 8px 10px !important;
	line-height: 1.2em;
	margin:0px;
}

.ui-tabs-nav-issues ul li a:hover {
	background-color: #dddddd !important;
}

.ui-tabs-nav-issues ul li {
	width: 250px;
}

#ft {
	background: url('../public-img/footer_background.png') 0 0 repeat-x;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
}

.loginForm_input {
	height: 22px;
	width: 200px;
	font-size: 14px;
	font-weight: normal;
}

.loginForm_label {
	font-size: 14px;
}