<p>$msgs.format("jsf.email.activation.register.DearName", $toName)</p>

<p>$msgs.get("jsf.email.activation.ClickLinkToActivateAccount")</p>

<p>
  #if ($resetPasswordKey && !$resetPasswordKey.isEmpty())
    <a
      href="$serverPath/account/activate/$activationKey?resetPasswordKey=$resetPasswordKey">
      $msgs.get("jsf.email.activation.Link")
    </a>
  #else
    <a
      href="$serverPath/account/activate/$activationKey">
      $msgs.get("jsf.email.activation.Link")
    </a>
  #end
</p>

<p>
  $msgs.get("jsf.email.alternate.copyPasteMessage")
</p>

<p>
  #if ($resetPasswordKey && !$resetPasswordKey.isEmpty())
    <a
      href="$serverPath/account/activate/$activationKey?resetPasswordKey=$resetPasswordKey">
      $serverPath/account/activate/$activationKey?resetPasswordKey=$resetPasswordKey
    </a>
  #else
    <a
      href="$serverPath/account/activate/$activationKey">
      $serverPath/account/activate/$activationKey
    </a>
  #end
</p>

<p>
  $msgs.get("jsf.UrlExpireMessage")
</p>
