<p>$msgs.format("jsf.email.languageteam.permission.DearName", $toName)</p>

<p>$msgs.format("jsf.email.languageteam.request.reject.message", $roles, $localeDisplayName)</p>
<hr/>
$safeHtmlMessage
<hr/>
<p>$msgs.format("jsf.email.languageteam.permission.howToReply", $contactCoordinatorLink)</p>
