<p>$msgs.get("jsf.email.admin.DearAdmin")</p>

<p>$msgs.format("jsf.email.admin.UserMessageIntro", $fromName, $fromLoginName)</p>
<hr/>
$safeHtmlMessage
<hr/>
<p>$msgs.format("jsf.email.ReplyInstructions", $fromName, $replyEmail)</p>
