
   {
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
}
  button.close {
    color: #f00;
}
  span.greentext.badge {
  background-color: #62C876;
  color:#fff;
}
   span.dis.badge {
  background-color: #aaa;
  color:#fff;
}
  span.caret {
  color:#546675;
  margin-right:10px;
}

  span.langcode {
  font-size:0.9em;
  color:#aaa;
}
  .tablepadding i.fa.fa-user {
  font-size:22px;
  color:#ccc;
  margin-right:10px;
}
  form i,
  table i,
  .AutoTags h1:after {
    color: #546677;
}
  .left-form.tablepadding,   .toolbar {
  padding-left: 0;
  padding-right:0;
}

  p.bg-info,
  .form-group .bg-info {
    padding: 10px;
    color: #20718A;
    margin-bottom: 10px;
}
  p.bg-warning {
    padding: 10px;
    font-style: italic;
}
  .bg-info label {
    font-weight: 500;
}
  span.infotxt {
    color: #629BAC;
    font-weight: 400;
    margin-left: 10px;
    font-size: 0.9em;
    margin-right: 40px;
}
  p span.infotxt {
    margin-left: 0;
}
@media (min-width: 768px) {
    .form-inline .form-control {
        width: 100%;
    }
}
  a:link,
  a:visited {
    color: #546677;
}
  a:focus,
  a:hover {
    color: #03A6D7;
    text-decoration: none;
}

  h2 span.badge {
    background-color: #546677;
    line-height: 0.9em;
}
  td.inline {
  display: inline-table;
  width:80px;
}
  .panel.panel-side {
    background-color: #fff !important;
    border: solid 1px #ddd !important;
    padding: 8px;
}

  table td {
    font-size: 16px;
}
  h4 {
    color: #03A6D7;
    font-weight: bold;
    padding-bottom: 10px;
}
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

  .search-box,
  .show-items,
  .pagination {
    padding: 0;
}
  .panel {
    background-color: #fcfcfc;
}
  .btn-primary {
    color: #fff;
    background-color: #546677;
    border-color: #ccc;
}
  .getinvolved .btn-primary {
    background-color: #03A6D7;
}
  #ddlList1,
  #ddlList2 {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}
  .getinvolved .btn-primary:hover,
  .getinvolved .btn-primary:active,
  .getinvolved .btn-primary:focus {
    background-color: #546677;
}
  td.prog {
    border-top: none !important;
    border-top: none !important;
}
  td.prog:last-of-type {
    border-bottom: solid 1px #ddd;
}

  .btn-primary.active,
  .btn-primary:active {
    background-color: #03A6D7;
    border-color: #ccc;
}
  .btn-primary.active:hover {
    background-color: #546677;
    border-color: #ccc;
}
  a.btn-primary {
    color: #fff!important;
}
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:focus {
    background-color: #03A6D7;
    border-color: #ccc;
}
  .panel-heading {
    background-color: #fff !important;
    font-size: 1.1em !important;
    color: #03A6D7 !important;
    font-weight: 600;
}
  .button-group {
    margin: 10px 0;
}
  .button-group .btn {
    margin-right: 10px;
    margin-bottom: 10px;
}
  h1,
  h2,
  h3 {
    color: #03A6D7;
}
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
  .show-items {
  clear:both;
}
  .dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
}
  p.nomarginbottom {
    margin-bottom: 0;
    margin-top: 10px;
}
  .dropdown-menu>li>a {
    color: #546677;
}
  .dropdown-menu>li>a:focus,
  .dropdown-menu>li>a:hover {
    color: #03A6D7;
}
  .container:after {
    clear: both;
    content: "";
    display: block;
}

  .pagination {
    margin: 0 0;
}
  .toolbar {
    padding-top: 40px;
    font-size:0.9em;
}

  .search-box .form-control {
  height:auto;
}
  tbody tr td:not(:first-child),
  thead tr th:not(:first-child) {
    text-align: right;
}
  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover,
  .pagination>.active>span,
  .pagination>.active>span:focus,
  .pagination>.active>span:hover {
    background-color: #546677;
    border-color: #ddd;
}
  .pagination>li>a,
  .pagination>li>span {
    color: #546677;
}
  .toolbar .search-box,
  .toolbar .sort-items {
    padding-bottom: 10px;
}
  .toolbar .page-count {
    padding-bottom: 30px;
}

  .pagination>li.active>span {
  color:#fff;
}
  .btn-primary i {
    color: #fff
}

  span.transl-text {
    color: #62C876;
    font-size: 1.3em;
}
  .table>tbody>tr>td {
    vertical-align: middle;
}
  .table thead tr {
    border-bottom-color: transparent !important;
}
  .well {
    background-color: #fff;
    margin-bottom: 10px;
}

  .content {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
/***** MEDIA QUERIES *****/

@media (max-width: 767px) {

      .content {
        min-height: 300px;
    }

      .collapsing {
        transition: height 0.8s;
    }

}
@media (min-width: 768px) {

      h1 {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .show-items {
      clear:none !important;
    }
}
