---
version: '2.1'
services:
  zanatadb:
    image: mariadb:10.1
    command: --character-set-server=utf8 --collation-server=utf8_general_ci
    environment:
      MYSQL_ROOT_PASSWORD: supersecret
      MYSQL_DATABASE: zanata
      MYSQL_USER: zanata
      MYSQL_PASSWORD: zanatapw
    volumes:
      - $HOME/docker-volumes/zanata-mariadb:/var/lib/mysql:Z
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--silent"]
      interval: 3s
      timeout: 3s
      retries: 10
  zanata:
    depends_on:
      zanatadb:
        condition: service_healthy
    # build: .
    image: zanata-dev
    links:
      - zanatadb
    environment:
      DB_HOSTNAME: zanatadb
      DB_SCHEMA: zanata
      DB_USERNAME: zanata
      DB_PASSWORD: zanatapw
      # TODO MAIL_HOST, MAIL_PORT, MAIL_USERNAME, MAIL_PASSWORD
      PREPEND_JAVA_OPTS: "-XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/opt/jboss/zanata"
    ports:
      - 8080:8080
    volumes:
      - $HOME/docker-volumes/zanata:/opt/jboss/zanata:Z
