
/*
 * Don't add padding to roundedContainerWithHeader because IE will apply that to the cells in the table instead of
 * to the outside of the table.
 */
.roundedContainerWithHeader .topLeft {
    background-image: url("images/top_left.gif");
    background-repeat: no-repeat;
    width: 12px;
    height: 25px;
}

.roundedContainerWithHeader .topCenter {
    background-image: url("images/top_repeat.gif");
    background-repeat: repeat-x;
    height: 25px;
}

.roundedContainerWithHeader .topRight {
    background-image: url("images/top_right.gif");
    background-repeat: no-repeat;
    width: 12px;
    height: 25px;
}

.roundedContainerWithHeader .middleLeft {
    background-image: url("images/left_repeat.gif");
    background-repeat: repeat-y;
    width: 12px;
}
.roundedContainerWithHeader .middleCenter {
    background-color: white;
}

.roundedContainerWithHeader .middleRight {
    background-image: url("images/right_repeat.gif");
    background-repeat: repeat-y;
    width: 12px;
}

.roundedContainerWithHeader .bottomLeft {
    background-image: url("images/bottom_left.gif");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
}

.roundedContainerWithHeader .bottomCenter {
    background-image: url("images/bottom_repeat.gif");
    background-repeat: repeat-x;
    height: 12px;
}

.roundedContainerWithHeader .bottomRight {
    background-image: url("images/bottom_right.gif");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
}