/** Add css rules here for your application. */
body {
	background-color: #f8f9fa;
}
		
/*
Styling for errors when webtrans fails to load
*/
.AppLoadError {
	margin-top: 20px;
	margin-left: 30px;
}

div.AppLoadError {
	font-weight: bold;
	font-size: 1.5em;
	color: #ff2222;
	margin-bottom: 15px;
}

a.AppLoadError {
	display: block;
	font-size: 1.3em;
	font-weight: bold;
	margin-left: 60px;
	margin-bottom: 15px;
}

/*
Removes some of the styling on the page-level splitters
*/
.gwt-SplitLayoutPanel-HDragger {
	cursor: col-resize;
	background:#F8F9FA;
}

.gwt-SplitLayoutPanel-VDragger {
	cursor: row-resize;
	background:#F8F9FA;
}

.CenterDiv {
	margin-right: auto;
	margin-left: auto;
	width: auto;
}

#DocumentListView,#WorkspaceUsersView {
	padding-bottom: 5px;
	width: 100%;
}

.DocumentListViewMainPanel { //
	width: 100%;
	width: 205px;
}

#WestNavigationView {
	padding-left: 3px;
	padding-right: 3px;
	height: 100%;
	width: 220px;
	overflow: hidden;
}

.LeftContentNavBar {
	
}

.LeftContentNavBar .gwt-CaptionPanel {
	margin-bottom: 3px;
}

.gwt-Button {
	outline:none;
}

.gwt-CollapsiblePanel { //
	width: 220px;
}

.gwt-HeadingPanel .topLeftInner,.gwt-HeadingPanel .topRightInner {
	height: 40px;
	width: 5px;
	background-color: d0e4f6;
}

.gwt-HeadingPanel .topCenterInner {
	height: 40px;
	background-color: d0e4f6;
}

.gwt-HeadingPanelTitle {
	font-size: 15px;
	color: grey;
}

.FilterTree {
	width: 100%;
}

.gwt-FilterBox {
	font-size: 12px;
	width: 100%;
}

.gwt-FilterBox-Vacant {
	font-style: italic;
	color: grey;
}

.gwt-FilterBox-Occupied {
	font-style: plain;
	color: black;
}

.gwt-CaptionPanel-Heading {
	font-weight: bold;
	width: 100%;
	background-color: d0e4f6;
	padding-bottom: 5px;
}

.gwt-TreeItem-selected .gwt-Label {
	background-color: #C3D9FF;;
}

.gwt-TreeItem-selected {
	background-color: #C3D9FF;;
}

.gwt-CaptionPanel-Collapse {
	background-color: #d5e9fa;
	border: 1px solid #c8dbec;
	padding: 1px;
	margin: 0px;
	font-family: monospace;
}

.gwt-CaptionPanel tr.middle td.middleCenter {
	width: 100%;
}

.gwt-ProgressBar-shell {
	border: 2px solid #faf9f7;
	background-color: #AAAAAA;
	height: 14pt;
	width: 100%;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
	background-color: #67A7E3;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-text {
	padding: 0px;
	margin: 0px;
	color: white;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	cursor: pointer;
	margin-left: 6px;
	padding: 3px 6px 3px 6px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #4a75b5;
	color: #FFFFFF;
	font-weight: bold;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	cursor: default;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #183c66;
	color: #FFFFFF;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border: 2px solid #e0e8ee;
	background: #FFFFFF;
	border-radius: 5px;
}

.WebTransEditor-Outer tr.middle td.middleCenter {
	height: 100%;
	width: 100%;
}

.WebTransEditor-Outer tr.middle td.middleCenter div.middleCenterInner {
	height: 100%;
	width: 100%;
}

.WebTransEditor {
	height: 100%;
	width: 100%;
}

.WebTransEditorMenu {
	background-color: #D0E4F6;
	width: 100%;
	height: 25px;
}

.WebTransEditorMenu-left {
	left: 0px;
	display: inline;
}

.float-right-div {
	float: right;
}

.FilterView {
	padding-top: 2px;
	padding-bottom: 2px;
}

.WebTransEditorMenu-right {
	right: 0px;
	display: inline;
}

.TableEditor tr td {
	vertical-align: top;
}

.TableEditor tr.FuzzyStateDecoration td.TableEditorCell-Source {
	border-right: none;
	border-left: 3px solid #cccccc;
}

.TableEditor tr.NewStateDecoration td.TableEditorCell-Source {
	border-right: none;
	border-left: 3px solid #cccccc;
}

.TableEditor tr.ApprovedStateDecoration td.TableEditorCell-Source {
	border-right: none;
	border-left: 3px solid #cccccc;
}

.TableEditor tr.ErrorStateDecoration td.TableEditorCell-Source {
	border-right: none;
	border-left: 3px solid #cccccc;
}

.TableEditor tr.FuzzyStateDecoration td.TableEditorCell-Target {
	font-style: italic;
	border-right: 3px solid #cccccc;
}

.TableEditor tr.NewStateDecoration td.TableEditorCell-Target {
	border-right: 3px solid #cccccc;
	border-left: none;
}

.TableEditor tr.ApprovedStateDecoration td.TableEditorCell-Target {
	border-right: 3px solid #cccccc;
	border-left: none;
}

.TableEditor tr.ErrorStateDecoration td.TableEditorCell-Target {
	border-right: 3px solid #cccccc;
	border-left: none;
}

td.TableEditorCell {
	border-top: 1px solid #e0e0e0;
	padding-top: 10px;
	padding-bottom: 10px;
}

td.TableEditorCell-Source {
	vertical-align: top;
	word-break: break-all;
}

td.TableEditorCell-Middle {
	
}

td.TableEditorCell-Target {
	vertical-align: top;
	word-break: break-all;
}

/* below is a hack to allow firefox display extra long word properly */
@-moz-document url-prefix() {
{}
    table.TableEditor {
        table-layout : fixed;
    }
	table.TableEditorCell-Source-Table {
		overflow-x:auto;
		display: block;
	}
	
	div.TransUnitDetail-Wrapper {
	    width: 450px;
    }
}

.TableEditorCell-Source-Table {
	width: 100%;
}

.TableEditorCell-Target-Table {
    width: 100%;
}

.TransUnitDetail-Wrapper {
	width: 90%;
}

tr.TableEditorRow.highlighted td.TableEditorCell {
	/* This appears behind the background image, and looks like
	a variable-sized grey square (ugly). Should not be enabled if
	there is a background gradient image for editor cells.
	
	background-color: #f1f2f6; */
	border-color: #AAA;
	border-bottom: 1px solid #AAA;
}

tr.TableEditorRow.highlighted td.TableEditorCell-Source {
	
}

tr.TableEditorRow.highlighted td.TableEditorCell-Middle {
	
}

tr.TableEditorRow.highlighted .gwt-Button-display-onhover {
	display: inline;
	cursor: pointer;
}

tr.TableEditorRow .gwt-Button-display-onhover {
	display: none;
}

tr.TableEditorRow.highlighted td.TableEditorCell-Target {
	cursor: hand;
}

tr.TableEditorRow.content-filter {
	
}

tr.TableEditorRow.content-filter-match {
	
}

tr.TableEditorRow.content-filter-nomatch {
	filter: alpha(opacity =     25);
	-moz-opacity: 0.25;
	opacity: 0.25;
}

tr.TableEditorRow.selected {
	
}

tr.TableEditorRow.selected td.TableEditorCell {
	/* border-top: 3px solid #666666;
	border-bottom: 3px solid #666666; */
}

tr.TableEditorRow.selected td.TableEditorCell-Source {
	/* border-left: 3px solid #666666; */
}

tr.TableEditorRow.selected td.TableEditorCell-Target {
	/* border-right: 3px solid #666666; */
}

.TableEditorContent,.TableEditorContent-Edit,.TableEditorContent-Empty {
	font-size: 14px;
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
}

.TableEditorContent pre,.TableEditorContent-Empty pre {
	padding: 0px;
	margin: 0px;
}

.TableEditorContent font {
	background-color: #ffa;
	color: blue !important;
}

.TableEditorContent font span {
	background-color: #ffa;
	color: blue !important;
}

.TableEditorContent-Edit {
	border-top: 1px solid #BFBFBF;
	border-bottom: 1px solid #BFBFBF;
	width: 98%;
}

tr.FuzzyStateDecoration td.TableEditorCell-Target .TableEditorContent {
	padding-left: 5px;
	padding-right: 5px;
}

tr.FuzzyStateDecoration td.TableEditorCell-Target div.TableEditorCell-Target {
	border-left: 3px solid #ffc000;
	border-right: 3px solid #ffc000;
}

table.ApprovedStateDecoration div.TableEditorCell-Target {
    border-left: 3px solid #099b09;
    border-right: 3px solid #099b09;
}

table.FuzzyStateDecoration div.TableEditorCell-Target {
    border-left: 3px solid #ffc000;
    border-right: 3px solid #ffc000;
}

tr.ApprovedStateDecoration td.TableEditorCell-Target .TableEditorContent {
	padding-left: 5px;
	padding-right: 5px;
}

tr.ApprovedStateDecoration td.TableEditorCell-Target div.TableEditorCell-Target
{
	border-left: 3px solid #099b09;
	border-right: 3px solid #099b09;
}

tr.ApprovedStateDecoration td.TableEditorCell-Target .TableEditorContent-Edit
	{
	border-left: 3px solid #099b09;
	border-right: 3px solid #099b09;
	padding-left: 5px;
	padding-right: 5px;
}

.TableEditorContent-Empty {
	font-size: 12px;
	font-family: sans-serif;
	font-style: italic;
	padding: 3px;
	margin: 2px;
	opacity: 0.5;
	width: 99%;
}

/* Search-replace page
 * TODO arrange for these to share styles with editor table
 */

.projectWideSearchPanel
{
	color: #555555;
	background-color: #f3f2f2;
	border-bottom: 1px solid lightgrey;
	padding: 0px 20px;
	white-space: nowrap;
}

.gwt-ListBox
{
	color: inherit;
}

.projectWideSearchBoxLabel
{
	font-size: 1.2em;
	margin-left: 30px;
}

.projectWideSearchBox
{
	padding: 3px;
	font-size: 20px;
	border: 2px solid #C5C5C5;
	border-radius: 3px;
	width:300px;
	height:30px;
	margin-right:3px;
}

.projectWideSearchButton
{
	color: #444444;
	font-size: 1.4em;
	margin-right: 15px;
	padding: 3px 10px;
}

.projectWideReplacementBox
{
	padding: 3px;
	font-size: 20px;
	border: 2px solid #C5C5C5;
	border-radius: 3px;
	width:300px;
	height:30px;
	margin-right:3px;
}

.projectWideSearchReportLabel
{
	margin-left: 40px;
	color: #555588;
	font-size: 1.1em;
}

.projectWideSearchSelectAllChk
{
	margin-left: 27px;
}

.projectWideSearchLogPanel
{
	background-color: #667788;
	color: #ffffff;
	border-top: 3px solid #e0e8ee;
	padding: 0px 30px;
}

.projectWideSearchSelectionInfo
{
	font-size: 1.3em;
	white-space: nowrap;
}

.projectWideReplacementButton
{
	color: #444444;
	padding: 3px 10px;
	font-size: 1.4em;
}

.projectWideReplacButton-Disabled
{
	color: #777777;
	background-color: #bbbbbb;
	border: 2px solid #bbbbbb;
}

.projectWideReplaceFeedbackLabel
{
	margin-left: 60px;
	color: #ffffff;
	font-size: 1.2em;
}

.projectWideSearchResultsPanel
{
	padding: 30px;
	padding-bottom: 0px;
	background-color: #e0e8ee;
}

.projectWideSearchNoResultsLabel
{
	width: 100%;
	margin-top: 70px;
	font-style: italic;
	font-size: 1.3em;
	color: #666666;
	text-align: center;
}

.projectWideSearchResultsDocumentHeader
{
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid lightgrey;
	border-bottom-style: none;
}

.projectWideSearchResultsDocumentTitle
{
	font-size: 1.5em;
	color: #333333;
	margin-right: 40px;
}

.projectWideSearchResultsDocumentLink
{
	float: right;
}

.projectWideSearchResultsDocumentBody
{
	padding-top: 15px;
	background-color: #ffffff;
	border: 2px solid lightgrey;
	border-top-style: none;
	border-bottom-width: 3px;
	margin-bottom: 30px;
}

.projectWideSearchResultsActionColumn
{
	padding: 2px 4px !important;
	overflow: visible !important;
}

.linkLabel
{
	cursor:pointer;
	text-decoration: underline;
	margin-left: 10px;
	margin-right: 10px;
	white-space: nowrap;
}

.linkLabelNormalColor
{
	color:#114477;
}


td.FuzzyStateDecoration div div div
{
	border-left: 3px solid #ffc000;
	border-right: 3px solid #ffc000;
	padding: 5px;
}

td.ApprovedStateDecoration div div div
{
	border-left: 3px solid #099b09;
	border-right: 3px solid #099b09;
	padding: 5px;
}

.Severity-Error {
	background-color: #ffcccc;
}

.Severity-Info {
	background-color: #eeeeff;
}

.Severity-Warning {
	background-color: #ffffcc;
}

/* when match highlighting is enabled: */
/*
.TransMemoryHighlightMatches .diff-equal {
	background:#FF0;
}

.TransMemoryHighlightMatches .diff-insert {
	background:#e6ffe6;
	text-decoration: none;
}

.TransMemoryHighlightMatches .diff-delete {
	display: none;
}
*/

/* when colour diff is enabled: */
.diff-equal {
	
}

.diff-insert {
	background: #99ccff;
	text-decoration: underline;
}

.diff-delete {
	background: #ff9999;
	text-decoration: line-through;
}

.DocumentListTable {
	width: 100%;
	font-size: 16px;
}


.DocumentListTable th {
	padding: 15px 8px 15px 8px;
	font-size: 13px;
	color: #ffffff;
	font-family: Arial, Verdana, sans-serif;
	background-color:#461446;
	border-bottom:none;
	border-left:1px solid #FFFFFF;
	text-align:center;
}

.DocumentListTable th:hover {
	color:#FFFFFF;
}

.DocumentListTable th:first-child {
	border-top-left-radius: 5px;
	border-left:none;
}

.DocumentListTable th:last-child {
	border-top-right-radius: 5px;
}

.DocumentListTable td {
	font-size: 16px;
	cursor: pointer;
	padding:6px;
}

.DocumentListTable td.directoryCol {
	width: 25%;
}

.DocumentListTable td.documentCol {
	width: 25%;
}

.DocumentListTable td.statisticCol {
	font-size:14px;
	text-align:center;
}

.DocumentListTable td.translatedCol {
	font-weight:bold;
	font-size:14px;
	color:#006200;
	text-align:center;
}

.DocumentListTable td.untranslatedCol {
	font-weight:bold;
	font-size:14px;
	color:#818181;
	text-align:center;
}

.DocumentListTable td.remainingCol {
	font-weight:bold;
	font-size:14px;
	color:#910000;
	text-align:center;
}


.transUnitCountTooltip {
	background-color:#FBFBFB;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #818181;
	padding:2px;
	font-weight:bold;
	box-shadow:3px 3px 2px #D1D1D1;
}

.transUnitCountTooltipTable {
	text-align: center;
	font-size: 12px
}

.transUnitCountTooltipTable .topHeader {
	border:none;
	color: #4F4F4F;
	white-space:nowrap;
	padding:2px;
}

.transUnitCountTooltipTable .approved-header {
	border:none;
	color: #002D00;
	white-space:nowrap;
	padding:2px;
}

.transUnitCountTooltipTable .needReview-header {
	border:none;
	color: #7D3E00;
	white-space:nowrap;
	padding:2px;
}

.transUnitCountTooltipTable .untranslated-header {
	border:none;
	color: #6D6D6D;
	white-space:nowrap;
	padding:2px;
}


.transUnitCountTooltipTable .sideHeader {
	border:none;
	color: #4F4F4F;
	white-space:nowrap;
	width:40px;
}

.transUnitCountTooltipTable .approved {
	background:#099B09;
	border: 1px solid #006900;
	color:#002D00;
}

.transUnitCountTooltipTable .needReview {
	background:#FFC000;
	border: 1px solid #CD8E00;
	color:#7D3E00;
}

.transUnitCountTooltipTable .untranslated {
	background:#E5E5E5;
	border: 1px solid #B3B3B3;
	color:#6D6D6D;
}

.transUnitCountTooltipTable td {
	border: 1px solid #6D6D6D;
	width: 75px;
	border-radius: 2px;
	color:#4F4F4F;
}

.pointer {
	cursor: pointer;
}

.translationContainer pre, .translationContainer textarea {
	font-size: 14px;
	font-family: sans-serif;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.resultTable
{
	width:100%;
}

.resultTable .oddRow
{
	background:#F3F7FB;
}

.translationContainer .resultTable pre {
   border: 1px dotted #C9C9C9;
   margin-top: 2px;
   padding: 2px;
   margin-bottom: 2px;
}

.resultTable tr:first-child:hover
{
	background:none;
}

.resultTable tr:hover
{
	background:#DFE3E7;
}

.resultTable td.numTransCol
{
	width:60px;
}

.resultTable td.detailCol
{
	width:60px;
}

.resultTable td.similarityCol
{
	width:60px;
}

.resultTable td.actionCol
{
	width:60px;
}

.resultTable .th
{
	color: #C35817;
	font-weight: bold;
	font-size:13px;
	text-decoration:underline;
}

.resultTable .centered
{
	text-align:center;
}

.resultTable .details
{
	font-size:16px;
	color:#00264C;
	cursor:pointer;
}

.resultTable .details:hover
{
	color:red;
}

.tableMsg
{
	font-size:14px;
	font-weight:bold;
	text-align:center;
	padding:25px;
}

.loadingPanel {
	background: #000000;
	padding: 20px 40px 20px 40px;
	color: #FFFFFF;
	opacity: 0.60;
	border-radius: 20px;
	font-weight: bold;
}

.filterConfirmationPanel {
	background: #4C4C4C;
	padding: 5px 20px 0px 20px;
	color: #FFFFFF;
	border-radius: 20px;
	-moz-border-radius: 20px;
	font-weight: bold;
}
.sourceTable {
	border-spacing:5px;
	width:100%;
	height:100%;
    word-break: break-all;
}

.notificationPanel 
{
	border:none;
	max-height:350px;
}

.keyShortcutPanel
{
	border:none;
}

.boldFont
{
	font-weight:bold;
}

#gwt-debug-TMMerge-caption, #gwt-debug-transHistory-caption {
    background: #4481DB;
    padding: 8px 4px 8px 8px;
    font-weight: bold;
    text-align: center;
    color: whiteSmoke;
}

#gwt-debug-TMMerge .dialogMiddleCenter {
    background-color: #F3F2F2;
}

.indexLabel
{
	font-size:0.8em;
	color:#808080;
	text-decoration:underline;
}

.sideMenuHeader {
    font-weight:bold;
    font-size:13px;
    text-align:center;
    border-radius:5px;
    padding:3px 0;
    border-radius:5px;
    border:1px dotted gray;
}

.workspaceUserPanel .gwt-SplitLayoutPanel-VDragger
{
	border-radius:2px;
	box-shadow:0 0 6px gray inset;
}

/* -------------- GWT Dialog Box ----------------*/
.GWTDialogBox
{
	width:600px;
	height:400px;
	background:#F2F2F2;
	border:1px solid #C0C0C0;
	border-radius:3px;
	padding:5px;
	box-shadow:1px 1px 3px #5C5C5C;
}

.GWTDialogBox .Caption
{
	padding:4px;
	font-weight:bold;
	font-size:1.1em;
	border-radius:3px;
	background:#575757;
	color:#FFFFFF;
	cursor:move;
}

.GWTDialogBox table
{
	width:100%;
}

.GWTDialogBox .headerLabel
{
	padding-right:5px;
	color:#C35817;
	font-weight:bold;
}

.GWTDialogBox .alignTop
{
	vertical-align:top;
}

.GWTDialogBox .lastModifiedLabel
{
	color:#C35817;
	font-weight:bold;
}

.GWTDialogBox .button
{
	width:70px;
	margin:1px;
	padding:2px;
}

