body {
	background-color: #f8f9fa;
}
		
/*
Styling for errors when webtrans fails to load
*/
div.AppLoadError {
	font-weight: bold;
	font-size: 1.3em;
	color: #ff2222;
	padding: 25px;
}

/*
Removes some of the styling on the page-level splitters
*/
.gwt-SplitLayoutPanel-HDragger {
	cursor: col-resize;
	background:#E0E8EE;
}

.gwt-SplitLayoutPanel-VDragger {
	cursor: row-resize;
	background:#E5E5E5;
}

.gwt-Button, .gwt-PushButton {
	outline:none;
}

.THEMES_COMPACT .transUnitCol {
	padding:0px 0px;
}

.THEMES_COMPACT .transUnitCol .buttons {
	font-size:16px;
}

.THEMES_DEFAULT .transUnitCol {
	padding:10px 0px;
}

.THEMES_DEFAULT .transUnitCol .buttons {
	font-size:18px;
}

.THEMES_LOOSE .transUnitCol {
	padding:20px 0px;
}

.THEMES_LOOSE .transUnitCol .buttons {
	font-size:20px;
}

.transUnitTable tr.selected
{
	border-left: 2px dotted #0085CC;
	border-right: 2px dotted #0085CC;
    background-color:#F3F7FB;
}


.transUnitTable tr.selected .transUnitCol
{
	border-top: 2px solid #0085CC;
	border-bottom: 2px solid #0085CC;
}

.transUnitTable tr:hover
{
	background-color:#F3F7FB;
}

.transUnitTable tr:hover .fadeElement, .transUnitTable tr.selected .fadeElement
{
	opacity:1;
	
}
.transUnitTable tr .fadeElement
{
	opacity:0;
}


td.TableEditorCell {
	border-top: 1px solid #e0e0e0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableEditorCell-Source-Table {
	width: 100%;
}

.TableEditorCell-Target-Table {
    width: 100%;
}

tr.TableEditorRow.content-filter-nomatch {
	filter: alpha(opacity =     25);
	opacity: 0.25;
}

tr.FuzzyStateDecoration td.TableEditorCell-Target .TableEditorContent {
	padding-left: 5px;
	padding-right: 5px;
}

tr.FuzzyStateDecoration td.TableEditorCell-Target div.TableEditorCell-Target {
	border-left: 3px solid #ffc000;
	border-right: 3px solid #ffc000;
}

table.ApprovedStateDecoration div.TableEditorCell-Target {
    border-left: 3px solid #099b09;
    border-right: 3px solid #099b09;
}

table.FuzzyStateDecoration div.TableEditorCell-Target {
    border-left: 3px solid #ffc000;
    border-right: 3px solid #ffc000;
}

tr.ApprovedStateDecoration td.TableEditorCell-Target .TableEditorContent {
	padding-left: 5px;
	padding-right: 5px;
}

tr.ApprovedStateDecoration td.TableEditorCell-Target div.TableEditorCell-Target
{
	border-left: 3px solid #099b09;
	border-right: 3px solid #099b09;
}

tr.ApprovedStateDecoration td.TableEditorCell-Target .TableEditorContent-Edit
	{
	border-left: 3px solid #099b09;
	border-right: 3px solid #099b09;
	padding-left: 5px;
	padding-right: 5px;
}

/* Search-replace page
 * TODO arrange for these to share styles with editor table
 */

.gwt-ListBox
{
	color: inherit;
}

.projectWideSearchBoxLabel
{
	font-size: 1.2em;
	margin-left: 30px;
}

.projectWideSearchReportLabel
{
	margin-left: 40px;
	color: #555588;
	font-size: 1.1em;
}

.projectWideSearchSelectAllChk
{
	margin-left: 27px;
}

.projectWideSearchLogPanel
{
	background-color: #667788;
	color: #ffffff;
	border-top: 3px solid #e0e8ee;
	padding: 0px 30px;
}

.projectWideSearchSelectionInfo
{
	font-size: 1.3em;
	white-space: nowrap;
}

.projectWideReplacButton-Disabled
{
	color: #777777;
	background-color: #bbbbbb;
	border: 2px solid #bbbbbb;
}

.projectWideReplaceFeedbackLabel
{
	margin-left: 60px;
	color: #ffffff;
	font-size: 1.2em;
}

.projectWideSearchResultsPanel
{
	padding: 10px;
	padding-bottom: 0px;
	background-color: #e0e8ee;
}

.projectWideSearchNoResultsLabel
{
	width: 100%;
	margin-top: 70px;
	font-style: italic;
	font-size: 1.3em;
	color: #666666;
	text-align: center;
}

.projectWideSearchResultsDocumentHeader
{
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid lightgrey;
	border-bottom-style: none;
}

.projectWideSearchResultsDocumentTitle
{
	font-size: 1.5em;
	color: #333333;
	margin-right: 40px;
}

.projectWideSearchResultsDocumentLink
{
	float: right;
}

.projectWideSearchResultsDocumentBody
{
	padding-top: 15px;
	background-color: #ffffff;
	border: 2px solid lightgrey;
	border-top-style: none;
	border-bottom-width: 3px;
	margin-bottom: 30px;
}

.projectWideSearchResultsActionColumn
{
	padding: 2px 4px !important;
	overflow: visible !important;
}

.projectWideSearchResultsInfo
{
	cursor:pointer;
	margin-left: 8px;
	margin-right: 8px;
	font-size:16px;
}

.linkLabel
{
	cursor:pointer;
	text-decoration: underline;
	margin-left: 8px;
	margin-right: 8px;
	white-space: nowrap;
}

.linkLabelNormalColor
{
	color:#114477;
}


td.FuzzyStateDecoration div div div
{
	border-left: 3px solid #ffc000;
	border-right: 3px solid #ffc000;
	padding: 5px;
}

td.ApprovedStateDecoration div div div
{
	border-left: 3px solid #099b09;
	border-right: 3px solid #099b09;
	padding: 5px;
}

.Severity-Error {
	background-color: #ffcccc;
}

.Severity-Info {
	background-color: #eeeeff;
}

.Severity-Warning {
	background-color: #ffffcc;
}

/* when match highlighting is enabled: */
/*
.TransMemoryHighlightMatches .diff-equal {
	background:#FF0;
}

.TransMemoryHighlightMatches .diff-insert {
	background:#e6ffe6;
	text-decoration: none;
}

.TransMemoryHighlightMatches .diff-delete {
	display: none;
}
*/

/* when colour diff is enabled: */
.diff-equal {
	
}

.diff-insert {
	background: #99ccff;
	text-decoration: underline;
}

.diff-delete {
	background: #ff9999;
	text-decoration: line-through;
}

.DocumentListTable {
	width: 100%;
	font-size: 16px;
}


.DocumentListTable th {
	padding: 15px 8px 15px 8px;
	font-size: 13px;
	color: #ffffff;
	font-family: Arial, Verdana, sans-serif;
	background-color:#461446;
	border-bottom:none;
	border-left:1px solid #FFFFFF;
	text-align:center;
}

.DocumentListTable th:hover {
	color:#FFFFFF;
}

.DocumentListTable th:first-child {
	border-top-left-radius: 5px;
	border-left:none;
}

.DocumentListTable th:last-child {
	border-top-right-radius: 5px;
}

.DocumentListTable td {
	font-size: 16px;
}

.THEMES_COMPACT .DocumentListTable td {
	padding:0px 5px;
}

.THEMES_DEFAULT .DocumentListTable td {
	padding:10px 5px;
}

.THEMES_LOOSE .DocumentListTable td {
	padding:20px 5px;
}

.DocumentListTable td.pathCol {
	max-width:150px;
}

.DocumentListTable td.pathCol div{
	text-overflow:ellipsis;
	overflow:hidden;
}

.DocumentListTable td.documentCol {
	max-width:100px;
	width: 25%;
	text-decoration:underline;
	cursor:pointer;
}

.DocumentListTable td.documentCol div{
	text-overflow:ellipsis;
	overflow:hidden;
}

.DocumentListTable td.statisticCol {
	font-size:14px;
	text-align:center;
}

.DocumentListTable td.translatedCol {
	font-weight:bold;
	font-size:14px;
	color:#006200;
	text-align:center;
}

.DocumentListTable td.untranslatedCol {
	font-weight:bold;
	font-size:14px;
	color:#818181;
	text-align:center;
}

.DocumentListTable td.remainingCol {
	font-weight:bold;
	font-size:14px;
	color:#910000;
	text-align:center;
}

.DocumentListTable td.auditCol { 
	font-size:12px;
	text-align:center;
}


.DocumentListTable td.downloadCol { 
}

.DocumentListTable td.uploadCol { 
	text-align:center;
}

.pointer {
	cursor: pointer;
}

/* represent one text string. If it's not in plural form, this wraps one text flow. In plural form, this is one string */
.textFlowEntry
{
    border-bottom: dotted 1px grey;
}

.textFlowEntry pre
{
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 1em;
    font-size: 14px;
    font-family: sans-serif;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.translationContainer pre, .translationContainer textarea {
	font-size: 14px;
	font-family: sans-serif;
	word-wrap: break-word;
	white-space: pre-wrap;
}

/* TM and Glossary result*/
.resultTable
{
	width:100%;
    table-layout: fixed;
}
.resultTable tbody td
{
    vertical-align: top;
}

.resultTable .oddRow
{
	background:#F3F7FB;
}

.resultTable tr:first-child:hover
{
	background:none;
}

.resultTable tr:hover
{
	background:#DFE3E7;
}

.resultTable .numTransCol
{
	width:60px;
}

.resultTable .detailCol
{
	width:60px;
}

.resultTable .similarityCol
{
	width:60px;
}

.resultTable .actionCol
{
	width:60px;
}

.resultTable .th
{
	color: #C35817;
	font-weight: bold;
	font-size:13px;
	text-decoration:underline;
}

.resultTable .centered
{
	text-align:center;
}

.resultTable .details
{
	font-size:16px;
	color:#00264C;
	cursor:pointer;
}

.resultTable .details:hover
{
	color:red;
}

.tableMsg
{
	font-size:14px;
	font-weight:bold;
	text-align:center;
	padding:25px;
}

.loadingPanel {
	background: #000000;
	padding: 20px 30px;
	opacity: 0.60;
	border-radius: 20px;
}

.confirmationDialogPanel {
	background: #4C4C4C;
	padding: 5px 20px 0px 20px;
	color: #FFFFFF;
	border-radius: 20px;
	font-weight: bold;
}

.confirmationDialogPanel .message {
	text-align:left;
	font-size:14px;
	font-weight:bold;
	color:#FFC000;
}

.confirmationDialogPanel table {
	color: #FFFFFF;
}

.confirmationDialogPanel .info {
	color: #FFFFFF;
	font-weight: normal;
	font-size:12px;
	padding:5px;
	border:1px dotted #808080;
	border-radius:5px;
	text-align:left;
}

.confirmationDialogPanel .info .infoIcon {
	color: lightblue;
	font-size:18px;
}

.confirmationDialogPanel .info .subInfo {
	padding-left:50px;
}

.sourceTable {
	border-spacing:5px;
	width:100%;
	height:100%;
    word-break: break-all;
}

/* this is to NOT display cursor in source panel*/
.sourceTable .CodeMirror-cursor {
    display: none;
}

/* change code mirror mouse cursor */
.sourceTable .CodeMirror-lines {
    cursor: default;
}

/* when using highlighting label to display source */
.sourceTable pre.cm-s-default {
    background: #ffffff;
    margin: 0;
    padding: .4em;
    min-height: 2em;
}

.keyShortcutPanel
{
	border:none;
}

#gwt-debug-TMMerge {
	width:auto;
	height:auto;
}

#gwt-debug-TMMerge-caption, #gwt-debug-transHistory-caption {
    background: #4481DB;
    text-align: center;
}

/* translation history style */
#gwt-debug-transHistoryTabPanel.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    cursor: pointer;
    margin-left: 6px;
    padding: 3px 6px 3px 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #4a75b5;
    color: #FFFFFF;
    font-weight: bold;
}

#gwt-debug-transHistoryTabPanel.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: default;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #183c66;
    color: #FFFFFF;
}

#gwt-debug-transHistoryTabPanel.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border: 2px solid #e0e8ee;
    background: #FFFFFF;
    border-radius: 5px;
}
/* end translation history style*/

.gwt-sideMenu-header {
    font-weight:bold;
    font-size:13px;
    text-align:center;
    padding:3px 0;
    border-radius:5px;
    border:1px dotted gray;
    color:#FFFFFF;
}

/* -------------- No fixed size dialog box ---------------*/
.gwt-DialogBox-NoFixedSize
{
	background:#F2F2F2;
	border:1px solid #C0C0C0;
	border-radius:3px;
	padding:5px;
	box-shadow:1px 1px 3px #5C5C5C;
}

.gwt-DialogBox-NoFixedSize .Caption
{
	padding:4px;
	margin-bottom:10px;
	font-weight:bold;
	font-size:1.1em;
	border-radius:3px;
	background:#575757;
	color:#FFFFFF;
	cursor:move;
}

.gwt-DialogBox-NoFixedSize .info span
{
	font-size:20px;
	color:#00264C;
}


.gwt-DialogBox-NoFixedSize .message
{
	max-width:500px;
	max-height:500px;
	overflow:auto;'
}


.gwt-DialogBox-NoFixedSize .buttonPanel
{
	margin-top:8px;
}

.gwt-DialogBox-NoFixedSize .buttonPanel td
{
	padding:2px;
}

.gwt-DialogBox-NoFixedSize .buttonPanel .button
{
	border-radius:3px;
	width:60px;
	text-align:center;
}

.gwt-DialogBox-NoFixedSize span.time_label
{
	font-size:12px;
}

.gwt-DialogBox-NoFixedSize span.severity_icon
{
	font-size:18px;
}

.gwt-DialogBox-NoFixedSize a.downloadLink
{
	color:#575757;
	font-size:22px;
	cursor:pointer;
}

.gwt-DialogBox-NoFixedSize form
{
	margin:0;
}

.gwt-DialogBox-NoFixedSize .message_label
{
	padding:8px;
}

span.severity_info
{
	color:#3090C7;
}

span.severity_warning
{
	color:#F88158;
}

span.severity_error
{
	color:#F62817;
}

a.downloadFileLink
{
	color:#0085CC;
	font-size:0.9em;
	cursor:pointer;
}

a.downloadLink
{
	color:orange;
	font-size:0.9em;
	cursor:pointer;
}


/* -------------- Fixed size dialog box ---------------*/
.gwt-DialogBox-fixedSize
{
	width:600px;
	height:400px;
	background:#F2F2F2;
	border:1px solid #C0C0C0;
	border-radius:3px;
	padding:5px;
	box-shadow:1px 1px 3px #5C5C5C;
}

.gwt-DialogBox-fixedSize .Caption
{
	padding:4px;
	font-weight:bold;
	font-size:1.1em;
	border-radius:3px;
	background:#575757;
	color:#FFFFFF;
	cursor:move;
}

.gwt-DialogBox-fixedSize table
{
	width:100%;
}

.gwt-DialogBox-fixedSize .headerLabel
{
	padding-right:5px;
	color:#C35817;
	font-weight:bold;
}

.gwt-DialogBox-fixedSize .alignTop
{
	vertical-align:top;
}

.gwt-DialogBox-fixedSize .lastModifiedLabel
{
	color:#C35817;
	font-weight:bold;
}

.gwt-DialogBox-fixedSize .button
{
	width:70px;
	margin:1px;
	padding:2px;
}

.gwt-DialogBox-CloseButton
{
    width: 5em;
    margin: 10px 5px 5px 0;
    float: right;
    text-align: center;
    border-radius:5px;
}

.transUnitCol .bookmark
{
    float: left;
    margin-left: 6px;
    cursor: pointer;
}

/* custom webkit scroll bar */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(86, 192, 230, 0.40);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(86, 192, 230, 0.20);
}
/* end custom webkit scroll bar */
