/* Modal specific css */

.vmerge-searchinput.form-control {
  height: inherit !important;
}

.vmerge-boxes .list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vmerge-target {
  margin-left: 1em;
}

.proj-select .list-group-item {
  border: none;
}

.proj-select .panel-heading {
  padding: 0;
}

.vmerge-target ul {
  list-style-type: none;
  margin-bottom: 0;
  line-height: 2em;
  margin-left: 1rem;
}

#TM-merge-modal .label {
  font-size: 0.975rem;
  font-weight: 400;
  padding: 0.25rem;
}

.label-success {
  background-color: #62c876 !important;
}

.vmerge-boxes .panel-group {
  margin-bottom: 0;
}

.vmerge-row {
  margin-bottom: 1.75em;
}

.vmerge-ddown {
  font-weight: 500;
}

.vmerge-title {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 0.375rem;
}

.vmerge-title-flex {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 1rem;
}

.vmerge-title .text-muted {
  margin-left: 1em;
}

.vmerge-searchbox .input-group-addon {
  color: @color-muted;
  height: 2rem;
}

.vmerge-boxes .info-icon {
  vertical-align: sub;
  margin-left: 0.375em;
}

.vmerge-boxes li.v.list-group-item label.checkbox-inline {
  margin-left: 2rem;
}

.s0.icon-locked {
  color: @color-warning;
  vertical-align: middle;
  margin-left: 0.375em;
}

.vmerge-adjtitle {
  color: @color-light;
  font-style: italic;
  font-weight: 500;
}

.vmerge-target ul {
  padding-left: 0;
  margin-left: 0;
}

.vmerge-adjsub {
  font-size: 0.85em;
}

.vmerge-searchbox {
  margin-bottom: 1em;
  display: inline-flex;
}

.modal-body .dropdown .dropdown-menu > li > a {
  font-size: 1em;
}

.tm-panel .checkbox .label {
  font-size: 0.875rem;
  margin-left: 1rem;
  padding: 0.375rem;
}

.tm-panel .checkbox small {
  color: @color-muted;
}

.panel-title {
  font-size: 1rem !important;
  margin: 0 !important;
  font-weight: 400;
}

.react-draggable.list-group-item span.text-muted {
  margin-left: 1em !important;
}

.drag-handle {
  top: 50% !important;
  right: 3% !important;
  -ms-transform: translate(3%, -50%);
  transform: translate(3%, -50%);
  padding: 0.75rem !important;
  cursor: ns-resize !important;
}

.rm-version-btn {
  top: 50% !important;
  right: 3% !important;
  -ms-transform: translate(3%, -50%);
  transform: translate(3%, -50%);
  padding: 0.75rem !important;
  color: red !important;
}

.sortable-helper {
  z-index: 10000 !important;
}

.new-zanata .button.btn-primary {
  color: #fff !important;
  border-color: @color-neutral !important;
  background-color: @color-light !important;
}

.new-zanata .button.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

.new-zanata #TM-merge-modal ul {
  margin: 0;
  padding: 0;
}

.new-zanata #TM-merge-modal ul, .new-zanata #TM-merge-modal ul li {
  list-style-type: none !important;
}

.new-zanata #TM-merge-modal input[type=text] {
  margin: 0;
}

.new-zanata #TM-merge-modal label {
  color: @color-dark;
  font-weight: 500;
}

#TM-merge-modal .progress-bar {
  height: 100% !important;
}

#TM-merge-modal .panel-group .panel-heading {
  border-bottom: 1px solid #cdd4dc !important;
}

#TM-merge-modal .modal-body .intro {
  margin-bottom: 1rem !important;
}

#TM-merge-modal {
  visibility: visible;
  opacity: inherit;
  backface-visibility: hidden;
}

.tmx-icon {
  margin-right: 0.375rem;
}

.vmerge-title .text-info {
  margin-right: 1rem;
}

li.v input.checkbox {
  margin-left: 1rem;
}

#languages-dd {
  display: inline-flex;
  align-items: center;
}

#languages-dd span.s1 {
  margin-right: 0.375rem;
}

.s0.icon-locked {
  color: #FFA800 !important;
  vertical-align: middle;
  margin-left: 0.375em;
}

.select-project {
  padding-bottom: 1.5rem;
}

.validations {
  padding-top: 1.5rem;
}

.validations span {
  font-weight: 500;
  font-size: 1.1rem;
}

.radio.has-success label,
.radio.has-warning label,
.radio.has-error label {
  font-weight: 500;
  font-size: 0.975rem;
}

.select-source {
  display: flex;
  padding-bottom: 0.75rem;
}

.select-source span {
  padding-right: 1rem;
}

p.lead {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

li.v span.text-muted {
  font-weight: 500;
  margin-left: 2.5rem;
}

li.list-group-item.to .item {
  vertical-align: middle;
  margin-right: 1.5rem;
}

li.list-group-item.to .item .tmx-icon {
  vertical-align: sub;
}

.panel-name {
  font-size: 1.1rem;
}

.tooltip-btn {
  padding: 0;
}

.well {
  background-color: #fff;
  border-color: #BDD4DC;
  text-align: center;
  margin-top: 2rem;
}

.well p {
  padding: 1.5rem;
  font-size: 1.1rem;
}

.no-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.no-v .s8 {
  margin-top: 1rem;
}

.radio.disabled {
  opacity: 0.5;
}

.radio input[type=radio] {
  margin-bottom: 0.75rem;
}

.btn-link {
  line-height: inherit;
}

/* React Toggle Component CSS */

.react-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  margin-right: 1rem;
  vertical-align: bottom;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #A2B3BE;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #A2B3BE;
}

.react-toggle--checked .react-toggle-track {
  background-color: #20718A;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #20718A;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
}
