/* Override legacy JSF new-zanata classes for TMMergeModal React components */

.modal__alert--affix {
  position: fixed !important;
  z-index: 1060 !important;
  max-width: 45rem;
  width: 60%;
}

.panel-title {
   font-size: 1.1rem !important;
   margin: 0 !important;
}

.react-draggable.list-group-item span.text-muted {
  margin-left: 1em !important;
}

.drag-handle {
  top : 50% !important;
  right: 3% !important;
  -ms-transform: translate(3%, -50%);
  transform    : translate(3%, -50%);
  padding: 0.75rem !important;
  cursor: ns-resize !important;
}

.rm-version-btn {
  top : 50% !important;
  right: 3% !important;
  -ms-transform: translate(3%, -50%);
  transform    : translate(3%, -50%);
  padding: 0.75rem !important;
  color: red !important;
}

.sortable-helper {
  z-index: 10000 !important;
}

.new-zanata .button.btn-primary {
  color: #fff !important;
  border-color: @color-neutral !important;
  background-color: @color-light !important;
}

.new-zanata .button.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

.new-zanata #TM-merge-modal ul {
  margin: 0;
  padding: 0;
}

.new-zanata  #TM-merge-modal ul, .new-zanata #TM-merge-modal ul li {
  list-style-type: none !important;
}

.new-zanata #TM-merge-modal input[type=text] {
  margin: 0;
}

.new-zanata #TM-merge-modal label {
  color: @color-dark !important;
  font-weight: 500;
}

#TM-merge-modal .progress-bar {
  height: 100% !important;
}

#TM-merge-modal .panel-group .panel-heading {
  border-bottom: 1px solid #cdd4dc !important;
}

#TM-merge-modal .modal-body .intro {
  margin-bottom: 1rem !important;
}

#TM-merge-modal .modal-header {
  padding-bottom: 0 !important;
}


#TM-merge-modal .modal-body {
  padding-top: 0 !important;
}

#TM-merge-modal {
  visibility: visible;
  opacity: inherit;
  backface-visibility: hidden;
}
