.InputEditorSearch {
  margin-left: 0.75em;
  display: inline-flex;
  margin-top: 0.25em;
  font-size: 0.875em;
}

.InputEditorSearch > div {
  /* to contain nested .panel width */
  position: relative;
  width: 100%;
}

.InputGroup--wide {
  width: 60%;
  padding-left: 1rem;
}


/* advanced search panel */

.InputEditorSearch .panel {
  margin-bottom: 0.5em !important;
  position: absolute;
  width: 100%;
}

.InputEditorSearch .panel-body {
  /* bootstrap panel cannot use utility class u-bgHigher directly */
  background-color: var(--u-bg-color-lighter);
}

.InputEditorSearch .panel-body input {
  box-shadow: var(--default-box-shadow-inset)
}

.InputEditorSearch .help-icon button {
  vertical-align: sub;
  margin-left: 0.375em;
}

.InputEditorSearch .help-icon button span {
  vertical-align: bottom;
}

#editor-header .InputEditorSearch .InputGroup-addon span.n1 {
  vertical-align: middle;
}

.InputGroup-addon {
  vertical-align: baseline;
}

li.inline-search-list {
  display: inline-flex;
  width: 100%;
  margin-right: 1em;
}

li.inline-search-list span {
  width: 60%;
  color: #20718A;
}

.InputEditorSearch .panel.panel-default {
  z-index: 1000 !important;
}

.flex ul.u-listHorizontal {
  z-index: 999 !important;
}

.panel {
  border: none !important;
}

button.clearadvsearch {
  color: #03A6D7;
  padding: 0;
  padding-top: 0.75em;
}

@media (min-width:560px) {
  .InputEditorSearch {
    width: 35%;
  }
}

@media (min-width:600px) {
  .InputEditorSearch {
    width: 40%;
  }
}

@media (min-width:680px) {
  .InputEditorSearch {
    width: 45%;
  }
}

@media (min-width:740px) {
  .InputEditorSearch {
    width: 35%;
  }
}

@media (min-width:780px) {
  .InputEditorSearch {
    width: 40%;
  }
}

@media (min-width:820px) {
  .InputEditorSearch {
    width: 45%;
  }
}

@media (min-width:895px) {
  .InputEditorSearch {
    width: 50%;
  }
}

@media (min-width:961px) {
  .InputEditorSearch {
    width: 15%;
  }
}

@media (min-width:980px) {
  .InputEditorSearch {
    width: 20%;
  }
}

@media (min-width:1040px) {
  .InputEditorSearch {
    width: 25%;
  }
}

@media (min-width:1110px) {
  .InputEditorSearch {
    width: 30%;
  }
}

@media (min-width:1280px) {
  .InputEditorSearch {
    width: 35%;
  }
}

@media (min-width:1300px) {
  .InputEditorSearch {
    width: 40%;
  }
}

@media (min-width:1400px) {
  .InputEditorSearch {
    width: 45%;
  }
}
