
/**
 * Utils
 */

@import './css/utils-layout/index.css';
@import './css/utils-background/index.css';
@import './css/utils-display/index.css';
@import './css/utils-list/index.css';
@import './css/utils-position/index.css';
@import './css/utils-size/index.css';
@import './css/utils-space/index.css';
@import './css/utils-text/index.css';
@import './css/resizer/index.css';

/**
 * Components
 */

@import 'suitcss-components-grid';
@import './css/base/index.css';
@import './components/SplitDropdown/index.css';
@import './components/Button/index.css';
@import './components/GlossaryTermModal/index.css';
@import './components/Dropdown/index.css';
@import './containers/EditorHeader/index.css';
@import './components/EditorSearchInput/index.css';
@import './css/heading/index.css';
@import './css/links/index.css';
@import './components/TextDiff/index.css';
@import './components/ProgressBar/index.css';
@import './containers/KeyShortcutCheatSheet/index.css';
@import './components/FilterToggle/index.css';
@import './components/ToggleSwitch/index.css';
@import './components/TransUnit/index.css';
@import './components/RejectTranslationModal/index.css';
@import './components/InputGroup/index.css';
@import 'components/ConcurrentModal/index.css';


/**
 * Views
 */

@import './containers/Root/index.css';
@import './containers/SuggestionDetailsModal/index.css';
@import './containers/Sidebar/index.css';

/**
 * Theme
 *
 * Provides variables and custom media definitions.
 */
@import './css/theme/index.css';

/* Fix for hotkeys, remove this when reimplemented */

.fade {
  transition: opacity .25s easein;
  opacity: 0;
}

.fade.in {
  opacity: 1;
}

.line-through {
    text-decoration: line-through;
}
