<configuration>

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%rootException
     </pattern>
    </encoder>
  </appender>

  <logger name="org.hibernate" level="INFO" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

    <appender name="STDOUT-SQL"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%10t] [SQL] - %msg %n
            </pattern>
        </encoder>
    </appender>

    <!-- set to TRACE to see hibernate generated sql-->
    <logger name="org.hibernate.SQL" level="INFO">
    <!--<logger name="org.hibernate.SQL" level="TRACE">-->
        <appender-ref ref="STDOUT-SQL" />
    </logger>

</configuration>

