@import "../../styles/variables.less";

.toolbar {
  padding-top: @spacing-hr;
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  width: 90%;
  line-height: 2rem;
}

#newLang .react-autosuggest__container input {
  width: auto;
}

#newLang .has-feedback .form-control, #newLang .form-control {
  width: 96%;
  padding-right: 0;
}

#languages {

  span.languageCode {
    font-size: 0.9rem;
    color: #aaa;
  }

  table#languages-table {
    margin: 0;
    width: 100%;
  }
  select#sort-options {
    width: inherit;
  }

  select#sort-options {
    width: inherit;
  }

}

@media (min-width: @screen-md-min) {
  .toolbar {
    width: 100%;
  }
}
