.wideView.glossary {
  padding-bottom: 3rem;
}

.glossaryHeader {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}

.glossaryHeader .row {
  display: inline-flex;
  padding-top: 0.75rem;
  padding-bottom: 0.375rem;
  padding-right: 0.5rem;
  position: relative;
  width: 100%;
}

.glossaryHeader .row .row {
  width: 5rem;
  padding-left: 0.75rem;
}

.glossaryHeader-wrapper {
  right: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  position: fixed;
  left: 4.5rem;
  z-index: 100;
}

.glossaryHeader-base {
  border-bottom: solid 2px;
  border-bottom-color: rgb(237, 242, 248);
  background-color: #fff;
  padding-top: 0.75rem;
}

.glossaryTable {
  width: 100%;
  margin-top: 0.75rem;
}

.glossaryTable table {
  width: 100%;
}

.glossaryTable button {
  padding-left: 0;
}


.glossaryHeader-title {
  font-size: 1.2rem;
  margin-top: 0.715rem;
  margin-right: 0.375rem;
}

.glossaryHeader-actions {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.glossaryHeader-actions .textInput {
  min-width: 4rem;
}

/* Glossary specific */

#deleteEntries .tooltip-inner {
  max-width: 14rem;
}

table.glossaryEntry {
  width: 100%;
  margin-bottom: 0;
}

.glossaryBtn {
  margin-left: 0.75rem;
}

.glossaryBtn span.s1 {
  vertical-align: sub;
}

.row {
  display: block;
}

#deleteEntries .tooltip-inner {
  max-width: 14rem;
}

table.glossaryEntry {
  width: 100%;
  margin-bottom: 0;
}

.glossaryBtn {
  margin-left: 0.75rem;
}

.glossaryBtn span.s1 {
  vertical-align: sub;
}

.row {
  display: block;
}

.glossaryRow {
  padding-right: 0.75rem;
}

span.hidden-lesm.glossaryRow {
  margin-top: 0.375rem;
}

#glossarySelect {
  margin-right: 0.1875rem;
  width: 4.5rem;
}

.glossarySelect {
  position: absolute;
}

.glossaryHeader .selectMenu-outer {
  top: 0 !important;
  position: relative;
}


.glossaryPaging .textNeutralTotal {
  color: @color-neutral;
  margin-left: 0.75rem;
  margin-top: -0.3rem;
}

.glossaryPaging .textNeutralTotal .row {
  vertical-align: middle;
}

.glossaryList {
  margin-right: @spacing-base;
  margin-left: @spacing-base;
  font-size: 0.92rem;
}


.glossaryList .entry-row {
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
}

.glossaryPaging {
  margin-top: 0.6rem;
  margin-left: auto;
  padding-left: 4rem;
}


.glossaryPaging .u-textMuted {
  color: #A2B3BE;
  margin-left: 0.1875rem;
}


.glossarySearch {
  flex: 1;
  -webkit-box-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
  margin-left: 0;
}

@media (max-width: 29.375rem) {

  .glossaryhead-wrapper {
    left: 0;
    top: 0;
    background-color: #fff;
  }


  .glossaryTable {
    margin-top: 0.375rem;
  }

  .glossaryHeader {
    padding-top: 7rem;
  }

  .glossaryList {
    margin-top: 2rem;
  }

  .glossaryHeader-base {
    padding-top: 0;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
  }

  .glossaryHeader-title {
    font-size: 1.44rem;
    margin-right: 0;
  }

  .glossaryhead-wrapper {
    left: 0;
  }

}

@media (min-width: 29.376rem) {

  .glossaryHeader {
    padding-top: 8rem;
  }

  .glossaryList {
    margin-top: 2rem;
  }

  .glossaryHeader-base {
    margin-left: 1.5rem;
    margin-right: 1rem;
  }

  .glossaryHeader-title {
    margin-right: 1rem;
  }

  .wide-view-theme-glossary {
    margin-left: 2.5rem;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
  }

  .glossaryHeader-actions button {
    padding-left: 0;
    padding-right: 0;
  }

  .glossaryHeader-title {
    margin-right: 3rem;
  }

  .glossaryBtn {
    margin-left: 0.375rem;
  }

  .glossarySearch {
    flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -webkit-flex: 1;
    margin-left: 0.375rem;
  }

  .wide-view-theme-glossary {
    margin-left: 2.5rem;
    margin-right: 1rem;
  }

}
