.wideView.glossary {
  padding-bottom: 3rem;
}

.glossaryHeader {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}

.glossaryHeader .row {
  display: inline-flex;
  padding-top: 0.75rem;
  padding-bottom: 0.375rem;
  padding-right: 0.5rem;
  position: relative;
  width: 100%;
}

.glossaryHeader .row .row {
  width: 5rem;
  padding-left: 0.75rem;
}

.glossaryHeader-wrapper {
  right: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  position: fixed;
  left: 0;
  z-index: 100;
}

.glossaryHeader-base {
  border-bottom: solid 2px;
  border-bottom-color: rgb(237, 242, 248);
  background-color: #fff;
  padding-top: 0.75rem;
}

.glossaryTable {
  width: 100%;
  margin-top: 0.75rem;
}

.glossaryTable table {
  width: 100%;
}

.glossaryTable button {
  padding-left: 0;
}

.glossaryHeader-title {
  font-size: 1.44rem;
  margin-top: 0.715rem;
  margin-right: 0.375rem;
}

.glossaryHeader-actions {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.glossaryHeader-actions .textInput, .glossaryBtn.topBtn {
  margin-top: 0.6rem;
}

.glossaryHeader-actions .textInput {
  min-width: 8rem;
}

#deleteEntries .tooltip-inner {
  max-width: 14rem;
}

table.glossaryEntry {
  width: 100%;
  margin-bottom: 0;
}

.glossaryBtn {
  margin-left: 0.75rem;
}

.glossaryBtn span.s1 {
  vertical-align: sub;
}

.row {
  display: block;
}

.iconChevron {
  vertical-align: sub;
}

#deleteEntries .tooltip-inner {
  max-width: 14rem;
}

table.glossaryEntry {
  width: 100%;
  margin-bottom: 0;
}

.glossaryBtn {
  margin-left: 0.75rem;
}

.glossaryBtn span.s1 {
  vertical-align: sub;
}

.row {
  display: block;
}

.glossaryRow {
  padding-right: 0.75rem;
}

span.hidden-lesm.glossaryRow {
  margin-top: 0.375rem;
}

#glossarySelect {
  margin-right: 0.1875rem;
  width: 4.5rem;
}

.glossarySelect {
  position: absolute;
  z-index: 999;
}

.glossaryHeader .Select-menu-outer {
  top: 0 !important;
  position: relative;
}

.glossaryPaging .textNeutralTotal {
  color: #BDD4DC;
  margin-left: 0.75rem;
  margin-top: -0.3rem;
}

.glossaryPaging .textNeutralTotal .row {
  vertical-align: middle;
}

.glossaryList {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 0.92rem;
}

.glossaryList .entry-row {
  align-items: center;
  -webkit-align-items: center;
  /* Safari 7.0+ */
}

.glossaryPaging {
  margin-top: 0.6rem;
  margin-left: auto;
  padding-left: 4rem;
}

.glossaryPaging .u-textMuted {
  color: #A2B3BE;
  margin-left: 0.1875rem;
}

.glossarySearch {
  flex: 1;
  -webkit-box-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
  margin-left: 0;
}

td.languageSelect .Select {
  position: relative;
}

td.languageSelect .Select-input input {
  margin-top: 0.25em;
}

.languageDropdown-field {
  width: auto;
  display: inline-block;
}

.glossaryHeader .row .Select-control {
  width: 4em;
}

td.languageSelect .row {
  position: absolute;
  top: 1.3rem;
  right: 5rem;
}

td.languageSelect .row span {
  vertical-align: middle;
}

td.languageSelect .row span svg {
  vertical-align: inherit;
}

.entry-row, .glossaryPaging {
  display: flex !important;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}

td.languageSelect .selectClear {
  vertical-align: middle;
  top: 0.25em;
  color: #BDD4DC;
  font-size: 1.2em;
}


/* Locale */

.localeOptions {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  justify-content: space-between;
}

.localeOptions-label {
  flex: 1;
  -webkit-box-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 2rem;
}

.localeOptions-value {
  flex: none;
  padding-left: @spacing-re;
  text-align: right;
  max-width: 6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 1rem;
}

.localeOptions-count {
  flex: none;
  color: @color-muted;
  padding-left: @spacing-re;
  text-align: right;
  width: 3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 1rem;
}

.projectLink {
  display: inline-block;
  margin-left: 0.375rem;
}

@media (max-width: 29.375rem) {
  .glossaryhead-wrapper {
    left: 0;
    top: 0;
    background-color: #fff;
  }
  .glossaryTable {
    margin-top: 0.375rem;
  }
  .glossaryHeader {
    padding-top: 8rem;
  }
  .glossaryList {
    margin-top: 2rem;
  }
  .glossaryHeader-base {
    padding-top: 0;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
  }
  .glossaryhead-wrapper {
    left: 0;
  }
  .glossaryHeader-actions button {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 29.376rem) {
  .glossaryHeader {
    padding-top: 9rem;
  }
  .glossaryList {
    margin-top: 2rem;
  }
  .glossaryHeader-base {
    margin-left: 1.5rem;
    margin-right: 1rem;
  }
  .glossaryHeader-title {
    margin-right: 1rem;
  }
  .wide-view-theme-glossary {
    margin-left: 2.5rem;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
  }
  .glossaryHeader-title {
    margin-right: 3rem;
  }
  .glossaryBtn {
    margin-left: 0.375rem;
  }
  .glossarySearch {
    flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -webkit-flex: 1;
    margin-left: 0.375rem;
  }
  .glossaryHeader-wrapper {
    left: 4.5rem;
  }
  .wide-view-theme-glossary {
    margin-left: 2.5rem;
    margin-right: 1rem;
  }
}

@media (max-width: 1119px) {
  .glossaryHeader-actions .hidden-lesm {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .glossaryHeader-title {
    margin-right: 9em;
  }
}
