/* Editor Sidebar Styling */

.sidebar-editor {
  width:25%;
}

.sidebar-editor .nav-tabs li {
  width:50%;
}

.sidebar-wrapper {
  padding:0.75em;
}

.sidebar-heading {
  height:48px;
  background-color:#bcd4dc;
  color:#20718a;
  padding:0.75em;
  font-weight: 600;
}

.sidebar-heading svg {
  vertical-align: sub;
}

ul.sidebar-details {
  font-size:0.875em;
  color:#20718a;
  word-wrap:break-word;
}

ul.sidebar-details span {
  font-weight: 600;
}

span.details-nocontent {
  color: #b3b3b3;
  font-weight: 500 !important;
}

.details-content *, span.details-content {
  color: #20718A;
  font-weight: 500 !important;
}

.details-content .n1 {
  vertical-align:middle;
}

h2.validation {
  font-size: 15px;
  font-weight:600;
  color: #20718A;
}

.sidebar-settings .sidebar-wrapper ul {
  margin-bottom:1em;
}

li .checkbox {
  font-size:0.875em;
}

li .checkbox input {
  margin-right:0.375em !important;
}

.Button--spacing {
  margin-right:0.375em;
  margin-bottom: 0.375em;
}

.settings-reftrans {
  font-size:0.875em;
}

select.settings-select {
  color:#20718A;
  margin-bottom:1em;
}
