/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

#tabs {
	border-bottom: 1px solid #ddd;
	margin: 0 auto;
	position: static;
}


/* Skin */

.ui-tabs-nav {
    padding: 0 0 0 4px;
    margin: 0px;
    margin-left: 10px;
    padding-right: 10px;
    background: #ffffff;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    list-style: none;
	float: left;
    margin: 0 0 0 1px;
    min-width: 84px; /* be nice to Opera */
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: transparent url(../img/tab_grey.png) no-repeat;
}
.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    color: #525252 !important;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav a:hover {
	text-decoration: none !important;
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #525252 !important;
}
.ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
    cursor: pointer;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
    border: 1px solid #ddd;
    padding: 0;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(../img/loading.gif) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}

.tabs-right {
	float: right !important;
}

.tabs-far-right {
	padding-right: 5px;
}


/* Issues tab dropdown */
.ui-tabs-nav-issues {
	position: relative;
	z-index: 10 !important;
}

.ui-tabs-nav-issues ul {
	list-style-type: none !important;
	display: none;
	border: 1px solid #ddd;
	border-bottom: 0;
	width: 156px;
	z-index: 10 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.ui-tabs-nav-issues:hover ul {
	display: block;
	position: absolute;
	top: 25px;
	left: 0px;
	border-top: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 10 !important;
}

.ui-tabs-nav-issues ul li a {
	background: #fff !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: left !important;
	border-bottom: 1px solid #ddd;
	width: 136px;
	cursor: pointer !important;
	height: 12px !important;
	font-weight: normal !important;
	display: block;
	padding: 8px 10px !important;
	z-index: 10 !important;
}

.ui-tabs-nav-issues ul li a:hover {
	text-decoration: underline !important;
}

.ui-tabs-nav-issues ul li {
	width: 158px;
	clear: left;
	z-index: 10 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.ui-tabs-nav-issues ul li.odd {
	background: #fff !important;
}

.ui-tabs-nav-issues ul li.even {
	background: #f6f6f6 !important;
}

.tabs-issues-private {
	width: 962px !important;
}