/** @define Icon; use strict */

:root {
  --Icon-rhythm: 1.5rem;
  --Icon-transition-ease: cubic-bezier(.175, .885, .320, 1.275);
  --Icon-transition: .25s all var(--Icon-transition-ease);
}

.Icon {
  text-align: center;
  display: inline-block;
  transition: var(--Icon-transition);
}

.Icon.is-rotated {
  transform: rotate(180deg);
}

.Icon-item {
  vertical-align: -25%;
  display: inline-block;
  width: var(--Icon-rhythm);
  height: var(--Icon-rhythm);
  fill: currentColor !important;
}

.Icon--xlg .Icon-item {
  width: calc(var(--Icon-rhythm) * 2);
  height: calc(var(--Icon-rhythm) * 2);
}

.Icon--lg .Icon-item {
  width: calc(var(--Icon-rhythm) * 1.5);
  height: calc(var(--Icon-rhythm) * 1.5);
}

.Icon--sm .Icon-item {
  vertical-align: -15%;
  width: calc(var(--Icon-rhythm) * .75);
  height: calc(var(--Icon-rhythm) * .75);
}

.Icon--xsm .Icon-item {
  vertical-align: -10%;
  width: calc(var(--Icon-rhythm) * .625);
  height: calc(var(--Icon-rhythm) * .625);
}

.Icon--circle {
  position: relative;
  padding: calc(var(--Icon-rhythm) * .5);
}

.Icon--circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid;
  opacity: .2;
  border-radius: calc(var(--Icon-rhythm) * 2);
}

.Icon--circle.Icon--lg,
.Icon--circle.Icon--xlg {
  border-width: 3px;
  padding: calc(var(--Icon-rhythm) * .75);
}

.Icon--circle.Icon--lg {
  padding: calc(var(--Icon-rhythm) * .625);
}

.Icon--circle.Icon--sm,
.Icon--circle.Icon--xsm {
  border-width: 1px;
  padding: calc(var(--Icon-rhythm) * .375);
}

.Icon--circle.Icon--xsm {
  padding: calc(var(--Icon-rhythm) * .25);
}

.Icon--stroked .Icon-item {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
}

/* Loader Icon */

.Icon--loader .Icon-item {
  position: relative;
}

.Icon--loader-dot {
  position: absolute;
  left: 0;
  top: 36.1%;
  display: inline-block;
  width: 27.8%;
  height: 27.8%;
  animation: bouncedelay .9s infinite var(--Icon-transition-ease);
  border-radius: calc(var(--Icon-rhythm) * 2);
  background-color: currentColor;
  /* Prevent first frame from flickering when animation starts */

  animation-fill-mode: both;
}

.Icon--loader-dot:nth-of-type(2) {
  left: 36.1%;
  animation-delay: .15s;
}

.Icon--loader-dot:nth-of-type(3) {
  right: 0;
  left: auto;
  animation-delay: .3s;
}

@keyframes bouncedelay {
  0%,
  90%,
  100% {
    transform: scale(0, 0);
    opacity: .2;
  }
  40% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

