<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
            http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <filter>
        <filter-name>filesFromRepoFilter</filter-name>
        <filter-class>org.jboss.shotoku.web.FilesFromRepoFilter</filter-class>
        <init-param>
            <param-name>repoAccessDir</param-name>
            <param-value>repo-access</param-value>
        </init-param>
        <init-param>
            <param-name>contentManagerPrefix</param-name>
            <param-value>default/file-access</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>filesFromRepoFilter</filter-name>
        <url-pattern>/repo-access/*</url-pattern>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>fileAccessServlet</servlet-name>
        <servlet-class>org.jboss.shotoku.fileaccess.FileAccessServlet</servlet-class>
        <init-param>
            <param-name>configFileDirectory</param-name>
            <param-value>default/file-access</param-value>
        </init-param>
        <init-param>
            <param-name>contentManagerId</param-name>
            <param-value>default</param-value>
        </init-param>
        <init-param>
            <param-name>contentManagerPrefix</param-name>
            <param-value></param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>fileAccessServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>