<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/flies-client-ant-po/src/main/java/org/fedorahosted/flies/client/ant/po/UploadPoTask.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.fedorahosted.flies.client.ant.po.UploadPoTask"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--help"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="flies-client-ant-po"/>
</launchConfiguration>
