/* Editor Sidebar Styling */

.sidebar-editor {
  max-width:35%;
}

.sidebar-editor :focus {
  outline: 0;
}

.sidebar-editor .nav-tabs li {
  width:50%;
}

.sidebar-wrapper {
  padding:0.75em;
  background-color: #fff;
}

.sidebar-heading {
  height:48px;
  background-color:#bcd4dc;
  color:#20718a;
  padding:0.75em;
  font-weight: 600;
}

.sidebar-heading svg {
  vertical-align: sub;
}

ul.sidebar-details {
  font-size:0.875em;
  color:#20718a;
  word-wrap:break-word;
}

.tab-content {
  clear:both;
}

ul.sidebar-details span {
  font-weight: 600;
}

span.details-nocontent {
  color: #b3b3b3;
  font-weight: 500 !important;
}

.details-content *, span.details-content {
  color: #20718A;
  font-weight: 500 !important;
}

.details-content .n1 {
  vertical-align:middle;
}

span.s1.gloss-tab-svg, span.s1.act-tab-svg {
  vertical-align: sub;
  margin-right: 0.375em;
}

a#sidebartabs-tab-1, a#sidebartabs-tab-2 {
  font-weight: 600;
}

#sidebartabs-pane-2 {
  background-color: rgb(228, 238, 241);
}

ul.nav-tabs li.active {
  color:#20718a;
}

table {
  width: 95%;
  margin: 0.75em;
  color:#20718A;
  text-align: left;
  font-size:0.875em;
}

table th {
 border-bottom: solid 1px #bcd4dc;
  color:#333;
}

table tbody tr {
  height: 2em;
}

.bold-text {
  font-weight:600;
  color:#333;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

table td button.Button--link {
  color:#03a6d7;
  vertical-align:bottom;
}


.inline-flex-search .form-group {
  vertical-align:sub;
}

.sidebar-editor select {
  color:#20718a;
}

.hide-sidebar-toggle span {
  vertical-align: sub;
}

@media (max-width:1009px) {
  .inline-flex-search {
    display: block;
  }

  .inline-flex-search .InputGroup--outlined {
    width:100%;
    padding-bottom: 0.375em;
  }

}

@media (min-width:1100px) {
  .inline-flex-search {
    display: inline-flex;
  }

  .inline-flex-search .InputGroup--outlined {
    width:70%;
  }

  .inline-flex-search .form-group {
    margin-left:0.375em;
  }

  .inline-flex-search .form-group select.form-control {
    vertical-align: sub;
  }
}

