/* Editor Sidebar Styling */

.sidebar-editor {
  max-width:35%;
  float: right !important;
  position: static !important;
  padding-top: 90px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  height: 99.5% !important;
  overflow: scroll !important;

}

.sidebar-editor :focus {
  outline: 0;
}

.sidebar-editor .nav-tabs li {
  width:50%;
}

.sidebar-wrapper {
  padding:0.75em;
  background-color: #fff;
}

.sidebar-heading {
  height:48px;
  background-color:#bcd4dc;
  color:#20718a;
  padding:0.75em;
  font-weight: 600;
}

.sidebar-heading svg {
  vertical-align: sub;
}

ul.sidebar-details {
  font-size:0.875em;
  color:#20718a;
  word-wrap:break-word;
}

#sidebartabs-pane-1.tab-pane.active {
  height:inherit;
}

#sidebartabs-pane-1.tab-pane.active table thead {
  color:#20718a;
}

#sidebartabs-pane-1.tab-pane.active table tbody tr {
  height: inherit;
}

#sidebartabs-pane-1 td .Button--primary {
  margin-right: 0.75em;
}

.tab-content > .active {
  display: block;
}


.tab-content {
  clear:both;
}

td.info-icon {
  vertical-align: bottom;
}

ul.sidebar-details span {
  font-weight: 600;
}

span.details-nocontent {
  color: #b3b3b3;
  font-weight: 500 !important;
}

.details-content *, span.details-content {
  color: #20718A;
  font-weight: 500 !important;
}

.details-content .n1 {
  vertical-align:middle;
}

span.s1.gloss-tab-svg, span.s1.act-tab-svg {
  vertical-align: sub;
  margin-right: 0.375em;
}

span.s1.details-svg {
  margin-right: 0.375em;
}

a#sidebartabs-tab-1, a#sidebartabs-tab-2 {
  font-weight: 600;
}

a#sidebartabs-tab-1 {
  background-color: rgb(228, 238, 241);
  color:#20718a;
  width:200%;
}

ul.nav-tabs li.active {
  color:#20718a;
}

table {
  width: 95%;
  margin: 0.75em;
  color:#20718A;
  text-align: left;
  font-size:0.875em;
}

table th {
 border-bottom: solid 1px #bcd4dc;
  color:#333;
}

table tbody tr {
  height: 2em;
}

.gloss-text {
  color:#333;
}

.no-gloss-results, .enter-search-text, .search-glos {
  color:#20718a;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-top:0.75em;
}

.no-gloss-results svg, .enter-search-text svg {
  fill: #a9bfc6;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

table td button.gButton--link {
  color:#03a6d7;
  vertical-align:bottom;
}

#long-string {
  padding-bottom:0.75em;
  width: 10em;
}

#long-string span {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: normal;
}

#long-string span:after {
  content: attr(data-filetype);
  left: 100%;
  position: absolute;
  top: 0;
 }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.333em;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 0.857rem;
  border-color:#333;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top {
  margin-top: -0.75em;
  padding: 0.375em 0;
}

.tooltip-inner {
  max-width: 15rem;
  padding: 0.5em;
  color: #fff;
  text-align: center;
  background-color: #333;
  border-radius:3px;
  border: solid 2px #333;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  border-width: 5px 5px 0;
  border-top-color: #333;
}

table td {
  white-space: nowrap;
  width: inherit;
  overflow: hidden;
  position: relative;
  text-overflow:ellipsis;
}

.inline-flex-search .form-group {
  vertical-align:sub;
}

.sidebar-editor select {
  color:#20718a;
}

.hide-sidebar-toggle span {
  vertical-align: sub;
}

.inline-flex-search .InputGroup--outlined {
  width:100%;
}

@media (max-width: 740px) {
  table td button.Button--link {
    padding-right: 0.375em;
  }
}

@media (max-width:1009px) {
  .inline-flex-search {
    display: block;
  }

}

@media (min-width:1100px) {
  .inline-flex-search {
    display: inline-flex;
  }

  .inline-flex-search .form-group {
    margin-left:0.375em;
  }

  .inline-flex-search .form-group select.form-control {
    vertical-align: sub;
  }
}

