<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<context-param>
	  <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
	  <param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
        <param-name>org.ajax4jsf.SKIN</param-name>
        <param-value>ruby</param-value>
	</context-param>

	<!-- WelcomeFile Filter -->
	<!--
		<filter>
		<filter-name>WelcomeFile Filter</filter-name>
		<filter-class>org.apache.myfaces.webapp.filter.WelcomeFileFilter</filter-class>
		<description>
		Due to the manner in which the JSP / servlet lifecycle
		functions, it is not currently possible to specify default
		welcome files for a web application and map them to the
		MyFacesServlet.  Normally they will be mapped to the
		default servlet for the JSP container.  To offset this
		shortcoming, we utilize a servlet Filter which examines
		the URI of all incoming requests.
		</description>
		</filter>
	-->

	<filter>
        <display-name>Ajax4jsf Filter</display-name>
        <filter-name>ajax4jsf</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ajax4jsf</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    
    <!-- Filter for development 
    <filter>
        <filter-name>filesFromRepoFilter</filter-name>
        <filter-class>org.jboss.shotoku.cache.admin.WebFilesystemFilter</filter-class>
        <init-param>
            <param-name>realDir</param-name>
            <! <param-value>/home/adamw/shotoku/shotoku-cache/cache-admin/src/web</param-value> >
            <param-value>/Users/adamwarski/shotoku/shotoku-cache/cache-admin/src/web</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>filesFromRepoFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>-->

	<!-- Listener, that does all the startup work (configuration, init). -->
	<listener>
		<listener-class>
			org.apache.myfaces.webapp.StartupServletContextListener
		</listener-class>
	</listener>

	<!-- Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<!-- Faces Servlet Mapping -->

	<!-- virtual path mapping -->

	<!--
		<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
		</servlet-mapping>
	-->

	<!-- extension mapping -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>


	<!-- Welcome files -->

	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Security -->

	<security-constraint>
        <web-resource-collection>
            <web-resource-name>All resources</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ShotokuCacheAdmin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>ShotokuCacheAdmin</role-name>
    </security-role>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
</web-app>
